<div class="p-10">
    <jhi-alert></jhi-alert>
    <div class="col-sm-12" [hidden]="searchNotAllowed">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.'+headers[0] | translate }}, {{ 'entity.common.'+headers[1] | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive" *ngIf="datas && datas.length">
        <table class="table table-striped table-xs table-modal" *ngIf="context != 'stockMovement' || (context == 'stockMovement' && entity != 'shelf')">
            <thead>
                <tr *ngIf="(context != 'OrderDetails' && context != 'DeliveredEquipement') || (context == 'DeliveredEquipement' && entity == 'kit')"
                    jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th *ngFor="let header of headers" jhiSortBy="{{ header }}">
                        <span>{{ 'entity.common.'+header | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
                <tr *ngIf="(context == 'OrderDetails' || context == 'DeliveredEquipement') && entity == 'article'" jhiSort [(predicate)]="predicate"
                    [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th *ngFor="let header of headers" jhiSortBy="{{ 'article.'+header }}">
                        <span>{{ 'entity.common.'+header | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
                <tr *ngIf="context == 'OrderDetails' && entity == 'kit'" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th *ngFor="let header of headers" jhiSortBy="{{ 'kit.'+header }}">
                        <span>{{ 'entity.common.'+header | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="!normalisation">
                <tr *ngFor="let data of datas ;trackBy: trackId" (click)="selectEntity(data)" style="cursor: pointer;">
                    <td *ngFor="let header of headers">{{ header != 'remainingQuantity' ? data[header] : (data['orderedQuantity'] - data['receivedQuantity'])}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="normalisation && entity == 'article'">
                <tr *ngFor="let data of datas ;trackBy: trackId" (click)="selectEntity(data)" style="cursor: pointer;">
                    <td *ngFor="let header of headers">{{ data.article[header] }}</td>
                </tr>
            </tbody>
            <tbody *ngIf="normalisation && entity == 'kit'">
                <tr *ngFor="let data of datas ;trackBy: trackId" (click)="selectEntity(data)" style="cursor: pointer;">
                    <td *ngFor="let header of headers">{{ data.kit[header] }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-xs table-modal" *ngIf="context == 'stockMovement' && entity == 'shelf'">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 10%">
                        <span>{{ 'entity.common.code' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 22%">
                        <span>{{ 'entity.common.name' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.description" style="width: 18%">
                        <span>{{ 'entity.shelvingUnit.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.headquarter.description" style="width: 35%">
                        <span>{{ 'entity.headquarter.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.headquarter.company.description" style="width: 15%">
                        <span>{{ 'entity.company.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of datas" (click)="selectEntity(data)" style="cursor: pointer;">
                    <td>{{ data['code'] }}</td>
                    <td>{{ data['description'] }}</td>
                    <td>{{ data.shelvingUnit['description'] }}</td>
                    <td>{{ data.shelvingUnit.headquarter['description'] }}</td>
                    <td>{{ data.shelvingUnit.headquarter.company['description'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(datas && datas.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span class="">{{'message.info.emptytab' |translate}}</span>
        </div>
    </ng-template>
</div>