<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="snip">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.barCode"></span></th>
                    <td><span>{{snip.barCode}}</span></td>
                </tr>
                
                <tr>
                    <th><span jhiTranslate="entity.slot.default"></span></th>
                    <td> 
                        <div *ngIf="snip.slot" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/slot', snip.slot?.id]">{{snip.slot?.barCode}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.note' | translate}} </span></th>
                                    <td>{{snip.slot?.note}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.drawer.default"></span></th>
                    <td>
                        <div *ngIf="snip.slot.drawer" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/drawer', snip.slot.drawer?.id]">{{snip.slot.drawer?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{snip.slot.drawer?.description}}</td>
                                </tr>
                            </table>
                        </div>
                   </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelf.default"></span></th>
                    <td>
                        <div *ngIf="snip.slot.drawer.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelf', snip.slot.drawer.shelf?.id]">{{snip.slot.drawer.shelf?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{snip.slot.drawer.shelf?.description}}</td>
                                </tr>
                            </table>
                        </div>
                   </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelvingUnit.default"></span></th>
                    <td>
                        <div *ngIf="snip.slot.drawer.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelving-unit', snip.slot.drawer.shelf.shelvingUnit?.id]">{{snip.slot.drawer.shelf.shelvingUnit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{snip.slot.drawer.shelf.shelvingUnit?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.headquarter.default"></span></th>
                    <td>
                        <div *ngIf="snip.slot.drawer.shelf.shelvingUnit.headquarter" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/headquarter', snip.slot.drawer.shelf.shelvingUnit.headquarter?.id]">{{snip.slot.drawer.shelf.shelvingUnit.headquarter?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{snip.slot.drawer.shelf.shelvingUnit.headquarter?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.company.default"></span></th>
                    <td>
                        <div *ngIf="snip.slot.drawer.shelf.shelvingUnit.headquarter.company" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/company', snip.slot.drawer.shelf.shelvingUnit.headquarter.company?.id]">{{snip.slot.drawer.shelf.shelvingUnit.headquarter.company?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{snip.slot.drawer.shelf.shelvingUnit.headquarter.company?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'snip/'+ snip.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>