<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="mySnipLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.snip.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.snip.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.shelvingUnit.default" for="field_shelvingUnit"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="this.descriptionShelvingUnit" (ngModelChange)="shelvingUnit.code=$event" id="field_shelvingUnit"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.shelvingUnit.select' | translate}}"
                                name="shelvingUnit" required>
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('shelvingUnitModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!shelvingUnit && shelvingUnit == null" class="input-group-addon pointer" (click)="shelvingUnit = null;descriptionshelvingUnit=''"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span> 
                        </div>
                        
                    </div>
                    <div [hidden]="!(editForm.controls.shelvingUnit?.dirty && editForm.controls.shelvingUnit?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.shelvingUnit?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div class="form-group" *ngIf = "shelvingUnit">
                        <label class="form-control-label" jhiTranslate="entity.shelf.default" for="field_shelf"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="this.descriptionShelf" (ngModelChange)="shelf.code=$event" id="field_shelf"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.shelf.select' | translate}}"
                                name="shelf" required>
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('shelfModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!shelf && shelf == null" class="input-group-addon pointer" (click)="shelf = null;descriptionshelf=''"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span> 
                        </div>
                        
                    </div>
                    <div [hidden]="!(editForm.controls.shelf?.dirty && editForm.controls.shelf?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.shelf?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div class="form-group" *ngIf = "slot" > 
                        <label class="form-control-label" jhiTranslate="entity.common.barCode" for="field_barCode"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" class="form-control" class="form-control ng-pristine ng-untouched ng-valid" name="barCode" id="field_barCode" [(ngModel)]="barCode"
                                required>
                            <div [hidden]="!(editForm.controls.barCode?.dirty && editForm.controls.barCode?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.barCode?.errors?.required" jhiTranslate="message.error.required">
                                </small>
                            </div>
                        </div>
                        <small class="form-text text-danger" [hidden]="!existCode"> 
                            {{ 'message.error.codeExist' | translate}}
                        </small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" *ngIf = "shelf">
                        <label class="form-control-label" jhiTranslate="entity.drawer.default" for="field_drawer"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="this.descriptionDrawer" (ngModelChange)="drawer.code=$event" id="field_drawer"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.drawer.select' | translate}}"
                                name="drawer" required>
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('drawerModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!drawer && drawer == null" class="input-group-addon pointer" (click)="drawer = null;descriptionDrawer=''"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span> 
                        </div>
                        
                    </div>
                    <div [hidden]="!(editForm.controls.drawer?.dirty && editForm.controls.drawer?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.shelf?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div class="form-group" *ngIf = "drawer">
                        <label class="form-control-label" jhiTranslate="entity.slot.default" for="field_slot"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="this.descriptionSlot" (ngModelChange)="slot.code=$event" id="field_slot"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.slot.select' | translate}}"
                                name="slot" required>
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('slotModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!slot && slot == null" class="input-group-addon pointer" (click)="slot = null;descriptionslot=''"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span> 
                        </div>
                        
                    </div>
                    <div [hidden]="!(editForm.controls.slot?.dirty && editForm.controls.slot?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.slot?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                </div>
            </div>
        </div>
            <!--<div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.note" for="field_note"></label>
                <textarea type="text" class="form-control" name="note" id="field_note" [(ngModel)]="slot.note"></textarea>
               
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                        translateValues="{ max: 2560 }">
                    </small>
                </div>
            </div>-->
        </div>
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="button" (click) = "save()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'shelvingUnitModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.shelvingUnit.select"></h3>
        <jhi-filter *ngIf="shelvingUnitModal"  [entity]="'shelvingUnit'" [path]="'shelving-units/active'" [headers]="['code', 'description']" (onSelect)="assignShelvingUnit($event)"></jhi-filter>
        <button (click)="closeModal('closeShelvingUnitBtn')" aria-label="Close" class="md-close-btn" id="closeShelvingUnitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <app-modal-animation [modalID]="'shelfModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.shelf.select"></h3>
        <jhi-filter *ngIf="shelfModal"  [entity]="'shelf'" [path]="'shelves/getShelvesOfGivenShelvingUnit?code=' + shelvingUnit.code" [headers]="['code', 'description']" (onSelect)="assignShelf($event)"></jhi-filter>
        <button (click)="closeModal('closeShelfBtn')" aria-label="Close" class="md-close-btn" id="closeShelfBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <app-modal-animation [modalID]="'drawerModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.drawer.select"></h3>
        <jhi-filter *ngIf="drawerModal"  [entity]="'drawer'" [path]="'drawers/getDrawersOfGivenShelf?code=' + shelf.code" [headers]="['code', 'description']" (onSelect)="assignDrawer($event)"></jhi-filter>
        <button (click)="closeModal('closeDrawerBtn')" aria-label="Close" class="md-close-btn" id="closeDrawerBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <app-modal-animation [modalID]="'slotModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.slot.select"></h3>
        <jhi-filter *ngIf="slotModal"  [entity]="'SnipBelongToSlot'"  [path]="'slots/getSlotsOfGivenDrawerToModal/'+drawer.id + '/?state=empty'" [headers]="['barCode', 'note']" (onSelect)="assignSlot($event)"></jhi-filter>
        <button (click)="closeModal('closeSlotBtn')" aria-label="Close" class="md-close-btn" id="closeSlotBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>