<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="drawer">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{drawer.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.name"></span></th>
                    <td><span>{{drawer.name}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{drawer.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.barCode"></span></th>
                    <td><span>{{drawer.barCode}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelf.default"></span></th>
                    <td>
                        <div *ngIf="drawer.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelf', drawer.shelf?.id]">{{drawer.shelf?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{drawer.shelf?.description}}</td>
                                </tr>
                            </table>
                        </div>
                   </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelvingUnit.default"></span></th>
                    <td>
                        <div *ngIf="drawer.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelving-unit', drawer.shelf.shelvingUnit?.id]">{{drawer.shelf.shelvingUnit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{drawer.shelf.shelvingUnit?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.headquarter.default"></span></th>
                    <td>
                        <div *ngIf="drawer.shelf.shelvingUnit.headquarter" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/headquarter', drawer.shelf.shelvingUnit.headquarter?.id]">{{drawer.shelf.shelvingUnit.headquarter?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{drawer.shelf.shelvingUnit.headquarter?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.company.default"></span></th>
                    <td>
                        <div *ngIf="drawer.shelf.shelvingUnit.headquarter.company" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/company', drawer.shelf.shelvingUnit.headquarter.company?.id]">{{drawer.shelf.shelvingUnit.headquarter.company?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{drawer.shelf.shelvingUnit.headquarter.company?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'drawer/'+ drawer.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>