<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <div class="col-sm-12 card">
        <div class="widgettitle row">
            <ul class="col-sm-4">
                <li class="active ng-binding">
                    <span jhiTranslate="entity.product.default"></span> : {{product?.description}}
                </li>
            </ul>
            <ul class="col-sm-4">
                <li class="active ng-binding text-center">
                    <span jhiTranslate="entity.commande.plural"></span>
                </li>
            </ul>
            <ul class="col-sm-4">
                <li class="clickable text-right">
                    <span class="fa fa-arrow-left fa-16 tenRMargin" [routerLink]="['../../../product']"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive" *ngIf="commandes">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code">
                        <span jhiTranslate="entity.short.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description">
                        <span jhiTranslate="entity.short.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="supplier.id">
                        <span jhiTranslate="entity.supplier.short"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="totalCost">
                        <span jhiTranslate="entity.commande.short.totalCost"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="orderDate">
                        <span jhiTranslate="entity.commande.short.orderDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="requiredDeliveryDate">
                        <span jhiTranslate="entity.commande.short.requiredDeliveryDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="orderState">
                        <span jhiTranslate="entity.commande.short.orderState"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commande of commandes ;trackBy: trackId">
                    <td>{{commande.code}}</td>
                    <td>{{commande.description}}</td>
                    <td>
                        <div *ngIf="commande.supplier">
                            <a [routerLink]="['../supplier', commande.supplier?.id ]">{{commande.supplier?.companyName}}</a>
                        </div>
                    </td>
                    <td>{{commande.totalCost}}</td>
                    <td>{{commande.orderDate | date:'mediumDate'}}</td>
                    <td>{{commande.requiredDeliveryDate | date:'mediumDate'}}</td>
                    <td jhiTranslate="{{'state.order.short.' + commande.orderState}}">{{commande.orderState}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(commandes && commandes.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>