<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper" style="padding: 0px;">
            <!-- Page-header start -->
            <div class="page-header card">
                <div class="card-block" style="padding: 0px;">
                    <div class="col-sm-12 col-xl-6 f-right">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="displayAdvanced()" placement="bottom" ngbTooltip="{{ 'action.search.advanced.tooltip' | translate }}">
                                    <span class="fa fa-filter"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                    <span class="fa fa-trash-o"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->

            <!-- Page body start -->
            <div class="page-body" *ngIf="showFilter">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Time card start -->
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <h5 jhiTranslate="entity.commande.field.orderDate"></h5>
                                    </div>
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <span jhiTranslate="prep.from"></span>
                                        <input class="form-control" type="date" [(ngModel)]="fromOrder" (change)="search(currentSearch)" />
                                    </div>
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <span jhiTranslate="prep.to"></span>
                                        <input class="form-control" type="date" [(ngModel)]="toOrder" (change)="search(currentSearch)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Time card start -->
                        <div>
                            <div style="padding: 5px;">
                                <div class="row">
                                    <div class="form-radio col-sm-6 col-xl-8 m-b-5">
                                        <div class="input-group w-100 mt-3">
                                            <form>
                                                <div class="radio radio-matrial radio-default radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="All" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="prep.all"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-primary radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="OP" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.order.default.OP"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-success radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="PDL" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.order.default.PDL"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-danger radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="CL" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.order.default.CL"></span>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4 m-b-5 f-right">
                                        <div class="animation-model">
                                            <div class="input-group w-100 mt-3">
                                                <input type="text" [ngModel]="selectedSupplier?.companyName" (ngModelChange)="selectedSupplier.companyName=$event" class="form-control ng-pristine ng-untouched ng-valid"
                                                    (disabled)="true" disabled="disabled" placeholder="{{'entity.supplier.select' | translate}}">
                                                <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('supplierModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                                    <i class="fa fa-th"></i>
                                                </span>
                                            </div>
                                            <!-- animation modal Dialogs start -->
                                            <app-modal-animation [modalID]="'supplierModal'" [modalClass]="'md-effect-1'">
                                                <h3 jhiTranslate="entity.supplier.select"></h3>
                                                <jhi-filter [entity]="'supplier'" [path]="'suppliers'" [headers]="['companyName', 'email']" (onSelect)="assignSupplier($event)"></jhi-filter>
                                                <button (click)="closeMyModal()" aria-label="Close" class="md-close-btn" id="closeSupplierBtn">
                                                    <i class="icofont icofont-ui-close"></i>
                                                </button>
                                            </app-modal-animation>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="commandes">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 8%">
                        <span jhiTranslate="entity.short.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 20%">
                        <span jhiTranslate="entity.short.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="supplier.id" style="width: 18%">
                        <span jhiTranslate="entity.supplier.short"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="orderDate" style="width: 10%">
                        <span jhiTranslate="entity.commande.short.orderDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="totalCost" style="width: 8%">
                        <span jhiTranslate="entity.commande.short.totalCost"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="requiredDeliveryDate" style="width: 10%">
                        <span jhiTranslate="entity.commande.short.requiredDeliveryDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="orderState" style="width: 10%">
                        <span jhiTranslate="entity.commande.short.orderState"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['commande-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                       
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commande of commandes ;trackBy: trackId">
                    <td>{{commande.code}}</td>
                    <td>{{commande.description}}</td>
                    <td>
                        <div *ngIf="commande.supplier">
                            <a [routerLink]="['../supplier', commande.supplier?.id ]">{{commande.supplier?.companyName}}</a>
                        </div>
                    </td>
                    <td>{{commande.orderDate | date:'mediumDate'}}</td>
                    <td>{{commande.totalCost}}</td>
                    <td>{{commande.requiredDeliveryDate | date:'mediumDate'}}</td>
                    <td jhiTranslate="{{'state.order.short.' + commande.orderState}}">{{commande.orderState}}</td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../commande', commande.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action"
                            title="{{'action.view.label' | translate}}">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" (click)="showWindowPrint(commande,'pdf')" class="btn btn-primary btn-outline-primary btn-icon btn-table-action"
                            title="{{'action.report.label' | translate}}">
                            <i class="fa fa-print"></i> 
                        </button>
                        <button   type="submit"
                                (click)="loadRepportsWord(commande,'word')" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                <i class="fa fa-file-word-o"></i>
                        </button>
                        <button type="submit" [routerLink]="['../order', commande.id,'order-details' ]" class="btn btn-info btn-outline-info btn-icon btn-table-action"
                            title="{{'action.details.label' | translate}}">
                            <i class="fa fa-list-alt"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'commande/'+ commande.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary btn-outline-primary btn-icon btn-table-action" title="{{'action.edit.label' | translate}}">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'commande/'+ commande.id + '/delete'} }]" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-danger btn-outline-danger btn-icon btn-table-action" title="{{'action.delete.label' | translate}}">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(commandes && commandes.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>

<div #printOrderReport style="display: none">
    <div style="width: 800px; margin: 0 auto;font-family: 'Arial';">
        <!-- *ngFor="let printDoc of printQueue; let last=last"> -->
        <div id="page1">
            <div style="position: relative;margin-top: 20px;height: 70px;">
                <img style="position: absolute;width: 320px;height: 70px;left: 240px" src="../../../content/assets/images/rsz_logo.png" />
            </div>
            <div style="padding: 20px;">
                <div style="height: 130px; margin-bottom: 20px;font-size: 9pt;">
                    <div style="width: 200px;float: right; padding: 5px;">
                        <span style="font-size: 12pt; font-family: 'Times New Roman'; font-weight: bold; line-height: 1.4">Spett.</span>
                        <br>
                        <span style="font-weight: bold">{{selectedOrder?.supplier?.companyName}}</span>
                        <br>
                        <span>{{selectedOrder?.supplier?.address?.street}}</span>
                        <br>
                        <span style="line-height: 1.4">{{selectedOrder?.supplier?.address?.zipCode}} {{selectedOrder?.supplier?.address?.city}} {{selectedOrder?.supplier?.address?.state}}</span>
                        <br>
                        <span style="font-size: 12pt; font-family: 'Times New Roman'; font-weight: bold">alla c.a.</span>
                        <br>
                        <span>dr. Sergio Callegaretti</span>
                        <br>
                        <span>sig.ra Daniela Gatto</span>
                    </div>
                </div>
                <div style="position: relative; margin-bottom: 20px;">
                    <table style="width: 100%;border-collapse: collapse;border: 1px solid gray;">
                        <tr style="height: 40px;font-size: 12pt;font-weight: bold;">
                            <th style="width: 30%;border: 1px solid gray;text-align: left;padding-left: 15px;font-style: italic;">DATA ORDINE</th>
                            <th style="width: 30%;border: 1px solid gray;text-align: left;padding-left: 15px;font-style: italic;">Num.Ordine</th>
                            <th style="width: 40%;border: 1px solid gray;text-align: left;padding-left: 15px;font-style: italic;">Ns. rif. (da indicare in fattura)</th>
                        </tr>
                        <tr style="height: 60px;font-size: 12pt;font-weight: bold;">
                            <td style="width: 30%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 8px;vertical-align: top;">
                                {{selectedOrder?.orderDate | date: 'dd MMM yyyy'}}
                            </td>
                            <td style="width: 30%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 8px;vertical-align: top;">
                                {{selectedOrder?.code}}
                            </td>
                            <td style="width: 40%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 8px;vertical-align: top;">

                            </td>
                        </tr>
                    </table>
                </div>
                <h1 style="font-weight: bold; font-size: 12pt; font-family: 'Times New Roman'; margin-left: 30px">Fornitura</h1>
                <div style="position: relative; margin-bottom: 20px;" *ngIf="selectedOrder?.orderDetails?.length != 0" >
                    <table style="width: 100%;border-collapse: collapse;border: 1px solid gray;">
                        <tr style="height: 20px;font-weight: bold; font-family: 'Arial'; font-size: 11pt">
                            <th style="width: 20%;border: 1px solid gray;text-align: left;padding-left: 15px;">Rif</th>
                            <th style="width: 50%;border: 1px solid gray;text-align: left;padding-left: 15px;">Descrizione</th>
                            <th style="width: 10%;border: 1px solid gray;text-align: left;padding-left: 15px;">P.U.</th>
                            <th style="width: 10%;border: 1px solid gray;text-align: left;padding-left: 15px;">Qta</th>
                            <th style="width: 10%;border: 1px solid gray;text-align: left;padding-left: 15px;">P.T.</th>
                        </tr>
                        <tr *ngFor="let detail of selectedOrder?.orderDetails" style="font-size: 8pt; font-family: 'Arial Narrow'; font-weight: 100;">
                            <td style="width: 30%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{detail?.code}}
                            </td>
                            <td style="width: 30%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{detail?.description}}
                            </td>
                            <td style="width: 40%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{detail?.unitPrice}}
                            </td>
                            <td style="width: 40%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{detail?.orderPackage}}
                            </td>
                            <td style="width: 40%;border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{detail?.unitPrice * detail?.orderPackage}}
                            </td> 
                        </tr>
                    </table>
                </div>

                <h1 style="font-weight: bold; font-size: 12pt; font-family: 'Times New Roman'; margin-left: 30px">Quotazione economica</h1>
                <div style="position: relative; margin-bottom: 20px;">
                    <table style="width: 100%;border-collapse: collapse;border: 1px solid gray;">
                        <tr style="height: 20px;font-weight: bold; font-family: 'Arial'; font-size: 11pt">
                            <th style="width: 10%;border: 1px solid gray;text-align: center;">Rif</th>
                            <th style="width: 18%;border: 1px solid gray;text-align: center;">Descrizione</th>
                            <th style="width: 12%;border: 1px solid gray;text-align: center;">Importo <br>Unitario <br>€</th>
                            <th style="width: 10%;border: 1px solid gray;text-align: center;">Qta</th>
                            <th style="width: 12%;border: 1px solid gray;text-align: center;">Importo <br>Totale <br>€</th>
                            <th style="width: 12%;border: 1px solid gray;text-align: center;">Importo <br>Scontato <br>€</th>
                            <th style="width: 10%;border: 1px solid gray;text-align: center;">IVA</th>
                            <th style="width: 12%;border: 1px solid gray;text-align: center;">Importo <br>IVA <br>€</th>
                        </tr>
                        <tr style="font-size: 10pt; font-family: 'Times New Roman'; font-weight: 100;">
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">

                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">

                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">

                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">

                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                
                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{selectedOrder?.totalCost}}
                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{selectedOrder?.supplier?.tvaCode?.value}} %
                            </td>
                            <td style="border: 1px solid gray;text-align: left;padding-left: 15px;padding-top: 2px;vertical-align: top;">
                                {{selectedOrder?.totalCost * (selectedOrder?.supplier?.tvaCode?.value / 100)}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="height: 60px; margin-bottom: 20px;font-size: 11pt; font-weight: bold;">
                    <div style="width: 400px;float: right; padding: 5px;border: 1px solid gray;">
                        <table style="width: 100%;">
                            <tr style="height: 20px;font-weight: bold; font-family: 'Arial'; font-size: 11pt">
                                <td style="text-align: left;padding-left: 10px;padding-top: 2px;vertical-align: top;width: 60%;">
                                    IMPONIBILE:
                                    <span style="float: right; text-align: right; padding-right: 10px;">{{selectedOrder?.totalCost}}</span>
                                </td>
                                <td style="text-align: left;padding-left: 10px;padding-top: 2px;vertical-align: top;width: 40%;">
                                    IVA:
                                    <span style="float: right; text-align: right; padding-right: 10px;">{{selectedOrder?.totalCost * (selectedOrder?.supplier?.tvaCode?.value / 100)}}</span>
                                </td>
                            </tr>
                            <tr style="height: 20px;font-weight: bold; font-family: 'Arial'; font-size: 11pt">
                                <td style="text-align: center;padding-top: 2px;vertical-align: top;width: 60%;">
                                    TOTALE ORDINE :
                                </td>
                                <td style="text-align: right;padding-right: 10px;padding-top: 2px;vertical-align: top;width: 40%;">
                                    {{selectedOrder?.totalCost + (selectedOrder?.totalCost * (selectedOrder?.supplier?.tvaCode?.value / 100))}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div style="height: 160px; margin-bottom: 20px;font-size: 10pt; font-family: 'Arial'; font-weight: 100;">
                    <div style="width: 100%; padding: 5px;">
                        <span style="font-size: 11pt; line-height: 1.8">Condizioni di fornitura</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Indirizzo consegna</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.deliveryAddress}}</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Termini di consegna</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.deliveryTerm}}</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Indicazioni  per la consegna</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.indicationForDelivery}}</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Installazione</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.installation}}</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Fatturazione</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.billingRequirement}}</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Pagamenti</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.paymentRequiremnt?.description}}</span>
                        <br>	
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Modalità di pagamento</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.methodOfPayment}}</span>
                        <br>
                        <span style="width: 200px; display: inline-block; font-weight: 100;">Garanzia</span><span style="font-family: 'Times New Roman'">{{selectedOrder?.guaranty}}</span>
                        <br>	                    
                    </div>
                </div>

                <div style="height: 120px; font-size: 11pt; font-family: 'Arial';">
                    <div style="width: 69%; float: left; padding: 5px; margin-left: -30px;">
                        <span style="font-style: italic;">Cordiali saluti,</span>	                    
                    </div>
                    <div style="width: 30%; float: right; padding: 5px; padding-top: 20px;">
                        <span style="font-weight: bold;">SmartPath s.r.l.</span>
                        <br>
                        <span style="font-weight: bold;">Administratore Unico</span>                 
                    </div>
                </div>
                <!-- Footer -->
                <div class="footer" style="padding: 5px 12px 5px 12px; margin-left: 50px">
                    <div style="text-align: center;padding: 6px;padding-top: 10px;font-size: 10pt;font-weight: normal;font-family: 'Times New Roman';color:rgb(51,51,51);">
                        <span style="text-align: center;line-height: 1.2; font-style: italic; color: rgb(128,128,128);">
                            SmartPath s.r.l.
                        </span>
                        <br>
                        <span style="text-align: center;line-height: 1.2; font-style: italic; color: rgb(128,128,128);">
                            Sede legale: Via Benadir 14, 20132 Milano –  Sede operativa: Via Borgo Palazzo 43 – 24125 Bergamo
                        </span>
                        <br>
                        <span style="text-align: center;line-height: 1.2; font-style: italic; color: rgb(128,128,128);">
                            Tel: +39 02 2827482 – Fax: +39 02 70049641 – www.smart-path.it – info@smart-path.it
                        </span>
                        <br>
                        <span style="text-align: center;line-height: 1.2; font-style: italic; color: rgb(128,128,128);">
                            Codice Fisc. e Part. IVA: 08745780968 – Cap. Sociale: € 210.000 di cui € 180.000 versati  – REA: Milano 2046313
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>