<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="commande">
            <div class="table-responsive">
                    <table class="table table-striped table-de table-xs table-font-sm">
                        <tr>
                            <th><span jhiTranslate="entity.common.code"></span></th>
                            <td><span>{{commande.code}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.description"></span></th>
                            <td><span>{{commande.description}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.deliveryAddress"></span></th>
                            <td><span>{{commande.deliveryAddress}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.deliveryTerm"></span></th>
                            <td><span>{{commande.deliveryTerm}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.indicationForDelivery"></span></th>
                            <td><span>{{commande.indicationForDelivery}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.installation"></span></th>
                            <td><span>{{commande.installation}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.methodOfPayment"></span></th>
                            <td><span>{{commande.methodOfPayment}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.guaranty"></span></th>
                            <td><span>{{commande.guaranty}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.totalCost"></span></th>
                            <td><span>{{commande.totalCost}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.discount"></span></th>
                            <td><span>{{commande.discount}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.totalDiscount"></span></th>
                            <td><span>{{commande.totalDiscount}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.year"></span></th>
                            <td><span>{{commande.year}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.orderDate"></span></th>
                            <td><span>{{commande.orderDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.requiredDeliveryDate"></span></th>
                            <td><span>{{commande.requiredDeliveryDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.billingRequirement"></span></th>
                            <td><span>{{commande.billingRequirement}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.extraCosts"></span></th>
                            <td><span>{{commande.extraCosts}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.commande.field.orderState"></span></th>
                            <td><span jhiTranslate="{{'state.order.default.' + commande.orderState}}">{{commande.orderState}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.payment.default"></span></th>
                            <td>
                                <div *ngIf="commande.paymentRequiremnt" class="table-responsive">
                                    <table class="table table-striped table-de table-xs table-font-sm">
                                        <tr>
                                            <th><span>{{'entity.common.code' | translate}} </span></th>
                                            <td><a [routerLink]="['/payment', commande.paymentRequiremnt?.id]">{{commande.paymentRequiremnt?.code}}</a></td>
                                        </tr>
                                        <tr>
                                            <th><span>{{'entity.common.description' | translate}}: </span></th>
                                            <td>{{commande.paymentRequiremnt?.description}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.supplier.default"></span></th>
                            <td>
                                <div *ngIf="commande.supplier" class="table-responsive">
                                    <table class="table table-striped table-de table-xs table-font-sm">
                                        <tr>
                                            <th><span>{{'entity.common.companyName' | translate}} </span></th>
                                            <td><a [routerLink]="['/supplier', commande.supplier?.id]">{{commande.supplier?.companyName}}</a></td>
                                        </tr>
                                        <tr>
                                            <th><span>{{'entity.common.email' | translate}} </span></th>
                                            <td>{{commande.supplier?.email}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
        <jhi-alert-error></jhi-alert-error>
         
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'commande/'+ commande.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.commande.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>