<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myCommandeLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_fem_min_cons' | translate}}', prep2: '{{'prep.nouvelle' | translate}}', entity: '{{'entity.commande.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_fem_min_cons' | translate), prep2:('prep.nouvelle' | translate), entity:('entity.commande.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-lg-12">
                    <div id="wizardc">
                        <section>
                            <div class="wizard-form wizard clearfix" id="design-wizard" action="#" role="application">
                                <div class="steps clearfix">
                                    <ul role="tablist">
                                        <li role="tab" [class]="step==1?'current':'done'" [style.width]="'50%'">
                                            <a [class.active]="step==1" (click)="step=1;">
                                                <span class="number">1.</span>
                                            </a>
                                        </li>
                                        <li [class]="step==2?'current':'done'" role="tab" class="done" [style.width]="'50%'">
                                            <a [class.active]="step==2" (click)="step=2;">
                                                <span class="number">2.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="content clearfix wizard m-0">
                                    <fieldset [hidden]="step!=1" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
                                                    <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="commande.description" maxlength="256"
                                                    />
                                                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 256 }">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.supplier.default" for="field_supplier"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionSupplier" (ngModelChange)="commande.supplier.companyName=$event" id="field_supplier"
                                                            class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true"
                                                            placeholder="{{'entity.supplier.select' | translate}}" name="supplier"
                                                            required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('supplierModal2')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="commande.supplier" class="input-group-addon pointer" (click)="descriptionSupplier= '';commande.supplier =  null; commande.paymentRequiremnt = null; commande.billingRequirement = null;"
                                                            ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.supplier?.dirty && editForm.controls.supplier?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.supplier?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.header" for="field_header"></label>
                                                    <input type="text" class="form-control" name="header" id="field_header" [(ngModel)]="commande.header" maxlength="256"
                                                    />
                                                    <div [hidden]="!(editForm.controls.header?.dirty && editForm.controls.header?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.header?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 256 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.billingRequirement" for="field_billingRequirement"></label>
                                                    <input type="text" class="form-control" name="billingRequirement" id="field_billingRequirement" [(ngModel)]="commande.billingRequirement"
                                                        required/>
                                                    <div [hidden]="!(editForm.controls.billingRequirement?.dirty && editForm.controls.billingRequirement?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.billingRequirement?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.payment.default" for="field_payment"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionPaymentRequiremnt" (ngModelChange)="commande.paymentRequiremnt.code=$event"
                                                            id="field_payment" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readonly]="true" placeholder="{{'entity.payment.select' | translate}}"
                                                            name="payment" required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('paymentRequiremntModal2')" ng-style="toBeClicked" style="cursor: pointer;">
                                                                <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="commande.paymentRequiremnt" class="input-group-addon pointer" (click)="descriptionPaymentRequiremnt= '';commande.paymentRequiremnt =  null;"
                                                            ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.paymentRequiremnt?.dirty && editForm.controls.paymentRequiremnt?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.paymentRequiremnt?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.requiredDeliveryDate" for="field_requiredDeliveryDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_requiredDeliveryDate" type="datetime-local" class="form-control" name="requiredDeliveryDate" [(ngModel)]="commande.requiredDeliveryDate"
                                                            step="1" required />
                                                        <div [hidden]="!(editForm.controls.requiredDeliveryDate?.dirty && editForm.controls.requiredDeliveryDate?.invalid)">
                                                            <small class="form-text text-danger" [hidden]="!editForm.controls.requiredDeliveryDate?.errors?.required" jhiTranslate="message.error.required">
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset [hidden]="step!=2" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.orderCondition.default" for="field_supplier"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionOrderCondition" (ngModelChange)="orderCondition=$event" id="field_orderCondition"
                                                            class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true"
                                                            placeholder="{{'entity.orderCondition.select' | translate}}" name="orderCondition"
                                                            required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('orderConditionModal2')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="orderCondition" class="input-group-addon pointer" (click)="descriptionOrderCondition= '';orderCondition =  null; commande.deliveryAddress = null; commande.deliveryTerm = null; commande.indicationForDelivery = null;commande.installation = null;commande.methodOfPayment=null;commande.guaranty=null;"
                                                            ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.orderCondition?.dirty && editForm.controls.orderCondition?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.orderCondition?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.deliveryAddress" for="field_deliveryAddress"></label>
                                                    <input type="text" class="form-control" name="deliveryAddress" id="field_deliveryAddress" [(ngModel)]="commande.deliveryAddress"
                                                        maxlength="100" />
                                                    <div [hidden]="!(editForm.controls.deliveryAddress?.dirty && editForm.controls.deliveryAddress?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.deliveryAddress?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.deliveryTerm" for="field_deliveryTerm"></label>
                                                    <input type="text" class="form-control" name="deliveryTerm" id="field_deliveryTerm" [(ngModel)]="commande.deliveryTerm" maxlength="100"
                                                    />
                                                    <div [hidden]="!(editForm.controls.deliveryTerm?.dirty && editForm.controls.deliveryTerm?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.deliveryTerm?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.indicationForDelivery" for="field_indicationForDelivery"></label>
                                                    <input type="text" class="form-control" name="indicationForDelivery" id="field_indicationForDelivery" [(ngModel)]="commande.indicationForDelivery"
                                                        maxlength="100" />
                                                    <div [hidden]="!(editForm.controls.indicationForDelivery?.dirty && editForm.controls.indicationForDelivery?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.indicationForDelivery?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.installation" for="field_installation"></label>
                                                    <input type="text" class="form-control" name="installation" id="field_installation" [(ngModel)]="commande.installation" maxlength="100"
                                                    />
                                                    <div [hidden]="!(editForm.controls.installation?.dirty && editForm.controls.installation?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.installation?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.methodOfPayment" for="field_methodOfPayment"></label>
                                                    <input type="text" class="form-control" name="methodOfPayment" id="field_methodOfPayment" [(ngModel)]="commande.methodOfPayment"
                                                        maxlength="100" />
                                                    <div [hidden]="!(editForm.controls.methodOfPayment?.dirty && editForm.controls.methodOfPayment?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.methodOfPayment?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.field.guaranty" for="field_guaranty"></label>
                                                    <input type="text" class="form-control" name="guaranty" id="field_guaranty" [(ngModel)]="commande.guaranty" maxlength="100"
                                                    />
                                                    <div [hidden]="!(editForm.controls.guaranty?.dirty && editForm.controls.guaranty?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.guaranty?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.commande.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'supplierModal2'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.supplier.select"></h3>
        <jhi-filter *ngIf="supplierModal" [entity]="'supplier'" [path]="'suppliers'" [headers]="['companyName', 'email']" (onSelect)="assignSupplier($event)"></jhi-filter>
        <button (click)="closeModal('closeSupplierBtn2')" aria-label="Close" class="md-close-btn" id="closeSupplierBtn2">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
     <!-- animation modal Dialogs start -->
     <app-modal-animation [modalID]="'orderConditionModal2'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.orderCondition.select"></h3>
        <jhi-filter *ngIf="orderConditionModal" [entity]="'orderCondition'" [path]="'order-conditions'" [headers]="['deliveryAddress', 'deliveryTerm']" (onSelect)="assignOrderConditions($event)"></jhi-filter>
        <button (click)="closeModal('closeOrderConditionBtn2')" aria-label="Close" class="md-close-btn" id="closeOrderConditionBtn2">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'paymentRequiremntModal2'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.payment.select"></h3>
        <jhi-filter *ngIf="paymentRequiremntModal" [entity]="'payment'" [path]="'payments'" [headers]="['code', 'description']" (onSelect)="assignPaymentRequiremnts($event)"></jhi-filter>
        <button (click)="closeModal('closePaymentRequiremntBtn2')" aria-label="Close" class="md-close-btn" id="closePaymentRequiremntBtn2">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>