<div class="animation-model">
<form name="slotForm" role="form" novalidate #slotForm="ngForm"></form> 
<div class="modal-header">
    <h4 class="modal-title" id="myDrawerLabel" jhiTranslate="action.create.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.slot.min' | translate}}'}"
        placement="bottom" ngbTooltip="{{ 'action.create.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.slot.min' | translate) } }}"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entity.drawer.default" for="field_drawer"></label>
                    <div class="input-group w-100 mt-0">
                        <input type="text" [ngModel]="this.descriptionDrawer" (ngModelChange)="drawer.code=$event" id="field_drawer"
                            class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.drawer.select' | translate}}"
                            name="drawer" required>
                    </div>   
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entity.slot.number" for="field_slotNumber"></label>
                    <input type="number" class="form-control" name="slotNumber" id="field_slotNumber" [(ngModel)]="slotNumber"
                        min="1" required pattern="^[1-9]$|[0-9]{2,}$" />
                    <div [hidden]="!(slotForm.controls.slotNumber?.dirty && slotForm.controls.slotNumber?.invalid)">
                        <small class="form-text text-danger" [hidden]="!slotForm.controls.slotNumber?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                        <small class="form-text text-danger" [hidden]="!slotForm.controls.slotNumber?.errors?.pattern" jhiTranslate="message.error.min"
                            translateValues="{ min: 1 }">
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="slotForm.form.invalid "  class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="action.cancel.label"
            placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="button" (click)="confirm(drawer)" [disabled]="slotForm.form.invalid" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
        </button>
    </div>
</form>

</div>
