<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myDrawerLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.slot.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.slot.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.drawer.default" for="field_drawer"></label>
                <div class="input-group w-100 mt-0 mb-0">
                    <input type="text" [ngModel]="this.descriptionDrawer" (ngModelChange)="slot.drawer.code=$event" id="field_drawer"
                        class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.drawer.select' | translate}}"
                        name="drawer" required>
                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('drawerModal')" ng-style="toBeClicked" style="cursor: pointer;">
                        <i class="fa fa-th"></i>
                    </span>
                    <span [hidden]="!slot.drawer && slot.drawer == null" class="input-group-addon pointer" (click)="slot.drawer = null;descriptionDrawer=''"
                        ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                        <i class="fa fa-undo"></i>
                    </span> 
                </div>
                 
            </div>
            <div [hidden]="!(editForm.controls.drawer?.dirty && editForm.controls.drawer?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.drawer?.errors?.required" jhiTranslate="message.error.required">
                </small>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.note" for="field_note"></label>
                <textarea type="text" class="form-control" name="note" id="field_note" [(ngModel)]="slot.note"></textarea>
               
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                        translateValues="{ max: 2560 }">
                    </small>
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.isActive"></label>
                <div class="input-group w-100 mt-0">
                    <div class="form-radio m-l-30">
                        <div class="radio radio-matrial radio-success radio-inline">
                            <label>
                                <input type="radio" name="radio" [(ngModel)]="active" (click)="activeChange('yes')" value="yes">
                                <i class="helper"></i>
                                <span jhiTranslate="prep.yes"></span>
                            </label>
                        </div>
                        <div class="radio radio-matrial radio-danger radio-inline">
                            <label>
                                <input type="radio" name="radio" [(ngModel)]="active" (click)="activeChange('no')" value="no">
                                <i class="helper"></i>
                                <span jhiTranslate="prep.no"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'drawerModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.drawer.select"></h3>
        <jhi-filter *ngIf="drawerModal"  [entity]="'drawer'" [path]="'drawers/active'" [headers]="['code', 'description']" (onSelect)="assignDrawer($event)"></jhi-filter>
        <button (click)="closeModal('closeDrawerBtn')" aria-label="Close" class="md-close-btn" id="closeDrawerBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>