<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 col-xl-6 f-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive" *ngIf="slots">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                   
                    <th jhiSortBy="barCode" style="width: 9%">
                        <span jhiTranslate="entity.common.barCode"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="note" style="width: 13%">
                        <span jhiTranslate="entity.common.note"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="barCode" style="width: 9%">
                        <span jhiTranslate="entity.snip.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="drawer.name" style="width: 9%">
                        <span jhiTranslate="entity.drawer.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="drawer.shelf.name" style="width: 9%">
                        <span jhiTranslate="entity.shelf.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="drawer.shelf.shelvingUnit.name" style="width: 10%">
                        <span jhiTranslate="entity.shelvingUnit.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="drawer.shelf.shelvingUnit.headquarter.name" style="width: 9%">
                        <span jhiTranslate="entity.headquarter.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="drawer.shelf.shelvingUnit.headquarter.company.name" style="width: 9%">
                        <span jhiTranslate="entity.company.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['slot-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of slots ;trackBy: trackId">
                    <td>{{e.slot.barCode}}</td>
                    <td>{{e.slot.note}}</td>
                    <td>
                        <div *ngIf="e.snip">
                            <a [routerLink]="['../snip', e.snip?.id ]">{{e.snip.barCode}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="e.slot.drawer">
                            <a [routerLink]="['../drawer', e.slot.drawer.shelf?.id ]">{{e.slot.drawer?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="e.slot.drawer.shelf">
                            <a [routerLink]="['../shelf', e.slot.drawer.shelf?.id ]">{{e.slot.drawer.shelf?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="e.slot.drawer.shelf.shelvingUnit">
                            <a [routerLink]="['../shelving-unit', e.slot.drawer.shelf.shelvingUnit?.id ]">{{e.slot.drawer.shelf.shelvingUnit?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="e.slot.drawer.shelf.shelvingUnit.headquarter">
                            <a [routerLink]="['../headquarter', e.slot.drawer.shelf.shelvingUnit.headquarter?.id ]">{{e.slot.drawer.shelf.shelvingUnit.headquarter?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="e.slot.drawer.shelf.shelvingUnit.headquarter.company">
                            <a [routerLink]="['../company', e.slot.drawer.shelf.shelvingUnit.headquarter.company?.id ]">{{e.slot.drawer.shelf.shelvingUnit.headquarter.company?.name}}</a>
                        </div>
                    </td>
                    
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../slot', e.slot.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'slot/'+ e.slot.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'slot/'+ e.slot.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(slots && slots.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
    <div id="barCode" [hidden]="true">
        <ngx-barcode #ngxBarCode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-element-type]="'svg'"></ngx-barcode>
    </div>
</app-card>