<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="slot">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.slot.state"></span></th>
                    <td>
                    <span *ngIf="slot.isEmpty" class="text-success" jhiTranslate="entity.slot.empty">
                                &nbsp;
                            </span>
                            <span *ngIf="!slot.isEmpty" class="text-danger" jhiTranslate="entity.slot.full">
                                 &nbsp;
                            </span>
                        </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.note"></span></th>
                    <td><span>{{slot.note}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.barCode"></span></th>
                    <td><span>{{slot.barCode}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.drawer.default"></span></th>
                    <td>
                        <div *ngIf="slot.drawer" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/drawer', slot.drawer?.id]">{{slot.drawer?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{slot.drawer?.description}}</td>
                                </tr>
                            </table>
                        </div>
                   </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelf.default"></span></th>
                    <td>
                        <div *ngIf="slot.drawer.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelf', slot.drawer.shelf?.id]">{{slot.drawer.shelf?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{slot.drawer.shelf?.description}}</td>
                                </tr>
                            </table>
                        </div>
                   </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelvingUnit.default"></span></th>
                    <td>
                        <div *ngIf="slot.drawer.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelving-unit', slot.drawer.shelf.shelvingUnit?.id]">{{slot.drawer.shelf.shelvingUnit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{slot.drawer.shelf.shelvingUnit?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!slot.isEmpty">
                    <th><span jhiTranslate="entity.snip.default"></span></th>
                    <td>
                        <div  class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td *ngIf="snip"><a [routerLink]="['/snip', snip?.id]">{{snip?.barCode}}</a></td>
                                </tr>
                                
                            </table>
                        </div>
                    </td>
                </tr>
                
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'slot/'+ slot.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>