<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myShelfLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.shelf.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.shelf.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.code" for="field_code"></label>
                <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="shelf.code" required maxlength="32" />
                <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="message.error.required">
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                        translateValues="{ max: 32 }">
                    </small>
                </div>
                <small class="form-text text-danger" [hidden]="!existCode"> 
                    {{ 'message.error.codeExist' | translate}}
                </small>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.name" for="field_name"></label>
                <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="shelf.name" required />
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="message.error.required">
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
                <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="shelf.description" maxlength="256"
                />
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                        translateValues="{ max: 256 }">
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.shelvingUnit.default" for="field_shelvingUnit"></label>
                <div class="input-group w-100 mt-0 mb-0">
                    <input type="text" [ngModel]="descriptionShelvingUnit" (ngModelChange)="shelf.shelvingUnit.code=$event" id="field_shelvingUnit"
                        class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.shelvingUnit.select' | translate}}"
                        name="shelvingUnit" required>
                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('shelvingUnitModal')" ng-style="toBeClicked" style="cursor: pointer;">
                        <i class="fa fa-th"></i>
                    </span>
                    <span [hidden]="!shelf.shelvingUnit && shelf.shelvingUnit == null" class="input-group-addon pointer" (click)="shelf.shelvingUnit = null;descriptionShelvingUnit=''"
                        ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                        <i class="fa fa-undo"></i>
                    </span> 
                </div>
                 
            </div>
            <div [hidden]="!(editForm.controls.shelvingUnit?.dirty && editForm.controls.shelvingUnit?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.shelvingUnit?.errors?.required" jhiTranslate="message.error.required">
                </small>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.isActive"></label>
                <div class="input-group w-100 mt-0">
                    <div class="form-radio m-l-30">
                        <div class="radio radio-matrial radio-success radio-inline">
                            <label>
                                <input type="radio" name="radio" [(ngModel)]="active" (click)="activeChange('yes')" value="yes">
                                <i class="helper"></i>
                                <span jhiTranslate="prep.yes"></span>
                            </label>
                        </div>
                        <div class="radio radio-matrial radio-danger radio-inline">
                            <label>
                                <input type="radio" name="radio" [(ngModel)]="active" (click)="activeChange('no')" value="no">
                                <i class="helper"></i>
                                <span jhiTranslate="prep.no"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelf.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'shelvingUnitModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.shelvingUnit.select"></h3>
        <jhi-filter *ngIf="shelvingUnitModal"  [entity]="'shelvingUnit'" [path]="'shelving-units/active'" [headers]="['code', 'description']" (onSelect)="assignShelvingUnit($event)"></jhi-filter>
        <button (click)="closeModal('closeShelvingUnitBtn')" aria-label="Close" class="md-close-btn" id="closeShelvingUnitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>