<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 col-xl-6 f-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive" *ngIf="shelves">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th class="text-center" style="width: 5%">
                        <input type="checkbox" [checked]="checkall" (change)="selectOrDeselectAllShelves()">
                    </th>
                    <th jhiSortBy="code" style="width: 7%">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="barCode" style="width: 12%">
                        <span jhiTranslate="entity.common.barCode"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 15%">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.name" style="width: 15%">
                        <span jhiTranslate="entity.shelvingUnit.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.headquarter.name" style="width: 15%">
                        <span jhiTranslate="entity.headquarter.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.headquarter.company.name" style="width: 15%">
                        <span jhiTranslate="entity.company.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 6%">{{'entity.common.ticket' | translate}}</th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['shelf-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shelf of shelves ;trackBy: trackId">
                    <td class="text-center">
                        <input type="checkbox" [(ngModel)]="shelf.checked" (change)="updateSelectedShelves(shelf)">
                    </td>
                    <td>{{shelf.code}}</td>
                    <td>{{shelf.barCode}}</td>
                    <td>{{shelf.description}}</td>
                    <td>
                        <div *ngIf="shelf.shelvingUnit">
                            <a [routerLink]="['../shelving-unit', shelf.shelvingUnit?.id ]">{{shelf.shelvingUnit?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shelf.shelvingUnit.headquarter">
                            <a [routerLink]="['../headquarter', shelf.shelvingUnit.headquarter?.id ]">{{shelf.shelvingUnit.headquarter?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shelf.shelvingUnit.headquarter.company">
                            <a [routerLink]="['../company', shelf.shelvingUnit.headquarter.company?.id ]">{{shelf.shelvingUnit.headquarter.company?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <button type="submit" (click)="printOneBarCode(shelf)" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../shelf', shelf.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'shelf/'+ shelf.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'shelf/'+ shelf.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="(shelves && shelves.length)">
                    <button [disabled]="selectedShelves.length == 0" type="submit" (click)="printMultiBarCode()" class="btn btn-default btn-sm">
                        <span class="fa fa-print m-r-10"></span> {{'action.print.all' | translate}}
                    </button>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(shelves && shelves.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
    <div id="barCode" [hidden]="true">
        <ngx-barcode #ngxBarCode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-element-type]="'svg'"></ngx-barcode>
    </div>
</app-card>