<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <div class="col-sm-12 card">
        <div class="widgettitle row">
            <ul class="col-sm-4">
                <li class="active ng-binding">
                    <span jhiTranslate="entity.product.default"></span> : {{product?.description}}
                </li>
            </ul>
            <ul class="col-sm-4">
                <li class="active ng-binding text-center">
                    <span jhiTranslate="entity.shelf.plural"></span>
                </li>
            </ul>
            <ul class="col-sm-4">
                <li class="clickable text-right">
                    <span class="fa fa-arrow-left fa-16 tenRMargin" [routerLink]="['../../../product']"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive" *ngIf="shelves">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th style="width: 10%" jhiSortBy="code">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 15%" jhiSortBy="barCode">
                        <span jhiTranslate="entity.common.barCode"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 10%" jhiSortBy="description">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 10%" jhiSortBy="shelvingUnit.name">
                        <span jhiTranslate="entity.shelvingUnit.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 10%" jhiSortBy="shelvingUnit.headquarter.name">
                        <span jhiTranslate="entity.headquarter.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 10%" jhiSortBy="shelvingUnit.headquarter.company.name">
                        <span jhiTranslate="entity.company.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 10%" >
                        <span jhiTranslate="entity.common.quantity"></span>
                    </th>
                    <th style="width: 10%">
                        <span jhiTranslate="entity.common.expirationDate"></span>
                    </th>
                    <th style="width: 12%">
                        <span jhiTranslate="entity.common.productionBatch"></span>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let shelf of shelves ;trackBy: trackId; let i = index">
                <tr >
                    <td> 
                        <span *ngIf="(!showDetail[i] && shelf.listScP.length > 1) " class="text-success" (click)="displayNestedList(shelf,i)">
                            <i class="fa fa-plus-square"></i> &nbsp;
                        </span>
                        <span *ngIf="(showDetail[i] && shelf.listScP.length > 1) " class="text-danger" (click)="displayNestedList(shelf,i)">
                            <i class="fa fa-minus-square"></i> &nbsp;
                        </span>
                        {{shelf.code}}
                    </td>
                    <td>{{shelf.barCode}}</td>
                    <td>{{shelf.description}}</td>
                    <td>
                        <div *ngIf="shelf.shelvingUnit">
                            <a [routerLink]="['../../../shelving-unit', shelf.shelvingUnit?.id ]">{{shelf.shelvingUnit?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shelf.shelvingUnit.headquarter">
                            <a [routerLink]="['../../../headquarter', shelf.shelvingUnit.headquarter?.id ]">{{shelf.shelvingUnit.headquarter?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shelf.shelvingUnit.headquarter.company">
                            <a [routerLink]="['../../../company', shelf.shelvingUnit.headquarter.company?.id ]">{{shelf.shelvingUnit.headquarter.company?.name}}</a>
                        </div>
                    </td>
                    <td>{{shelf.qt}}</td>
                    <td  ><span *ngIf="( shelf.listScP.length == 1)">{{shelf.listScP[0].expirationDate}} </span></td>
                    <td>{{shelf.depB}}</td>
                    <td class="text-right">
                        <button   type="submit"
                            (click)="loadShelfsPdf(shelf.id)" class="btn btn-primary btn-outline-primary btn-icon btn-table-action pull-right">
                            <i class="fa fa-print"></i>
                        </button> 
                    </td>
                </tr>
                <tr *ngIf="showDetail[j] && j == i">
                    <td></td>
                    <td colspan="4">
                        <table class="table table-striped table-xs table-font-sm">
                            <tr>
                                <th class="text-center">
                                    <span>{{ 'entity.common.expirationDate' | translate }}</span>
                                </th>
                                <th class="text-center">
                                    <span>{{ 'entity.common.quantity' | translate }}</span>
                                </th>   
                            </tr> 
                                <tr *ngFor="let s of selectedRow.listScP" style="margin-bottom: 2px;">
                                    <td class="text-center">{{s.expirationDate}}</td>
                                    <td class="text-center">
                                        <div>{{s.qt}}</div>
                                    </td>
                                </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(shelves && shelves.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>