<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper" style="padding: 0px;">
            <!-- Page-header start -->
            <div class="page-header">
                <div style="padding: 0px;">
                    <div class="row">
                        <div class="col-sm-12 col-xl-4">
                            <div class="animation-model">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" [ngModel]="selectedSupplier?.companyName" (ngModelChange)="selectedSupplier.companyName=$event" class="form-control ng-pristine ng-untouched ng-valid"
                                        [readonly]="true" placeholder="{{'entity.supplier.select' | translate}}">
                                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('supplierModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                        <i class="fa fa-th"></i>
                                    </span>
                                    <span *ngIf="selectedSupplier" class="input-group-addon pointer" (click)="selectedSupplier =  null; search(currentSearch)"
                                        ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                        <i class="fa fa-undo"></i>
                                    </span>
                                </div>
                                <!-- animation modal Dialogs start -->
                                <app-modal-animation [modalID]="'supplierModal'" [modalClass]="'md-effect-1'" [backDrop]="true">
                                    <h3 jhiTranslate="entity.supplier.select"></h3>
                                    <jhi-filter *ngIf="supplierModal" [entity]="'supplier'" [path]="'suppliers'" [headers]="['companyName', 'email']" (onSelect)="assignSupplier($event)"></jhi-filter>
                                    <button (click)="closeMyModal('closeSupplierBtn')" aria-label="Close" class="md-close-btn" id="closeSupplierBtn">
                                        <i class="icofont icofont-ui-close"></i>
                                    </button>
                                </app-modal-animation>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                        <span class="fa fa-search"></span>
                                    </button>
                                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                        <span class="fa fa-trash-o"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
        </div>
    </div>
    
    <!--<div class = "pull-right">
        <label>
            <input type="file" (change)="selectFile($event)">
            </label>
            <button [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    </div>-->
    <div class="table-responsive" *ngIf="articles">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 15%">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 40%">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="supplier.id" style="width: 25%">
                        <span jhiTranslate="entity.supplier.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['article-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody> 
                <tr *ngFor="let article of articles ;trackBy: trackId">
                    <td>{{article.code}}</td>
                    <td>{{article.description}}</td>
                    <td>
                        <div *ngIf="article.supplier">
                            <a [routerLink]="['/supplier', article.supplier?.id ]">{{article.supplier?.companyName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../article', article.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button> 
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/norm'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary btn-outline-warning btn-icon btn-table-action">
                            <i [ngClass] ="article.normalised?'fa fa-check-square-o text-success':'fa fa-cog text-danger'"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(articles && articles.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>