<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="article">
            <jhi-alert-error></jhi-alert-error>
            <div class="table-responsive">
                    <table class="table table-striped table-de table-xs table-font-sm">
                        <tr>
                            <th><span jhiTranslate="entity.common.code"></span></th>
                            <td><span>{{article.code}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.description"></span></th>
                            <td><span>{{article.description}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.minPackagingOrder"></span></th>
                            <td><span>{{article.minPackagingOrder}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.discount"></span></th>
                            <td><span>{{article.discount}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.quantityPerPackage"></span></th>
                            <td><span>{{article.quantityPerPackage}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.unitPrice"></span></th>
                            <td><span>{{article.unitPrice}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.isExpired"></span></th>
                            <td><span>{{article.isExpired}}</span></td>
                        </tr>
                        <tr *ngIf="article.isExpired">
                            <th *ngIf="article.isExpired" ><span jhiTranslate="entity.common.expirationDate"></th>
                            <td *ngIf="article.isExpired"><span>{{article.expirationDate | date:'medium'}}</span></td>
                        </tr> 
                        <tr>
                            <th><span jhiTranslate="entity.common.startValidation"></span></th>
                            <td><span>{{article.startValidation | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.endValidation"></span></th>
                            <td><span>{{article.endValidation | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.annualConsumption"></span></th>
                            <td><span>{{article.annualConsumption}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.numberOfDelivery"></span></th>
                            <td><span>{{article.numberOfDelivery}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.common.note"></span></th>
                            <td><span>{{article.note}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.invoiceDate"></span></th>
                            <td><span>{{article.invoiceDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.lastInvoiceDate"></span></th>
                            <td><span>{{article.lastInvoiceDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.billingFrequency"></span></th>
                            <td><span>{{article.billingFrequency}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.annualNetCost"></span></th>
                            <td><span>{{article.lastInvoiceDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.article.field.annualCostWithTVA"></span></th>
                            <td><span>{{article.annualNetCost}}</span></td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.packagingMethod.default"></span></th>
                            <td>
                                <div *ngIf="article.packagingMethod" class="table-responsive">
                                    <table class="table table-striped table-de table-xs table-font-sm">
                                        <tr>
                                            <th><span>{{'entity.common.code' | translate}} </span></th>
                                            <td><a [routerLink]="['/packaging-method', article.packagingMethod?.id]">{{article.packagingMethod?.code}}</a></td>
                                        </tr>
                                        <tr>
                                            <th><span>{{'entity.common.description' | translate}}: </span></th>
                                            <td>{{article.packagingMethod?.description}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th><span jhiTranslate="entity.measureUnit.default"></span></th>
                            <td>
                                <div *ngIf="article.packagingMethod" class="table-responsive">
                                    <table class="table table-striped table-de table-xs table-font-sm">
                                        <tr>
                                            <th><span>{{'entity.common.code' | translate}} </span></th>
                                            <td><a [routerLink]="['/measure-unit', article.measureUnit?.id]">{{article.measureUnit?.code}}</a></td>
                                        </tr>
                                        <tr>
                                            <th><span>{{'entity.common.description' | translate}}: </span></th>
                                            <td>{{article.measureUnit?.description}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span jhiTranslate="entity.supplier.default"></span></th>
                            <td>
                                <div *ngIf="article.supplier" class="table-responsive">
                                    <table class="table table-striped table-de table-xs table-font-sm">
                                        <tr>
                                            <th><span>{{'entity.common.companyName' | translate}} </span></th>
                                            <td><a [routerLink]="['/supplier', article.supplier?.id]">{{article.supplier?.companyName}}</a></td>
                                        </tr>
                                        <tr>
                                            <th><span>{{'entity.common.email' | translate}}: </span></th>
                                            <td>{{article.supplier?.email}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.article.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>