<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myArticleLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouvel' | translate}}', entity: '{{'entity.article.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouvel' | translate), entity:('entity.article.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-md-12">
                    <div id="wizardc">
                        <section>
                            <div class="wizard-form wizard clearfix" id="design-wizard" action="#" role="application">
                                <div class="steps clearfix">
                                    <ul role="tablist">
                                        <li role="tab" [class]="step==1?'current':'done'" [style.width]="'33%'">
                                            <a [class.active]="step==1" (click)="step=1;">
                                                <span class="number">1.</span>
                                            </a>
                                        </li>
                                        <li [class]="step==2?'current':'done'" role="tab" class="done" [style.width]="'33%'">
                                            <a [class.active]="step==2" (click)="step=2;">
                                                <span class="number">2.</span>
                                            </a>
                                        </li>
                                        <li [class]="step==3?'current':'done'" role="tab" class="done" [style.width]="'33%'">
                                            <a [class.active]="step==3" (click)="step=3;">
                                                <span class="number">3.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="content clearfix wizard">
                                    <fieldset [hidden]="step!=1" role="tabpanel" class="current">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.supplier.default" for="field_supplier"></label>
                                                    <div class="input-group w-100 mt-0 mb-0"> 
                                                        <input type="text" [ngModel]="descriptionCampany" (ngModelChange)="article.supplier.companyName=$event" id="field_supplier"
                                                            class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true"
                                                            placeholder="{{'entity.supplier.select' | translate}}" name="supplier"
                                                            required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('supplier2Modal')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="article.supplier" class="input-group-addon pointer" (click)="article.supplier =  null; descriptionCampany = ''" ng-style="toBeClicked"
                                                            style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.supplier?.dirty && editForm.controls.supplier?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.supplier?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.code" for="field_code"></label>
                                                    <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="article.code" required maxlength="32" />
                                                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 32 }">
                                                        </small>
                                                    </div>
                                                    <small class="form-text text-danger" [hidden]="!existCode"> 
                                                         {{ 'message.error.codeExist' | translate}}
                                                    </small> 
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.unitPrice" for="field_unitPrice"></label>
                                                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" [(ngModel)]="article.unitPrice" required
                                                        />
                                                    <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.unitPrice?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.quantityPerPackage" for="field_quantityPerPackage"></label>
                                                    <input type="number" class="form-control" name="quantityPerPackage" id="field_quantityPerPackage" [(ngModel)]="article.quantityPerPackage"
                                                        required pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.quantityPerPackage?.dirty && editForm.controls.quantityPerPackage?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.quantityPerPackage?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
                                                    <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="article.description" maxlength="256"
                                                    required />
                                                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 256 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.discount" for="field_discount"></label>
                                                    <input type="number" class="form-control" name="discount" id="field_discount" [(ngModel)]="article.discount" min="0" max="100"
                                                        pattern="^0$|^[1-9][0-9]?$|^100$" required />
                                                    <div [hidden]="!(editForm.controls.discount && editForm.controls.discount?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.discount?.errors?.pattern" jhiTranslate="message.error.between"
                                                            translateValues="{ min: 0, max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.minPackagingOrder" for="field_minPackagingOrder"></label>
                                                    <input type="number" class="form-control" name="minPackagingOrder" id="field_minPackagingOrder" [(ngModel)]="article.minPackagingOrder"
                                                        pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.minPackagingOrder?.dirty && editForm.controls.minPackagingOrder?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.minPackagingOrder?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.minPackagingOrder?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <fieldset [hidden]="step!=2" role="tabpanel">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.startValidation" for="field_startValidation"></label>
                                                    <div class="d-flex">
                                                        <input id="field_startValidation" type="datetime-local" class="form-control" name="startValidation" [(ngModel)]="article.startValidation"
                                                            step="1" required />
                                                        <div [hidden]="!(editForm.controls.startValidation?.dirty && editForm.controls.startValidation?.invalid)">
                                                            <small class="form-text text-danger" [hidden]="!editForm.controls.startValidation?.errors?.required" jhiTranslate="message.error.required">
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.packagingMethod.default" for="field_packagingMethod"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionPackagingMethod" (ngModelChange)="article.packagingMethod.code=$event" id="field_packagingMethod"
                                                            class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true"
                                                            placeholder="{{'entity.packagingMethod.select' | translate}}" name="packagingMethod"
                                                            required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('packagingMethodModal')" ng-style="toBeClicked"
                                                            style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="article.packagingMethod" class="input-group-addon pointer" (click)="article.packagingMethod =  null;descriptionPackagingMethod=''" ng-style="toBeClicked"
                                                            style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.packagingMethod?.dirty && editForm.controls.packagingMethod?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.packagingMethod?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.endValidation" for="field_endValidation"></label>
                                                    <div class="d-flex">
                                                        <input id="field_endValidation" type="datetime-local" class="form-control" name="endValidation" [(ngModel)]="article.endValidation"
                                                            step="1" required />
                                                        <div [hidden]="!(editForm.controls.endValidation?.dirty && editForm.controls.endValidation?.invalid)">
                                                            <small class="form-text text-danger" [hidden]="!editForm.controls.endValidation?.errors?.required" jhiTranslate="message.error.required">
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.measureUnit.default" for="field_measureUnit"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionMeasureUnit" (ngModelChange)="article.measureUnit.code=$event" id="field_measureUnit"
                                                            class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true"
                                                            placeholder="{{'entity.measureUnit.select' | translate}}" name="measureUnit"
                                                            required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('measureUnitModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="article.measureUnit" class="input-group-addon pointer" (click)="article.measureUnit =  null;descriptionMeasureUnit=''" ng-style="toBeClicked"
                                                            style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.measureUnit?.dirty && editForm.controls.measureUnit?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.measureUnit?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.isExpired"></label>
                                                    <div class="input-group w-100 mt-0">
                                                        <div class="form-radio m-l-30">
                                                            <div class="radio radio-matrial radio-success radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" [(ngModel)]="expired" (click)="expiredChange('yes')" value="yes">
                                                                    <i class="helper"></i>
                                                                    <span jhiTranslate="prep.yes"></span>
                                                                </label>
                                                            </div>
                                                            <div class="radio radio-matrial radio-danger radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" [(ngModel)]="expired" (click)="expiredChange('no')" value="no">
                                                                    <i class="helper"></i>
                                                                    <span jhiTranslate="prep.no"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.numberOfDaysToExpired" for="field_numberOfDaysToExpired"></label>
                                                    <input type="number" class="form-control" [disabled]="!article.isExpired" name="numberOfDaysToExpired" id="field_numberOfDaysToExpired"
                                                        [(ngModel)]="article.numberOfDaysToExpired" pattern="[0-9]{0,}" required
                                                    />
                                                    <div [hidden]="!(editForm.controls.numberOfDaysToExpired?.dirty && editForm.controls.numberOfDaysToExpired?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.numberOfDaysToExpired?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset [hidden]="step!=3" role="tabpanel">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.annualConsumption" for="field_annualConsumption"></label>
                                                    <input type="number" class="form-control" name="annualConsumption" id="field_annualConsumption" [(ngModel)]="article.annualConsumption"
                                                        pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.annualConsumption?.dirty && editForm.controls.annualConsumption?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.annualConsumption?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.billingFrequency" for="field_billingFrequency"></label>
                                                    <input type="number" class="form-control" name="billingFrequency" id="field_billingFrequency" [(ngModel)]="article.billingFrequency"
                                                        pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.billingFrequency?.dirty && editForm.controls.billingFrequency?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.billingFrequency?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.invoiceDate" for="field_invoiceDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_invoiceDate" type="datetime-local" class="form-control" name="invoiceDate" [(ngModel)]="article.invoiceDate"
                                                            step="1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.numberOfDelivery" for="field_numberOfDelivery"></label>
                                                    <input type="number" class="form-control" name="numberOfDelivery" id="field_numberOfDelivery" [(ngModel)]="article.numberOfDelivery"
                                                        pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.numberOfDelivery?.dirty && editForm.controls.numberOfDelivery?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.numberOfDelivery?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.annualNetCost" for="field_annualNetCost"></label>
                                                    <input type="number" class="form-control" name="annualNetCost" id="field_annualNetCost" [(ngModel)]="article.annualNetCost"
                                                        pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.annualNetCost?.dirty && editForm.controls.annualNetCost?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.annualNetCost?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.lastInvoiceDate" for="field_lastInvoiceDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_lastInvoiceDate" type="datetime-local" class="form-control" name="lastInvoiceDate" [(ngModel)]="article.lastInvoiceDate"
                                                            step="1" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.article.field.annualCostWithTVA" for="field_annualCostWithTVA"></label>
                                                    <input type="number" class="form-control" name="annualCostWithTVA" id="field_annualCostWithTVA" [(ngModel)]="article.annualCostWithTVA"
                                                        pattern="[0-9]{0,}" />
                                                    <div [hidden]="!(editForm.controls.annualCostWithTVA?.dirty && editForm.controls.annualCostWithTVA?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.annualCostWithTVA?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.note" for="field_note"></label>
                                                    <textarea rows="3" type="text" class="form-control" name="note" id="field_note" [(ngModel)]="article.note" maxlength="256" ></textarea>
                                                    <div [hidden]="!(editForm.controls.note?.dirty && editForm.controls.note?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.note?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 256 }">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.article.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'packagingMethodModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.packagingMethod.select"></h3>
        <jhi-filter *ngIf="packagingMethodModal" [entity]="'packagingMethod'" [path]="'packaging-methods'" [headers]="['code', 'description']" (onSelect)="assignPackagingMethod($event)"></jhi-filter>
        <button (click)="closeModal('closePackagingMethodBtn')" aria-label="Close" class="md-close-btn" id="closePackagingMethodBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'measureUnitModal'" [style.color]="getColor()" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.measureUnit.select"></h3>
        <jhi-filter [style.color]="getColor()" *ngIf="measureUnitModal" [entity]="'measureUnit'" [path]="'measure-units'" [headers]="['code', 'description']" (onSelect)="assignMeasureUnit($event)"></jhi-filter>
        <button (click)="closeModal('closeMeasureUnitBtn')" aria-label="Close" class="md-close-btn" id="closeMeasureUnitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'supplier2Modal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.supplier.select"></h3>
        <jhi-filter *ngIf="supplierModal" [entity]="'supplier'" [path]="'suppliers'" [headers]="['companyName', 'email']" (onSelect)="assignSupplier($event)"></jhi-filter>
        <button (click)="closeModal('closeSupplier2Btn')" aria-label="Close" class="md-close-btn" id="closeSupplier2Btn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>
<!-- pattern="[0-9]{0,}"-->