<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myArticleNormalisationLabel" jhiTranslate="action.configureNorm"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group col-md-6" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.product.default" for="field_product"></label>
                <div class="input-group w-100 mt-3">
                    <input type="text" [ngModel]="articleNormalisation.product?.code" (ngModelChange)="articleNormalisation.product.code=$event"
                        class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.product.select' | translate}}"
                        name="product" required>
                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('productModal')" ng-style="toBeClicked" style="cursor: pointer;">
                        <i class="fa fa-th"></i>
                    </span>
                    <span *ngIf="articleNormalisation.id" class="input-group-addon pointer blue-tooltip" (click)="openConfirmsSwal()" ng-style="toBeClicked"
                        style="cursor: pointer;">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>
            <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.product?.errors?.required" jhiTranslate="entity.validation.required">
                </small>
            </div>
            <div class="form-group col-md-6" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.common.normalisationUnit" for="field_normalisationUnit"></label>
                <input type="number" class="form-control" name="normalisationUnit" id="field_normalisationUnit" [(ngModel)]="articleNormalisation.normalisationUnit"
                    required />
                <div [hidden]="!(editForm.controls.normalisationUnit?.dirty && editForm.controls.normalisationUnit?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.normalisationUnit?.errors?.required" jhiTranslate="entity.validation.required">
                    </small>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="hasSameType" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.common.conversionUnit" for="field_conversionUnit"></label>
                <input type="number" class="form-control" name="conversionUnit" id="field_conversionUnit" [(ngModel)]="articleNormalisation.conversionUnit"
                    required />
                <div [hidden]="!(editForm.controls.conversionUnit?.dirty && editForm.controls.conversionUnit?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.conversionUnit?.errors?.required" jhiTranslate="entity.validation.required">
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.articleNormalisation.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'productModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.product.select"></h3>
        <div class="p-10" *ngIf="productModal">
            <div class="card-block">
                <div class="col-sm-12 col-xl-12">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="productSearch" id="productSearch" name="productSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                            <button class="input-group-addon btn btn-info" (click)="loadProducts(productSearch)">
                                <span class="fa fa-search"></span>
                            </button>
                            <button class="input-group-addon btn btn-danger" (click)="productSearch='';loadProducts()" *ngIf="productSearch" placement="bottom"
                                ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive" *ngIf="products">
                <table class="table table-striped table-xs table-modal">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="loadProducts.bind(this)">
                            <th jhiSortBy="code">
                                <span>{{ 'entity.common.code' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th jhiSortBy="description">
                                <span>{{ 'entity.common.description' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th jhiSortBy="measureUnit">
                                <span>{{ 'entity.measureUnit.default' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products" (click)="assignProduct(product)" style="cursor: pointer;">
                            <td>{{ product.code }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.measureUnit.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="(products && products.length != 0); else nothing">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                        (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
            <ng-template #nothing>
                <div>
                    <span>{{'message.info.emptytab' | translate}}</span>
                </div>
            </ng-template>
        </div>
        <button (click)="closeModal('closeProductBtn')" aria-label="Close" class="md-close-btn" id="closeProductBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>