<form name="deleteForm" (ngSubmit)="confirmDelete(packagingMethod.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="action.delete.title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="alerts" role="alert">
            <div *ngFor="let alert of alerts">
                <ngb-alert *ngIf="alert && alert.type && alert.msg" [type]="alert.type" (close)="alert.close(alerts)">
                    <pre [innerHTML]="alert.msg"></pre>
                </ngb-alert>
            </div>
        </div>
        <p jhiTranslate="action.delete.question" translateValues="{prep: '{{'prep.known_fem_min' | translate}}', entity: '{{'entity.packagingMethod.min' | translate}}', name: '{{packagingMethod.code}}'}"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="action.cancel.label"
            placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="action.delete.label"
            placement="bottom" ngbTooltip="{{ 'action.delete.confirm.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.packagingMethod.min' | translate) } }}"></span>
        </button>
    </div>
</form>
