<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper" style="padding: 0px;">
            <!-- Page-header start -->
            <div class="page-header card">
                <div style="padding: 0px;">
                    <div class="col-sm-12 col-xl-6 f-right">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                   
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="displayAdvanced()" placement="bottom" ngbTooltip="{{ 'action.search.advanced.tooltip' | translate }}">
                                    <span class="fa fa-filter"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                    <span class="fa fa-trash-o"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->

            <!-- Page body start -->
            <div class="page-body" *ngIf="showFilter">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Time card start -->
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <h5 jhiTranslate="entity.stockMovement.field.movementDate"></h5>
                                    </div>
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <span jhiTranslate="prep.from"></span>
                                        <input class="form-control" type="date" [(ngModel)]="fromMovement" (change)="search(currentSearch)" />
                                    </div>
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <span jhiTranslate="prep.to"></span>
                                        <input class="form-control" type="date" [(ngModel)]="toMovement" (change)="search(currentSearch)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Time card start -->
                        <div>
                            <div style="padding: 0px;">
                                <div class="row">
                                    <div class="form-radio col-sm-9 col-xl-9 m-b-5">
                                        <div class="input-group w-100 mt-3">
                                            <form>
                                                <div class="radio radio-matrial radio-default radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="All" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="prep.all"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-primary radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="LO" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.movement.default.LO"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-success radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="CUN" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.movement.default.CUN"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-danger radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="EUN" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.movement.default.EUN"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-warning radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="TR" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.movement.default.TR"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-info radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="IN" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.movement.default.IN"></span>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xl-3 m-b-5 f-right">
                                        <div class="input-group w-100 mt-3">
                                            <div class="checkbox-fade fade-in-danger ">
                                                <label>
                                                    <input type="checkbox" value="" [(ngModel)]="annulled" value="" (ngModelChange)="search(currentSearch)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-danger"></i>
                                                    </span>
                                                    <span jhiTranslate="entity.common.annulled"></span> ?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="stockMovements">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th class="text-center" style="width: 4%">
                        <input type="checkbox" [checked]="checkall" (change)="selectOrDeselectAllStockMovements()">
                    </th> -->
                    <th jhiSortBy="code" style="width: 12%">
                        <span jhiTranslate="entity.short.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 12%">
                        <span jhiTranslate="entity.short.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf" style="width: 9%">
                        <span jhiTranslate="entity.shelf.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.shelvingUnit.id" style="width: 9%">
                        <span jhiTranslate="entity.shelvingUnit.short.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.shelvingUnit.headquarter.id" style="width: 9%">
                        <span jhiTranslate="entity.headquarter.short.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.shelvingUnit.headquarter.company.id" style="width: 9%">
                        <span jhiTranslate="entity.company.short.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="movementType" style="width: 7%">
                        <span jhiTranslate="entity.stockMovement.short.movementType"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="quantity" style="width: 6%">
                        <span jhiTranslate="entity.short.quantity"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="movementDate" style="width: 10%">
                        <span jhiTranslate="entity.stockMovement.short.movementDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 7%">{{'entity.common.ticket' | translate}}</th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['stock-movement-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>                    
                        <button  *ngIf = "fromMovement && toMovement" type="submit"
                            (click)="loadMvtPdf()" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-print"></i>
                        </button>   
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockMovement of stockMovements ;trackBy: trackId">
                    <!-- <td class="text-center">
                        <input type="checkbox" [(ngModel)]="stockMovement.checked" (change)="updateSelectedStockMovements(stockMovement)">
                    </td> -->
                    <td>{{stockMovement.itemCode}}</td>
                    <td>{{stockMovement.description}}</td>
                    <td>
                        <div *ngIf="stockMovement.shelf">
                            <a [routerLink]="['../shelf', stockMovement.shelf?.id ]">{{stockMovement.shelf?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockMovement.shelf.shelvingUnit">
                            <a [routerLink]="['../shelving-unit', stockMovement.shelf.shelvingUnit?.id ]">{{stockMovement.shelf.shelvingUnit?.name}}</a>
                        </div> 
                    </td>
                    <td>
                        <div *ngIf="stockMovement.shelf.shelvingUnit.headquarter">
                            <a [routerLink]="['../headquarter', stockMovement.shelf.shelvingUnit.headquarter?.id ]">{{stockMovement.shelf.shelvingUnit.headquarter?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockMovement.shelf.shelvingUnit.headquarter.company">
                            <a [routerLink]="['../company', stockMovement.shelf.shelvingUnit.headquarter.company?.id ]">{{stockMovement.shelf.shelvingUnit.headquarter.company?.name}}</a>
                        </div>
                    </td>
                    <td jhiTranslate="{{'state.movement.short.' + stockMovement.movementType}}">{{stockMovement.movementType}}</td>
                    <td>{{stockMovement.movementType==smState.inventaire?stockMovement.quantityInventory:stockMovement.quantity}}</td>
                    <td>{{stockMovement.movementDate | date:'mediumDate'}}</td>
                    <td>
                        <button *ngIf="stockMovement.movementType == smState.cons_unloading && stockMovement.client && !stockMovement.annulled" type="submit"
                            (click)="loadEtiquette(stockMovement.id)" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../stock-movement', stockMovement.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'stock-movement/'+ stockMovement.id + '/edit'} }]" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'stock-movement/'+ stockMovement.id + '/delete'} }]" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(stockMovements && stockMovements.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>
<div class="animation-model">
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'etiquetteModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.etiquette.title"></h3>
        <div class="p-10">
            <div class="table-responsive" *ngIf="etiquettes" style="max-height: 400px">
                <table class="table table-striped table-xs table-scroll">
                    <thead>
                        <tr style="height: 40px;">
                            <th>
                                <a href="javascript:void(0)" [class.disabled]="!listToPrint || listToPrint.length == 0" 
                                (click)="printSelectedEtiquettePdf()"
                                    class="btn btn-primary btn-outline-primary btn-icon btn-table-action" title="{{'action.print.all' | translate}}">
                                    <i class="fa fa-print"></i>
                                </a>
                                <button class="btn btn-danger btn-sm f-right mr-10" (click)="toggleCheckAll()">{{'action.select.all' | translate}}</button>
                                <button class="btn btn-success btn-sm f-right mr-5" (click)="toggleUncheckAll()">{{'action.deselect.all' | translate}}</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of etiquettes" class = "ticket-font" style="cursor: pointer; height: 150px;">
                            <td>
                                <div class="container">
                                    <div class="col-md-8 f-left">
                                        <div class="text-center" style="line-height: 1;">
                                            <p>{{item.code}}</p>
                                            <p>
                                                <strong>{{item.stockMovement.product.code}}</strong>
                                            </p>
                                            <p>{{item.stockMovement.description}}</p>
                                            <p>{{item.stockMovement.client.companyName}}</p>
                                        </div>
                                    </div>
                                    <input class="f-right mr-10" type="checkbox" [checked]="listToPrint.indexOf(item) > -1" value="{{item.code}}" (click)="toggleSelection(item)"
                                    />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="etiquettes && etiquettes.length == 0">
                <div>
                    <span class="">{{'message.info.emptytab' |translate}}</span>
                </div>
            </div>
        </div>
        <button (click)="closeModal('closeEtiquettesModalBtn')" aria-label="Close" class="md-close-btn" id="closeEtiquettesModalBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>
<div id="barCode" [hidden]="true">
    <ngx-barcode #ngxBarCode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-element-type]="'svg'"></ngx-barcode>
    <div #wholeBarCode>
        <p>
            <strong>{{etiquetteToPrint?.stockMovement?.product?.code}}</strong>
        </p>
        <p>{{etiquetteToPrint?.stockMovement?.description}}</p>
        <p>{{etiquetteToPrint?.stockMovement?.client?.companyName}}</p>
    </div>
</div>