<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="mystockMovementLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.stockMovement.min' | translate}}'}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            
            <div class="alerts" role="alert" >
                <ngb-alert class="form-text text-danger" [hidden]="!stockNotFound">
                <pre jhiTranslate="message.error.stockNotFound"></pre>
                </ngb-alert>     
            </div>
            <div class="row">
                <div class="col-sm-6" style="margin: 0 auto;">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.shelf.default" for="field_shelf"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="descriptionShelf" (ngModelChange)="stockMovement.shelf.code=$event" id="field_shelf"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.shelf.select' | translate}}"
                                name="shelf" required>
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('shelfModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!stockMovement.shelf && stockMovement.shelf == null" class="input-group-addon pointer" (click)="initSubs('shelf')"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                        
                    </div>
                    <div [hidden]="!(editForm.controls.shelf?.dirty && editForm.controls.shelf?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.shelf?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                </div>
            </div>
            <div *ngIf="stockMovement.shelf">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="entity.shelf.name" for="field_shelfName"></label>
                            <div class="input-group w-100 mt-0">
                                <input type="text" [ngModel]="stockMovement.shelf?.name" (ngModelChange)="stockMovement.shelf.name=$event" id="field_shelfName"
                                    class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" name="shelfName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="entity.shelvingUnit.default" for="field_shelvingUnit"></label>
                            <div class="input-group w-100 mt-0">
                                <input type="text" [ngModel]="stockMovement.shelf?.shelvingUnit?.name" (ngModelChange)="stockMovement.shelf.shelvingUnit.name=$event"
                                    id="field_shelvingUnit" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    name="shelvingUnit">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="entity.headquarter.default" for="field_headquarter"></label>
                            <div class="input-group w-100 mt-0">
                                <input type="text" [ngModel]="stockMovement.shelf?.shelvingUnit?.headquarter?.name" (ngModelChange)="stockMovement.shelf.shelvingUnit.headquarter.name=$event"
                                    id="field_headquarter" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    name="headquarter">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="entity.company.default" for="field_company"></label>
                            <div class="input-group w-100 mt-0">
                                <input type="text" [ngModel]="stockMovement.shelf?.shelvingUnit?.headquarter?.company?.name" (ngModelChange)="stockMovement.shelf.shelvingUnit.headquarter.company.name=$event"
                                    id="field_company" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    name="company">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin: 0 auto;">
                        <div class="form-group">
                            <div class="input-group w-100 mt-0">
                                <div class="form-radio m-l-30">
                                    <div class="radio radio-matrial radio-primary radio-inline">
                                        <label>
                                            <input type="radio" name="radio" [(ngModel)]="status" (click)="statusChange('LO')" value="LO">
                                            <i class="helper"></i>
                                            <span jhiTranslate="state.movement.default.LO"></span>
                                        </label>
                                    </div>
                                    <div class="radio radio-matrial radio-success radio-inline">
                                        <label>
                                            <input type="radio" name="radio" [(ngModel)]="status" (click)="statusChange('CUN')" value="CUN">
                                            <i class="helper"></i>
                                            <span jhiTranslate="state.movement.default.CUN"></span>
                                        </label>
                                    </div> 
                                    <div class="radio radio-matrial radio-danger radio-inline">
                                        <label>
                                            <input type="radio" name="radio" [(ngModel)]="status" (click)="statusChange('EUN')" value="EUN">
                                            <i class="helper"></i>
                                            <span jhiTranslate="state.movement.default.EUN"></span>
                                        </label>
                                    </div>
                                    <div class="radio radio-matrial radio-warning radio-inline">
                                        <label>
                                            <input type="radio" name="radio" [(ngModel)]="status" (click)="statusChange('TR')" value="TR">
                                            <i class="helper"></i>
                                            <span jhiTranslate="state.movement.default.TR"></span>
                                        </label>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="margin: 0 auto">
                        <div class="form-group" *ngIf="status == 'CUN'">
                            <label class="form-control-label" jhiTranslate="entity.client.default" for="field_client"></label>
                            <div class="input-group w-100 mt-0 mb-0">
                                <input type="text" [ngModel]="descriptionStockMovement" (ngModelChange)="stockMovement.client.companyName=$event"
                                    id="field_client" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    placeholder="{{'entity.client.select' | translate}}" name="client" >
                                <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('clientModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                    <i class="fa fa-th"></i>
                                </span>
                                <span [hidden]="!stockMovement.client && stockMovement.client == null" class="input-group-addon pointer" (click)="stockMovement.client = null;descriptionStockMovement=''"
                                    ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                    <i class="fa fa-undo"></i>
                                </span>
                            </div>
                            
                        </div>
                        <div class="form-group" *ngIf="status == 'TR'">
                            <label class="form-control-label" jhiTranslate="entity.shelf.dest" for="field_destinationShelf"></label>
                            <div class="input-group w-100 mt-0 mb-0">
                                <input type="text" [ngModel]="descriptionDestinationShelf" (ngModelChange)="stockMovement.destinationShelf.code=$event"
                                    id="field_destinationShelf" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    placeholder="{{'entity.shelf.select' | translate}}" name="destinationShelf" required>
                                <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('destinationShelfModal')" ng-style="toBeClicked"
                                    style="cursor: pointer;">
                                    <i class="fa fa-th"></i>
                                </span>
                                <span [hidden]="!stockMovement.destinationShelf && stockMovement.destinationShelf == null" class="input-group-addon pointer"
                                    (click)="stockMovement.destinationShelf = null;descriptionDestinationShelf=''" ng-style="toBeClicked" style="cursor: pointer;"
                                    title="{{'action.cancel.label' | translate}}">
                                    <i class="fa fa-undo"></i>
                                </span>
                            </div>
                            
                        </div>
                        <div [hidden]="!(editForm.controls.shelf?.dirty && editForm.controls.shelf?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.shelf?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <div class="form-group">
                            <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.default" for="field_deliveredEquipement"></label>
                            <div class="input-group w-100 mt-0 mb-0">
                                <input type="text" [ngModel]="stockMovement.deliveredEquipement?.code" (ngModelChange)="stockMovement.deliveredEquipement.code=$event"
                                    id="field_deliveredEquipement" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    placeholder="{{'entity.deliveredEquipement.select' | translate}}" name="deliveredEquipement">
                                <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('deliveredEquipementModal')" ng-style="toBeClicked"
                                    style="cursor: pointer;">
                                    <i class="fa fa-th"></i>
                                </span>
                                <span [hidden]="!stockMovement.deliveredEquipement && stockMovement.deliveredEquipement == null" class="input-group-addon pointer"
                                    (click)="initSubs('deliveredEquipement')" ng-style="toBeClicked" style="cursor: pointer;"
                                    title="{{'action.cancel.label' | translate}}">
                                    <i class="fa fa-undo"></i>
                                </span>
                            </div>
                            <div *ngIf="stockMovement.deliveredEquipement" class="collapsed">
                                <span>
                                    <small>
                                        <strong>{{'entity.common.description' | translate}} :</strong> {{stockMovement.deliveredEquipement?.description}}</small>
                                </span>
                            </div>
                        </div> -->
                        <div class="form-group"> 
                            <label class="form-control-label" jhiTranslate="entity.common.barCode" for="field_itemCode"></label>
                            <input type="text" class="form-control" name="itemCode" id="field_itemCode" [(ngModel)]="itemCode" (ngModelChange)="loadItem(itemCode)"
                                required>
                            <div [hidden]="!(editForm.controls.itemCode?.dirty && editForm.controls.itemCode?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.itemCode?.errors?.required" jhiTranslate="message.error.required">
                                </small>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="stockMovement.deliveredEquipement && status == 'LO'">
                            <label *ngIf="!kit" class="form-control-label" jhiTranslate="entity.article.default" for="field_article"></label>
                            <label *ngIf="kit" class="form-control-label" jhiTranslate="entity.kit.default" for="field_kit"></label>

                            <div class="input-group w-100 mt-0 mb-0">
                                <input type="text" *ngIf="!kit" [ngModel]="descriptionDeliveredEquipement" (ngModelChange)="stockMovement.deliveredEquipement.article.code=$event"
                                    id="field_article" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    placeholder="{{'entity.article.select' | translate}}" name="article">
                                <input type="text" *ngIf="kit" [ngModel]="descriptionDeliveredEquipement" (ngModelChange)="stockMovement.deliveredEquipement.kit.code=$event"
                                    id="field_kit" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.kit.select' | translate}}"
                                    name="kit">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"  *ngIf="stockMovement.deliveredEquipement">
                            <label class="form-control-label" jhiTranslate="entity.product.default" for="field_product"></label>
                            <div class="input-group w-100 mt-0 mb-0">
                                <input type="text" [ngModel]="descriptionProduct" (ngModelChange)="stockMovement.deliveredEquipement.product.code=$event"
                                    id="field_product" class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                    placeholder="{{'entity.product.select' | translate}}" name="product">
                            </div>                            
                        </div>
                        
                        <div class="form-group" *ngIf="status != 'LO' || stockMovement.deliveredEquipement" >
                            <label class="form-control-label" jhiTranslate="entity.common.quantity" for="field_quantity"></label>
                            <input type="number" class="form-control" name="quantity" id="field_quantity" [(ngModel)]="stockMovement.quantity"  [range]="[0, maxQuantity]" required>
                            <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="message.error.required">
                                </small>
                                <small class="form-text text-danger" [hidden]="!editForm.controls.quantity?.errors?.range" jhiTranslate="message.error.between"
                                    translateValues=" {min: {{0}}, max: {{maxQuantity}}}">
                            </small>                          
                        </div>                        
                        </div>
                        <div class="table-responsive" *ngIf="stockAvailabilityCommands &&  status != 'LO'">
                            <table class="table table-striped table-xs">
                                <thead>
                                    <tr>
                                        <th style="width: 10%" >
                                            <span jhiTranslate="entity.common.quantity"></span>
                                        </th>
                                        <th style="width: 10%">
                                            <span jhiTranslate="entity.common.expirationDate"></span>
                                        </th>
                                        <th style="width: 10%">
                                            <span jhiTranslate="entity.common.productionBatch"></span>
                                        </th> 
                                    </tr>
                                </thead>
                                <tbody *ngFor="let e of stockAvailabilityCommands ;trackBy: trackId; let i = index">
                                    <tr  *ngIf = "e.maxQuantity != 0" (click)="setClickedRow(i)" style="cursor: pointer" [ngClass]="{'mvtClassSelcted': QuantitySelected == i}" class="ng-star-inserted mvtClass" >
                                        <td class="ng-star-inserted" >{{e.maxQuantity}}</td>                                       
                                        <td class="ng-star-inserted" >{{  dateTab[i] }}</td>
                                        <td class="ng-star-inserted">{{e.deliveredEquipement.productionBatch}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="margin: 0 auto">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="entity.common.note" for="field_note"></label>
                            <textarea type="text" class="form-control" name="note" id="field_note" [(ngModel)]="stockMovement.note"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit"   [disabled]="editForm.form.invalid || stockNotFound"  class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.stockMovement.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'shelfModal'" [backDrop]="true" [modalClass]="'md-effect-1 modal-big'">
        <h3 jhiTranslate="entity.shelf.select"></h3>
        <jhi-filter *ngIf="shelfModal" [entity]="'shelf'" [path]="'shelves/active'" [sorted]="'description'" [reversed]="true" [headers]="['code', 'name', 'shelvingUnit', 'headquarter', 'company']"
            [context]="'stockMovement'" (onSelect)="assignShelf($event)"></jhi-filter>
        <button (click)="closeModal('closeShelfBtn')" aria-label="Close" class="md-close-btn" id="closeShelfBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'destinationShelfModal'" [backDrop]="true" [modalClass]="'md-effect-1 modal-big'">
        <h3 jhiTranslate="entity.shelf.select"></h3>
        <jhi-filter *ngIf="destinationShelfModal" [entity]="'shelf'" [path]="'shelves/active'" [sorted]="'description'" [reversed]="true" [headers]="['code', 'name', 'description']"
            [context]="'stockMovement'" (onSelect)="assignDestinationShelf($event)"></jhi-filter>
        <button (click)="closeModal('closeDestinationShelfBtn')" aria-label="Close" class="md-close-btn" id="closeDestinationShelfBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'deliveredEquipementModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.deliveredEquipement.select"></h3>
        <jhi-filter *ngIf="stockMovement.shelf && deliveredEquipementModal" [entity]="'deliveredEquipement'" [path]="'delivered-equipements/progress'"
            [headers]="['code', 'description', 'deliveryDate']" [searchNotAllowed]="true" (onSelect)="assignDeliveredEquipement($event)"></jhi-filter>
        <button (click)="closeModal('closeDeliveredEquipementBtn')" aria-label="Close" class="md-close-btn" id="closeDeliveredEquipementBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start 
    <app-modal-animation [modalID]="'clientModal'" [backDrop]="true" [modalClass]="'md-effect-1 modal-big'" [modalWidth]="700">
        <h3 jhiTranslate="entity.client.select"></h3>
        <jhi-filter *ngIf="status == 'CUN' && clientModal" [entity]="'client'" [path]="'clients'" [reversed]="true" [headers]="['companyName', 'email']"
            [searchNotAllowed]="true" (onSelect)="assignClient($event)"></jhi-filter>
        <button (click)="closeModal('closeClientBtn')" aria-label="Close" class="md-close-btn" id="closeClientBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>-->
    <app-modal-animation [modalID]="'clientModal'" [backDrop]="true" [modalClass]="'md-effect-1 modal-big'">
        <h3 jhiTranslate="entity.client.select"></h3>
        <jhi-filter *ngIf="status == 'CUN' && clientModal" [entity]="'client'" [path]="'clients'" [headers]="['companyName', 'email']"
            [context]="'stockMovement'" (onSelect)="assignClient($event)"></jhi-filter>
        <button (click)="closeModal('closeClientBtn')" aria-label="Close" class="md-close-btn" id="closeClientBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>