<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="stockMovement">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{stockMovement.itemCode}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{stockMovement.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.deliveryDate"></span></th>
                    <td><span>{{stockMovement.movementDate | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelf.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.shelf" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelf', stockMovement.shelf?.id]">{{stockMovement.shelf?.code}} | {{stockMovement.shelf?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.shelf?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.shelvingUnit.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.shelf.shelvingUnit" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/shelving-unit', stockMovement.shelf.shelvingUnit?.id]">{{stockMovement.shelf.shelvingUnit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.shelf.shelvingUnit?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.headquarter.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.shelf.shelvingUnit.headquarter" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/headquarter', stockMovement.shelf.shelvingUnit.headquarter?.id]">{{stockMovement.shelf.shelvingUnit.headquarter?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.shelf.shelvingUnit.headquarter?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.annulled"></span></th>
                    <td>
                        <span>{{stockMovement.annulled}}</span>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.stockMovement.field.movementType"></span></th>
                    <td>
                            <span jhiTranslate="{{'state.movement.default.' + stockMovement.movementType}}">{{stockMovement.movementType}}</span>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.deliveredEquipement" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/delivered-equipement', stockMovement.deliveredEquipement?.id]">{{stockMovement.deliveredEquipement?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.deliveredEquipement?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.article.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.article" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/article', stockMovement.article?.id]">{{stockMovement.article?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.article?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.kit.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.kit" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/kit', stockMovement.kit?.id]">{{stockMovement.kit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.kit?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.product.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.product" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/product', stockMovement.product?.id]">{{stockMovement.product?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{stockMovement.product?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.client.default"></span></th>
                    <td>
                        <div *ngIf="stockMovement.client" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.companyName' | translate}} </span></th>
                                    <td><a [routerLink]="['/client', stockMovement.client?.id]">{{stockMovement.client?.companyName}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.email' | translate}} </span></th>
                                    <td>{{stockMovement.client?.email}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'stock-movement/'+ stockMovement.id + '/edit'} }]" replaceUrl="true"
            queryParamsHandling="merge" class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.stockMovement.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>