<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="deliveredEquipement">
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{deliveredEquipement.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.deliveryDate"></span></th>
                    <td><span>{{deliveredEquipement.deliveryDate | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.quantityPerPackage"></span></th>
                    <td><span>{{deliveredEquipement.quantityPerPackage}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.stockedQuantity"></span></th>
                    <td><span>{{deliveredEquipement.stockedQuantity}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.ddt"></span></th>
                    <td><span>{{deliveredEquipement.ddt}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.productionBatch"></span></th>
                    <td><span>{{deliveredEquipement.productionBatch}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.annulled"></span></th>
                    <td><span>{{deliveredEquipement.annuled}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.deliveredEquipmentStatus"></span></th>
                    <td> <span jhiTranslate="{{'state.reception.default.' + deliveredEquipement.deliveredEquipmentStatus}}">{{deliveredEquipement.deliveredEquipmentStatus}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{deliveredEquipement.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.expirationDate"></span></th>
                    <td><span>{{deliveredEquipement.expirationDate | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.receivedPackage"></span></th>
                    <td><span>{{deliveredEquipement.receivedPackage}}</span>/td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.deliveredQuantity"></span></th>
                    <td><span>{{deliveredEquipement.deliveredQuantity}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.deliveredEquipement.field.insertCode"></span></th>
                    <td><span>{{deliveredEquipement.insertCode}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.annulled"></span></th>
                    <td><span>{{deliveredEquipement.annuled}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.supplier.default"></span></th>
                    <td>
                        <div *ngIf="deliveredEquipement.supplier" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.companyName' | translate}} </span></th>
                                    <td><a [routerLink]="['/supplier', deliveredEquipement.supplier?.id]">{{deliveredEquipement.supplier?.companyName}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.email' | translate}} </span></th>
                                    <td>{{deliveredEquipement.supplier?.email}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.article.default"></span></th>
                    <td>
                        <div *ngIf="deliveredEquipement.article" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/article', deliveredEquipement.article?.id]">{{deliveredEquipement.article?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{deliveredEquipement.article?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.product.default"></span></th>
                    <td>
                        <div *ngIf="deliveredEquipement.product" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/product', deliveredEquipement.product?.id]">{{deliveredEquipement.product?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{deliveredEquipement.product?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.orderDetails.default"></span></th>
                    <td>
                        <div *ngIf="deliveredEquipement.orderDetail" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/order-details', deliveredEquipement.orderDetail?.id]">{{deliveredEquipement.orderDetail?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{deliveredEquipement.orderDetail?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.kit.default"></span></th>
                    <td>
                        <div *ngIf="deliveredEquipement.kit" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/kit', deliveredEquipement.kit?.id]">{{deliveredEquipement.kit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{deliveredEquipement.kit?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.packagingMethod.default"></span></th>
                    <td>
                        <div *ngIf="deliveredEquipement.packagingMethod" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/packaging-method', deliveredEquipement.packagingMethod?.id]">{{deliveredEquipement.packagingMethod?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{deliveredEquipement.packagingMethod?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
           </table>
        </div>
        <jhi-alert-error></jhi-alert-error>
        
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="f_ua fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'delivered-equipement/'+ deliveredEquipement.id + '/edit'} }]"
            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.deliveredEquipement.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>