<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="myDeliveredEquipementLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouvel' | translate}}', entity: '{{'entity.deliveredEquipement.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouvel' | translate), entity:('entity.deliveredEquipement.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-lg-12">
                    <div id="wizardc">
                        <section>
                            <div class="wizard-form wizard clearfix" id="design-wizard" action="#" role="application">
                                <!--<div class="steps clearfix">
                                    <ul role="tablist">
                                        <li role="tab" [class]="step==1?'current':'done'" [style.width]="'50%'">
                                            <a [class.active]="step==1" (click)="step=1;">
                                                <span class="number">1.</span>
                                            </a>
                                        </li>
                                        <li [class]="step==2?'current':'done'" role="tab" class="done" [style.width]="'50%'">
                                            <a [class.active]="step==2" (click)="step=2;">
                                                <span class="number">2.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>-->
                                <div class="content clearfix wizard m-0">
                                    <fieldset [hidden]="step!=1" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.supplier.default" for="field_supplier"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionSupplier" (ngModelChange)="deliveredEquipement.supplier.companyName=$event"
                                                            id="field_supplier" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.supplier.select' | translate}}"
                                                            name="supplier" required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('supplierModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span [hidden]="!deliveredEquipement.supplier && deliveredEquipement.supplier == null" class="input-group-addon pointer"
                                                            (click)="initSubs('supplier')" ng-style="toBeClicked" style="cursor: pointer;"
                                                            title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.supplier?.dirty && editForm.controls.supplier?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.supplier?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.unitPrice" for="field_unitPrice"></label>
                                                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" [(ngModel)]="deliveredEquipement.unitPrice" required
                                                        />
                                                    <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.unitPrice?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.fromOrder" for="field_from_order"></label>
                                                    <div class="input-group w-100 mt-0">
                                                        <div class="form-radio m-l-30">
                                                            <div class="radio radio-matrial radio-success radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" [(ngModel)]="fromOrder" (click)="fromOrderChange('yes')" value="yes">
                                                                    <i class="helper"></i>
                                                                    <span jhiTranslate="prep.yes"></span>
                                                                </label>
                                                            </div>
                                                            <div class="radio radio-matrial radio-danger radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" [(ngModel)]="fromOrder" (click)="fromOrderChange('no')" value="no">
                                                                    <i class="helper"></i>
                                                                    <span jhiTranslate="prep.no"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group" *ngIf="fromOrder == 'yes'">
                                                    <label class="form-control-label" jhiTranslate="entity.commande.default" for="field_commande"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionSelectedCommande" (ngModelChange)="selectedCommande.code=$event" id="field_commande"
                                                            class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true"
                                                            placeholder="{{'entity.commande.select' | translate}}" name="commande">
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="deliveredEquipement.supplier ? openMyModal('commandeModal'):openBasicSwal('supplier')"
                                                            ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span [hidden]="!selectedCommande && selectedCommande == null" class="input-group-addon pointer" (click)="initSubs('order')"
                                                            ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group" *ngIf="fromOrder == 'no'">
                                                    <label class="form-control-label" jhiTranslate="entity.article.default" for="field_article"></label>
                                                    /
                                                    <label class="form-control-label" jhiTranslate="entity.kit.default" for="field_article"></label>

                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" *ngIf="!kit" [ngModel]="descriptionArticle" (ngModelChange)="deliveredEquipement.article.code=$event"
                                                            id="field_article" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.article.select' | translate}}"
                                                            name="article">
                                                        <input type="text" *ngIf="kit" [ngModel]="descriptionKit" (ngModelChange)="deliveredEquipement.kit.code=$event"
                                                            id="field_kit" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.kit.select' | translate}}"
                                                            name="kit">
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="deliveredEquipement.product=null;deliveredEquipement.kit=null;kit=false;deliveredEquipement.supplier ? openMyModal('articleModal') : openBasicSwal('supplier')"
                                                            ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-list-alt"></i>
                                                        </span>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="deliveredEquipement.product=null;deliveredEquipement.article=null;kit=true;deliveredEquipement.supplier ? openMyModal('kitModal') : openBasicSwal('supplier')"
                                                            ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-shopping-bag"></i>
                                                        </span>
                                                        <span [hidden]="(!deliveredEquipement.article || deliveredEquipement.article == null) && (!deliveredEquipement.kit || deliveredEquipement.kit == null)"
                                                            class="input-group-addon pointer" (click)="initSubs('artkit')" ng-style="toBeClicked"
                                                            style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                   
                                                </div>
                                                <div class="form-group" *ngIf="fromOrder == 'yes'">
                                                    <label class="form-control-label" jhiTranslate="entity.orderDetails.default" for="field_orderDetail"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionOrderDetail" (ngModelChange)="deliveredEquipement.orderDetail.code=$event"
                                                            id="field_orderDetail" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.orderDetails.select' | translate}}"
                                                            name="orderDetail">
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="selectedCommande?openMyModal('orderDetailsModal'):openBasicSwal('commande')"
                                                            ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span [hidden]="!deliveredEquipement.orderDetail && deliveredEquipement.orderDetail == null" class="input-group-addon pointer"
                                                            (click)="initSubs('orderDetails')" ng-style="toBeClicked" style="cursor: pointer;"
                                                            title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.deliveredQuantity" for="field_deliveredQuantity"></label>
                                                    <input type="number" class="form-control" name="deliveredQuantity" id="field_deliveredQuantity" [(ngModel)]="deliveredEquipement.deliveredQuantity"
                                                        [readonly]="true" required />
                                                    <div [hidden]="!(editForm.controls.deliveredQuantity?.dirty && editForm.controls.deliveredQuantity?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.deliveredQuantity?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.receivedPackage" for="field_receivedPackage"></label>
                                                    <input type="number" class="form-control" name="receivedPackage" id="field_receivedPackage" [(ngModel)]="deliveredEquipement.receivedPackage"
                                                        (ngModelChange)="changeQuantity()"  [range]="[deliveredQuantityMinValue, deliveredQuantityMaxValue]"
                                                        required />
                                                    <div [hidden]="!(editForm.controls.receivedPackage?.dirty && editForm.controls.receivedPackage?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.receivedPackage?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.receivedPackage?.errors?.range" jhiTranslate="message.error.between"
                                                            translateValues=" {min: {{deliveredQuantityMinValue}}, max: {{deliveredQuantityMaxValue}}}">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.deliveryDate" for="field_deliveryDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_deliveryDate" [disabled] type="date" class="form-control" name="deliveryDate" [ngModel]="deliveredEquipement.deliveryDate"
                                                            (ngChangeModel)="deliveredEquipement.deliveryDate = $event" 
                                                        />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.expirationDate" for="field_expirationDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_expirationDate" [disabled]="deliveredEquipement.deliveredEquipmentStatus != 'NS'" type="date" class="form-control" name="expirationDate" [(ngModel)]="deliveredEquipement.expirationDate"
                                                            />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group" *ngIf="fromOrder == 'yes'">
                                                    <label class="form-control-label" jhiTranslate="entity.product.default" for="field_product"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="deliveredEquipement.orderDetail?.product?.description" (ngModelChange)="deliveredEquipement.orderDetail.product.description=$event"
                                                            id="field_product" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.product.show' | translate}}"
                                                            name="product">
                                                        <span [hidden]="!deliveredEquipement.orderDetail?.kit" class="input-group-addon pointer blue-tooltip" (click)="deliveredEquipement.orderDetail?.kit ? openMyModal('productModal') : openBasicSwal('kit')"
                                                            ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-list-alt"></i>
                                                        </span>
                                                    </div>
                                                    <!-- <div *ngIf="deliveredEquipement.product" class="collapsed">
                                                        <span>
                                                            <small>
                                                                <strong>{{'entity.common.description' | translate}} :</strong> {{deliveredEquipement.product?.description}}</small>
                                                        </span>
                                                    </div> -->
                                                </div>
                                                <div class="form-group" *ngIf="fromOrder == 'no'">
                                                    <label class="form-control-label" jhiTranslate="entity.product.default" for="field_product"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="deliveredEquipement.product?.description" (ngModelChange)="deliveredEquipement.product.description=$event"
                                                            id="field_product" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.product.show' | translate}}"
                                                            name="product">
                                                        <span [hidden]="!deliveredEquipement.kit" class="input-group-addon pointer blue-tooltip" (click)="deliveredEquipement.kit ? openMyModal('productModal') : openBasicSwal('kit')"
                                                            ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-list-alt"></i>
                                                        </span>
                                                    </div>
                                                    <!-- <div *ngIf="deliveredEquipement.product" class="collapsed">
                                                        <span>
                                                            <small>
                                                                <strong>{{'entity.common.description' | translate}} :</strong> {{deliveredEquipement.product?.description}}</small>
                                                        </span>
                                                    </div> -->
                                                </div>
                                                <div class="form-group"> 
                                                    <label class="form-control-label" jhiTranslate="entity.packagingMethod.default" for="field_packagingMethod"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="deliveredEquipement.packagingMethod?.code" (ngModelChange)="deliveredEquipement.packagingMethod.code=$event"
                                                            id="field_packagingMethod" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readOnly]="true" placeholder="{{'entity.packagingMethod.select' | translate}}"
                                                            name="packagingMethod">
                                                    </div>                                                   
                                                </div>
                                                <div class="form-group" *ngIf="fromOrder == 'yes'">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.ddt" for="field_ddt"></label>
                                                    <input type="text" class="form-control" name="ddt" id="field_ddt" [(ngModel)]="deliveredEquipement.ddt" maxlength="128" required
                                                    />
                                                    <div [hidden]="!(editForm.controls.ddt?.dirty && editForm.controls.ddt?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.ddt?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 128 }">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.ddt?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.productionBatch" for="field_productionBatch"></label>
                                                    <input type="text" class="form-control" name="productionBatch" id="field_productionBatch" [(ngModel)]="deliveredEquipement.productionBatch"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.quantityPerPackage" for="field_quantityPerPackage"></label>
                                                    <input type="number" class="form-control" name="quantityPerPackage" id="field_quantityPerPackage" [(ngModel)]="deliveredEquipement.quantityPerPackage"
                                                        (ngModelChange)="changeQuantity()" [readonly]="true" required/>
                                                    <div [hidden]="!(editForm.controls.quantityPerPackage?.dirty && editForm.controls.quantityPerPackage?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.quantityPerPackage?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!--<fieldset [hidden]="step!=2" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group" *ngIf="fromOrder == 'yes'">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.ddt" for="field_ddt"></label>
                                                    <input type="text" class="form-control" name="ddt" id="field_ddt" [(ngModel)]="deliveredEquipement.ddt" maxlength="128" required
                                                    />
                                                    <div [hidden]="!(editForm.controls.ddt?.dirty && editForm.controls.ddt?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.ddt?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                                            translateValues="{ max: 128 }">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.ddt?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.productionBatch" for="field_productionBatch"></label>
                                                    <input type="text" class="form-control" name="productionBatch" id="field_productionBatch" [(ngModel)]="deliveredEquipement.productionBatch"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.quantityPerPackage" for="field_quantityPerPackage"></label>
                                                    <input type="number" class="form-control" name="quantityPerPackage" id="field_quantityPerPackage" [(ngModel)]="deliveredEquipement.quantityPerPackage"
                                                        (ngModelChange)="changeQuantity()" [readonly]="true" required/>
                                                    <div [hidden]="!(editForm.controls.quantityPerPackage?.dirty && editForm.controls.quantityPerPackage?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.quantityPerPackage?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.deliveredQuantity" for="field_deliveredQuantity"></label>
                                                    <input type="number" class="form-control" name="deliveredQuantity" id="field_deliveredQuantity" [(ngModel)]="deliveredEquipement.deliveredQuantity"
                                                        [readonly]="true" required />
                                                    <div [hidden]="!(editForm.controls.deliveredQuantity?.dirty && editForm.controls.deliveredQuantity?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.deliveredQuantity?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.deliveredEquipement.field.receivedPackage" for="field_receivedPackage"></label>
                                                    <input type="number" class="form-control" name="receivedPackage" id="field_receivedPackage" [(ngModel)]="deliveredEquipement.receivedPackage"
                                                        (ngModelChange)="changeQuantity()"  [range]="[deliveredQuantityMinValue, deliveredQuantityMaxValue]"
                                                        required />
                                                    <div [hidden]="!(editForm.controls.receivedPackage?.dirty && editForm.controls.receivedPackage?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.receivedPackage?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.receivedPackage?.errors?.range" jhiTranslate="message.error.between"
                                                            translateValues=" {min: {{deliveredQuantityMinValue}}, max: {{deliveredQuantityMaxValue}}}">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.deliveryDate" for="field_deliveryDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_deliveryDate" [disabled] type="date" class="form-control" name="deliveryDate" [ngModel]="deliveredEquipement.deliveryDate"
                                                            (ngChangeModel)="deliveredEquipement.deliveryDate = $event" 
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.expirationDate" for="field_expirationDate"></label>
                                                    <div class="d-flex">
                                                        <input id="field_expirationDate" [disabled]="deliveredEquipement.deliveredEquipmentStatus != 'NS'" type="date" class="form-control" name="expirationDate" [(ngModel)]="deliveredEquipement.expirationDate"
                                                             />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>-->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.deliveredEquipement.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'supplierModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.supplier.select"></h3>
        <jhi-filter *ngIf="supplierModal" [entity]="'supplier'" [path]="'suppliers'" [sorted]="'companyName'" [reversed]="true" [headers]="['companyName', 'phoneNumber', 'email']"
            (onSelect)="assignSupplier($event)"></jhi-filter>
        <button (click)="closeModal('closeSupplierBtn')" aria-label="Close" class="md-close-btn" id="closeSupplierBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'articleModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.article.select"></h3>
        <jhi-filter *ngIf="deliveredEquipement.supplier && fromOrder == 'no' && articleModal" [entity]="'article'" [context]="'DeliveredEquipement'"
            [path]="'articles/getActiveArticleNormBysupplier?idSup='+deliveredEquipement.supplier.id" [headers]="['code', 'description']"
            [searchNotAllowed]="true" [normalisation]="true" (onSelect)="assignArticle($event)"></jhi-filter>
        <button (click)="closeModal('closeArticleBtn')" aria-label="Close" class="md-close-btn" id="closeArticleBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'kitModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.kit.select"></h3>
        <jhi-filter *ngIf="deliveredEquipement.supplier && fromOrder == 'no' && kitModal" [entity]="'kit'" [context]="'DeliveredEquipement'"
            [path]="'kits/getActiveKitNormBysupplier?idSup='+deliveredEquipement.supplier.id" [headers]="['code', 'description']"
            [searchNotAllowed]="true" (onSelect)="assignKit($event)"></jhi-filter>
        <button (click)="closeModal('closeKitBtn')" aria-label="Close" class="md-close-btn" id="closeKitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'productModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.product.select"></h3>
        <!-- <jhi-filter *ngIf="(deliveredEquipement.orderDetail?.kit && productModal); else orderkit" [entity]="'product'" [path]="'kits/norm/getAssignedProductsKitByStatusOfSupplier?idSup='+deliveredEquipement.supplier?.id+'&idKit='+deliveredEquipement.orderDetail?.kit?.id+'&idDetail='+deliveredEquipement.orderDetail?.id"
            [headers]="['code', 'description']" [searchNotAllowed]="true"></jhi-filter>
        <ng-template #orderkit>
            <jhi-filter *ngIf="deliveredEquipement.kit && productModal" [entity]="'product'" [path]="'kits/norm/getAssignedProductsKitOfSupplier?idSup='+deliveredEquipement.supplier?.id+'&idKit='+deliveredEquipement.kit?.id"
                [headers]="['code', 'description']" [searchNotAllowed]="true"></jhi-filter>
        </ng-template> -->
        <div class="p-10" *ngIf="productModal">
            <div class="table-responsive" *ngIf="productReceivedCommands">
                <table class="table table-striped table-xs table-modal">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" value="checkAll" [checked]="checkAll" [disabled]="true" (click)="toggleCheckAll(checkAll)" />
                            </th>
                            <th>
                                <span>{{ 'entity.common.code' | translate }}</span>
                            </th>
                            <th>
                                <span>{{ 'entity.common.description' | translate }}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productReceivedCommands" style="cursor: pointer;">
                            <td>
                                <input type="checkbox" value="{{item.product.code}}" [disabled]="item.received || edit || deliveredEquipement.orderDetail?.kit || deliveredEquipement.kit"
                                    [checked]="isElemExistInList(listProductsChecked, item)!=-1" (click)="toggleSelection(item)"
                                />
                            </td>
                            <td>{{ item.product.code }}</td>
                            <td>{{ item.product.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="productReceivedCommands && productReceivedCommands.length == 0">
                <div>
                    <span class="">{{'message.info.emptytab' |translate}}</span>
                </div>
            </div>
        </div>
        <button (click)="closeModal('closeProductBtn')" aria-label="Close" class="md-close-btn" id="closeProductBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'commandeModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.commande.select"></h3>
        <jhi-filter *ngIf="deliveredEquipement.supplier && fromOrder == 'yes' && commandeModal" [entity]="'commande'" [path]="'commandes/opened/supplier/' + deliveredEquipement.supplier.id"
            [sorted]="'description'" [reversed]="true" [headers]="['code', 'description', 'totalCost', 'requiredDeliveryDate']"
            [searchNotAllowed]="true" (onSelect)="assignCommande($event)"></jhi-filter>
        <button (click)="closeModal('closeCommandeBtn')" aria-label="Close" class="md-close-btn" id="closeCommandeBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'orderDetailsModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.orderDetails.select"></h3>
        <jhi-filter *ngIf="selectedCommande && fromOrder == 'yes' && orderDetailsModal" [entity]="'orderDetails'" [path]="'order-details/progress/order/' + selectedCommande.id"
            [sorted]="'description'" [reversed]="true" [headers]="['description', 'orderedQuantity', 'remainingQuantity', 'orderPrice']"
            [searchNotAllowed]="true" (onSelect)="assignOrderDetails($event)"></jhi-filter>
        <button (click)="closeModal('closeOrderDetailsBtn')" aria-label="Close" class="md-close-btn" id="closeOrderDetailsBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>