<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper" style="padding: 0px;">
            <!-- Page-header start -->
            <div class="page-header card">
                <div style="padding: 0px;">
                    <div class="col-sm-12 col-xl-6 f-right">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                    <span class="fa fa-search"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="displayAdvanced()" placement="bottom" ngbTooltip="{{ 'action.search.advanced.tooltip' | translate }}">
                                    <span class="fa fa-filter"></span>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                    <span class="fa fa-trash-o"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->

            <!-- Page body start -->
            <div class="page-body" *ngIf="showFilter">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Time card start -->
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <h5 jhiTranslate="entity.common.deliveryDate"></h5>
                                    </div>
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <span jhiTranslate="prep.from"></span>
                                        <input class="form-control" type="date" [(ngModel)]="fromDelivery" (change)="search(currentSearch)" />
                                    </div>
                                    <div class="col-sm-12 col-xl-4 m-b-5">
                                        <span jhiTranslate="prep.to"></span>
                                        <input class="form-control" type="date" [(ngModel)]="toDelivery" (change)="search(currentSearch)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Time card start -->
                        <div>
                            <div style="padding: 0px;">
                                <div class="row">
                                    <div class="form-radio col-sm-9 col-xl-9 m-b-5">
                                        <div class="input-group w-100 mt-3">
                                            <form>
                                                <div class="radio radio-matrial radio-default radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="All" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="prep.all"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-primary radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="NS" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.reception.default.NS"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-success radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="PS" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.reception.default.PS"></span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-matrial radio-danger radio-inline">
                                                    <label>
                                                        <input type="radio" name="radio" [(ngModel)]="status" value="ST" (ngModelChange)="search(currentSearch)">
                                                        <i class="helper"></i>
                                                        <span jhiTranslate="state.reception.default.ST"></span>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xl-3 m-b-5 f-right">
                                        <div class="input-group w-100 mt-3">
                                            <div class="checkbox-fade fade-in-danger ">
                                                <label>
                                                    <input type="checkbox" value="" [(ngModel)]="annulled" value="" (ngModelChange)="search(currentSearch)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-danger"></i>
                                                    </span>
                                                    <span jhiTranslate="entity.common.annulled"></span> ?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="deliveredEquipements">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 14%">
                        <span jhiTranslate="entity.short.barCode"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 13%">
                        <span jhiTranslate="entity.short.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="productionBatch" style="width: 7%">
                        <span jhiTranslate="entity.deliveredEquipement.short.productionBatch"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="supplier.id" style="width: 16%">
                        <span jhiTranslate="entity.supplier.short"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="deliveredQuantity" style="width: 5%">
                        <span jhiTranslate="entity.deliveredEquipement.short.deliveredQuantity"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="deliveredEquipmentStatus" style="width: 8%">
                        <span jhiTranslate="entity.deliveredEquipement.short.deliveredEquipmentStatus"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="deliveryDate" style="width: 10%">
                        <span jhiTranslate="entity.short.deliveryDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="expirationDate" style="width: 10%">
                        <span jhiTranslate="entity.short.expirationDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="width: 7%">{{'entity.common.ticket' | translate}}</th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['delivered-equipement-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deliveredEquipement of deliveredEquipements ;trackBy: trackId">
                    <td>{{deliveredEquipement.code}}</td>
                    <td>{{deliveredEquipement.description}}</td>
                    <td>{{deliveredEquipement.productionBatch}}</td>
                    <td>
                        <div *ngIf="deliveredEquipement.supplier">
                            <a [routerLink]="['../supplier', deliveredEquipement.supplier?.id ]">{{deliveredEquipement.supplier?.companyName}}</a>
                        </div>
                    </td>
                    <td>{{deliveredEquipement.deliveredQuantity}}</td>
                    <td jhiTranslate="{{'state.reception.short.' + deliveredEquipement.deliveredEquipmentStatus}}">{{deliveredEquipement.deliveredEquipmentStatus}}</td>
                    <td>{{deliveredEquipement.deliveryDate | date:'mediumDate'}}</td>
                    <td>{{deliveredEquipement.expirationDate | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit" (click)="printBarCode(deliveredEquipement)" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../delivered-equipement', deliveredEquipement.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'delivered-equipement/'+ deliveredEquipement.id + '/edit'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'delivered-equipement/'+ deliveredEquipement.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(deliveredEquipements && deliveredEquipements.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
    <div id="barCode" [hidden]="true">
        <ngx-barcode #ngxBarCode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-element-type]="'svg'"></ngx-barcode>
    </div>
</app-card>