<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Cambia Password</h1>

            <div class="alert alert-danger"  *ngIf="keyMissing">
                <strong>La chiave di reimpostazione non è presente.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Scegliere una nuova password</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>La tua password potrebbe non essere ripristinata. Ricorda che la richiesta della password è valida solo per 24 ore.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>La tua password è stata reimpostata .</strong> Per favore </span>
                <a class="alert-link" (click)="login()">accedere</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La password e la sua conferma non corrispondono!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nuova password</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Nuova password"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                               La password è obbligatoria.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                               La password deve essere di almeno 4 caratteri
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                               La password non può contenere più di 50 caratteri.
                            </small>
                        </div>
                        <!--<jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>-->
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Conferma nuova password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Conferma nuova password"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                               La password di conferma è obbligatoria.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                La tua password deve essere di almeno 4 caratteri
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength" >
                                La tua password non può contenere più di 50 caratteri
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Convalida la nuova password</button>
                </form>
            </div>

        </div>
    </div>
</div>
