<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTvaCodeLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.tvaCode.min' | translate}}'}"
            data-toggle="tooltip" data-placement="bottom" title="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.tvaCode.min' | translate) } }}"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.code" for="field_code"></label>
            <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="tvaCode.code" required maxlength="32" />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="message.error.required">
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                    translateValues="{ max: 32 }">
                </small>
            </div>
            <small class="form-text text-danger" [hidden]="!existCode"> 
                {{ 'message.error.codeExist' | translate}}
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
            <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="tvaCode.description" maxlength="256"
            />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                    translateValues="{ max: 256 }">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.value" for="field_value"></label>
            <input type="number" class="form-control" name="value" id="field_value" [(ngModel)]="tvaCode.value" [range]="[0, 100]" required />
            <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="message.error.required">
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.value?.errors?.range" jhiTranslate="message.error.between"
                                    translateValues=" {min: {{0}}, max: {{100}}}">
                                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.tvaCode.min' | translate) } }}"></span>
        </button>
    </div>
</form>