<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
 
    <div class="modal-header">
        <h4 class="modal-title" id="myMeasureUnitLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_fem_min_cons' | translate}}', prep2: '{{'prep.nouvelle' | translate}}', entity: '{{'entity.measureUnit.min' | translate}}'}"
            placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_fem_min_cons' | translate), prep2:('prep.nouvelle' | translate), entity:('entity.measureUnit.min' | translate) } }}"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.code" for="field_code"></label>
            <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="measureUnit.code" required maxlength="32"
            />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="message.error.required">
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                    translateValues="{ max: 32 }">
                </small>
            </div>
            <small class="form-text text-danger" [hidden]="!existCode"> 
                {{ 'message.error.codeExist' | translate}}
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.name" for="field_name"></label>
            <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="measureUnit.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="message.error.required">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
            <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="measureUnit.description" maxlength="256"
            />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                    translateValues="{ max: 256 }">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.type" for="field_type"></label>
            <input type="text" class="form-control" name="type" id="field_type" [(ngModel)]="measureUnit.type" required />
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="message.error.required">
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.measureUnit.min' | translate) } }}"></span>
        </button>
    </div>
</form>