<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 card m-b-0">
        <div class="widgettitle row">
            <ul class="col-sm-3">
                <li class="active ng-binding">
                    <span jhiTranslate="entity.commande.default"></span>
                    <span jhiTranslate="entity.common.code"></span> : {{order?.code}}
                </li>
            </ul>
            <ul class="col-sm-3">
                <li class="active ng-binding text-center">
                    <span jhiTranslate="entity.common.description"></span> : {{order?.description}}
                </li>
            </ul>
            <ul class="col-sm-3">
                <li class="active ng-binding text-center">
                    <span jhiTranslate="entity.supplier.default"></span> : {{order?.supplier?.companyName}}
                </li>
            </ul>
            <ul class="col-sm-3">
                <li class="clickable text-right">
                    <span class="fa fa-arrow-left fa-16 tenRMargin" [routerLink]="['../../../commande']"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-block">
        <div class="col-sm-12 col-xl-6 f-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive" *ngIf="orderDetails">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 10%">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 20%">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="quantityPerPackage" style="width: 12%">
                        <span jhiTranslate="entity.short.quantityPerPackage"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="unitPrice" style="width: 8%">
                        <span jhiTranslate="entity.short.unitPrice"> </span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="orderedQuantity" style="width: 8%">
                        <span jhiTranslate="entity.orderDetails.short.orderedQuantity"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="receivedQuantity" style="width: 10%">
                        <span jhiTranslate="entity.orderDetails.short.receivedQuantity"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="orderPrice" style="width: 7%">
                        <span jhiTranslate="entity.orderDetails.short.orderPrice"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="deliveryDate" style="width: 15%">
                        <span jhiTranslate="entity.orderDetails.short.deliveryDate"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <button type="submit" (click)="openNew()" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderDetails of orderDetails ;trackBy: trackId">
                    <td>{{orderDetails.code}}</td>
                    <td>{{orderDetails.description}}</td>
                    <td>{{orderDetails.quantityPerPackage}}</td>
                    <td>{{orderDetails.unitPrice}}</td>
                    <td>{{orderDetails.orderedQuantity}}</td>
                    <td>{{orderDetails.receivedQuantity}}</td>
                    <td>{{orderDetails.orderPrice}}</td>
                    <td>{{orderDetails.deliveryDate | date:'medium'}}</td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="[ orderDetails.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" (click)="openEdit(orderDetails.id)" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'order-details/'+ orderDetails.id + '/delete'} }]" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(orderDetails && orderDetails.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>