<div class="animation-model">
    <style>
   
     .modal-content{
  width:800px !important;
}
    </style>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myOrderDetailsLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_fem_min_cons' | translate}}', prep2: '{{'prep.nouvelle' | translate}}', entity: '{{'entity.orderDetails.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_fem_min_cons' | translate), prep2:('prep.nouvelle' | translate), entity:('entity.orderDetails.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.product.default" for="field_product"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="descriptionProduct" (ngModelChange)="orderDetails.product.code=$event" id="field_product"
                                class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.product.select' | translate}}"
                                name="product" required />
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('productModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!orderDetails.product || orderDetails.product == null" class="input-group-addon pointer" (click)="initSubs('product')"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                         
                    </div>
                    <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.product?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.article.default" for="field_article"></label>
                        /
                        <label class="form-control-label" jhiTranslate="entity.kit.default" for="field_kit"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" *ngIf="!kit" [ngModel]="descriptionArticle" (ngModelChange)="orderDetails.article.code=$event"
                                id="field_article" class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.article.select' | translate}}"
                                name="article" required />
                            <input type="text" *ngIf="kit" [ngModel]="descriptionKit" (ngModelChange)="orderDetails.kit.code=$event" id="field_kit"
                                class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.kit.select' | translate}}"
                                name="kit" required />
                            <span class="input-group-addon pointer blue-tooltip" (click)="orderDetails.product ? openMyModal('articleModal') : openBasicSwal('product')"
                                ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-list-alt"></i>
                            </span>
                            <span class="input-group-addon pointer blue-tooltip" (click)="orderDetails.product ? openMyModal('kitModal') : openBasicSwal('product')"
                                ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-shopping-bag"></i>
                            </span>
                            <!-- <span [hidden]="(!orderDetails.article || orderDetails.article == null) && (!orderDetails.kit || orderDetails.kit == null)"
                                class="input-group-addon pointer" (click)="initSubs('artkit')" ng-style="toBeClicked" style="cursor: pointer;"
                                title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span> -->
                        </div>
                         
                    </div>
                    <div [hidden]="!(editForm.controls.kit?.dirty && editForm.controls.kit?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.kit?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div [hidden]="!(editForm.controls.article?.dirty && editForm.controls.article?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.article?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.packagingMethod.default" for="field_packagingMethod"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="orderDetails.packagingMethod?.code" (ngModelChange)="orderDetails.packagingMethod.code=$event"
                                id="field_packagingMethod" class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true"
                                placeholder="{{'entity.packagingMethod.select' | translate}}" name="packagingMethod" required
                            />
                        </div>
                    </div>
                    <div [hidden]="!(editForm.controls.packagingMethod?.dirty && editForm.controls.packagingMethod?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.packagingMethod?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.common.quantityPerPackage" for="field_quantityPerPackage"></label>
                        <input type="number" class="form-control" name="quantityPerPackage" id="field_quantityPerPackage" [ngModel]="orderDetails.quantityPerPackage"
                            (ngModelChange)="updateQuantityPerPackage($event)" required />
                        <div [hidden]="!(editForm.controls.quantityPerPackage?.dirty && editForm.controls.quantityPerPackage?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.orderedQuantity?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.orderDetails.field.orderPackage" for="field_orderPackage"></label>
                        <input type="number" class="form-control" name="orderPackage" id="field_orderPackage" [ngModel]="orderDetails.orderPackage"
                            (ngModelChange)="updateOrderPackage($event)" required />
                        <div [hidden]="!(editForm.controls.orderPackage?.dirty && editForm.controls.orderPackage?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.orderPackage?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.orderDetails.field.orderedQuantity" for="field_orderedQuantity"></label>
                        <input type="number" class="form-control" name="orderedQuantity" id="field_orderedQuantity" [(ngModel)]="orderDetails.orderedQuantity"
                            [readonly]="true" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.common.unitPrice" for="field_unitPrice"></label>
                        <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" [ngModel]="orderDetails.unitPrice" required
                            (ngModelChange)="updateUnitPrice($event)" />
                        <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.unitPrice?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.common.discount" for="field_discount"></label>
                        <input type="number" class="form-control" name="discount" id="field_discount" [ngModel]="orderDetails.discount" required
                            (ngModelChange)="updateDiscount($event)" />
                        <div [hidden]="!(editForm.controls.discount?.dirty && editForm.controls.discount?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.discount?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.orderDetails.field.orderPrice" for="field_orderPrice"></label>
                        <input type="number" class="form-control" name="orderPrice" id="field_orderPrice" [(ngModel)]="orderDetails.orderPrice" [readonly]="true"
                            required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.orderDetails.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'articleModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.article.select"></h3>
        <jhi-filter *ngIf="orderDetails.product && articleModal" [entity]="'article'" [context]="'OrderDetails'" [path]="pathToArticles"
            [headers]="['code', 'description']" [searchNotAllowed]="true" [normalisation]="true" (onSelect)="assignArticle($event)" [method]="'post'" [objPost]="orderDetails.product"></jhi-filter>
        <button (click)="closeModal('closeArticleBtn')" aria-label="Close" class="md-close-btn" id="closeArticleBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'kitModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.kit.select"></h3>
        <jhi-filter *ngIf="orderDetails.product && kitModal" [entity]="'kit'" [context]="'OrderDetails'" [path]="pathToKits" [headers]="['code', 'description']"
            [searchNotAllowed]="true" [normalisation]="true" (onSelect)="assignKit($event)" [method]="'post'" [objPost]="orderDetails.product"></jhi-filter>
        <button (click)="closeModal('closeKitBtn')" aria-label="Close" class="md-close-btn" id="closeKitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'productModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.product.select"></h3>
        <div class="p-10" *ngIf="productModal">
            <div class="card-block">
                <div class="col-sm-12 col-xl-12">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="productSearch" id="productSearch" name="productSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                            <button class="input-group-addon btn btn-info" (click)="loadProducts(productSearch)">
                                <span class="fa fa-search"></span>
                            </button>
                            <button class="input-group-addon btn btn-danger" (click)="productSearch='';loadProducts()" *ngIf="productSearch" placement="bottom"
                                ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive" *ngIf="products">
                <table class="table table-striped table-xs table-modal">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="loadProducts.bind(this)">
                            <th jhiSortBy="code">
                                <span>{{ 'entity.common.code' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th jhiSortBy="description">
                                <span>{{ 'entity.common.description' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of pagedProducts" (click)="assignProduct(product)" style="cursor: pointer;">
                            <td>{{ product.code }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="(products && products.length != 0); else nothing">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                        (pageChange)="setPage(page)"></ngb-pagination>
                </div>
            </div>
            <ng-template #nothing>
                <div>
                    <span>{{'message.info.emptytab' | translate}}</span>
                </div>
            </ng-template>
        </div>
        <button (click)="closeModal('closeProductBtn')" aria-label="Close" class="md-close-btn" id="closeProductBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>