
<div *ngIf="orderDetails">
    <jhi-alert-error></jhi-alert-error>
    <div class="table-responsive">
        <table class="table table-striped table-de table-xs table-font-sm">
            <tr>
                <th><span jhiTranslate="entity.common.code"></span></th>
                <td><span>{{orderDetails.code}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.common.description"></span></th>
                <td><span>{{orderDetails.description}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.orderDetails.field.measure"></span></span></th>
                <td><span>{{orderDetails.measure}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.common.quantityPerPackage"></span></th>
                <td><span>{{orderDetails.quantityPerPackage}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.common.unitPrice"></span></th>
                <td><span>{{orderDetails.unitPrice}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.orderDetails.field.orderedQuantity"></span></th>
                <td><span>{{orderDetails.orderedQuantity}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.orderDetails.field.orderPackage"></span></th>
                <td><span>{{orderDetails.orderPackage}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.orderDetails.field.orderPrice"></span></th>
                <td><span>{{orderDetails.orderPrice}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.common.discount"></span></th>
                <td><span>{{orderDetails.discount}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.orderDetails.field.deliveryDate"></span></th>
                <td><span>{{orderDetails.deliveryDate | date:'medium'}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.common.billingRequirement"></span></th>
                <td><span>{{orderDetails.billingRequirement}}</span></td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.article.default"></span></th>
                <td>
                    <div *ngIf="orderDetails.article">
                        <a [routerLink]="['/article', orderDetails.article?.id]">{{orderDetails.article?.id}}</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.kit.default"></span></th>
                <td>
                    <div *ngIf="orderDetails.kit">
                        <a [routerLink]="['/kit', orderDetails.kit?.id]">{{orderDetails.kit?.id}}</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.packagingMethod.default"></span></th>
                <td>
                    <div *ngIf="orderDetails.packagingMethod">
                        <a [routerLink]="['/packaging-method', orderDetails.packagingMethod?.id]">{{orderDetails.packagingMethod?.id}}</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.product.default"></span></th>
                <td>
                    <div *ngIf="orderDetails.product">
                        <a [routerLink]="['/product', orderDetails.product?.id]">{{orderDetails.product?.id}}</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span jhiTranslate="entity.commande.default"></span></th>
                <td>
                    <div *ngIf="orderDetails.order">
                        <a [routerLink]="['/commande', orderDetails.order?.id]">{{orderDetails.order?.id}}</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="action.back.label"
        placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-details/'+ orderDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="action.edit.label"
        placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.orderDetails.min' | translate) } }}"></span>
    </button>
</div>
