<div class="p-10">
    <jhi-alert></jhi-alert>
    <div class="col-sm-12">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped table-xs table-modal">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code">
                        <span>{{ 'entity.common.code' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description">
                        <span>{{ 'entity.common.description' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | slice: (page - 1) * itemsPerPage: (page - 1) * itemsPerPage + itemsPerPage" (click)="selectEntity(product)"
                    style="cursor: pointer;">
                    <td>{{ product.code }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(products && products.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="products.length" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true"
                [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span class="">{{'message.info.emptytab' |translate}}</span>
        </div>
    </ng-template>
</div>