<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="mySupplierLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.supplier.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.supplier.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-lg-12">
                    <div id="wizardc">
                        <section>
                            <div class="wizard-form wizard clearfix" id="design-wizard" action="#" role="application">
                                <div class="steps clearfix">
                                    <ul role="tablist">
                                        <li role="tab" [class]="step==1?'current':'done'" [style.width]="'50%'">
                                            <a [class.active]="step==1" (click)="step=1;">
                                                <span class="number">1.</span>
                                            </a>
                                        </li>
                                        <li [class]="step==2?'current':'done'" role="tab" class="done" [style.width]="'50%'">
                                            <a [class.active]="step==2" (click)="step=2;">
                                                <span class="number">2.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="content clearfix wizard m-0">
                                    <fieldset [hidden]="step!=1" role="tabpanel" class="current">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.companyName" for="field_companyName"></label>
                                                    <input type="text" class="form-control" name="companyName" id="field_companyName" [(ngModel)]="supplier.companyName" required/>
                                                    <div [hidden]="!(editForm.controls.companyName?.dirty && editForm.controls.companyName?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.companyName?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.phoneNumber" for="field_phoneNumber"></label>
                                                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber" [(ngModel)]="supplier.phoneNumber" pattern="[0-9]{1,}"
                                                    />
                                                    <div [hidden]="!(editForm.controls.phoneNumber?.dirty && editForm.controls.phoneNumber?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.phoneNumber?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                    <small class="form-text text-danger" [hidden]="!existPhone"  
                                                            >  {{ 'message.error.phoneNumber' | translate}}
                                                    </small> 
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.email" for="field_email"></label>
                                                    <input type="email" class="form-control" name="email" id="field_email" [(ngModel)]="supplier.email" required pattern="[a-z0-12._%+-]+@[a-z0-12.-]+\.[a-z]{2,4}$"
                                                    />
                                                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.pattern" jhiTranslate="message.error.email">
                                                        </small>
                                                    </div>
                                                    <small class="form-text text-danger" [hidden]="!existEmail"  
                                                            >  {{ 'message.error.emailExist' | translate}}
                                                    </small> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.tvaCode.default" for="field_tvaCode"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionTvaCode" (ngModelChange)="supplier.tvaCode.code=$event" id="field_tvaCode" class="form-control ng-pristine ng-untouched ng-valid"
                                                            [readonly]="true" placeholder="{{'entity.tvaCode.select' | translate}}"
                                                            name="tvaCode" required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('tvaCodeModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="supplier.tvaCode" class="input-group-addon pointer" (click)="onNullTvaCode()" ng-style="toBeClicked"
                                                            style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                                <div [hidden]="!(editForm.controls.tvaCode?.dirty && editForm.controls.tvaCode?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.tvaCode?.errors?.required" jhiTranslate="message.error.required">
                                                    </small>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.tvaNumber" for="field_tvaNumber"></label><!--pattern="[0-12]{11}"-->
                                                    <input type="text" class="form-control" name="tvaNumber" id="field_tvaNumber" [(ngModel)]="supplier.tvaNumber" required pattern="[0-9]{11}"
                                                    />
                                                    <div [hidden]="!(editForm.controls.tvaNumber?.dirty && editForm.controls.tvaNumber?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.tvaNumber?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.tvaNumber?.errors?.pattern" jhiTranslate="message.error.digit">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.payment.default" for="field_payment"></label>
                                                    <div class="input-group w-100 mt-0 mb-0">
                                                        <input type="text" [ngModel]="descriptionCode" (ngModelChange)="supplier.payment.code=$event" id="field_payment" class="form-control ng-pristine ng-untouched ng-valid"
                                                        [readonly]="true" placeholder="{{'entity.payment.select' | translate}}"
                                                            name="payment" required>
                                                        <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('paymentModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                                            <i class="fa fa-th"></i>
                                                        </span>
                                                        <span *ngIf="supplier.payment" class="input-group-addon pointer" (click)="onNullPayment()" ng-style="toBeClicked"
                                                            style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                                            <i class="fa fa-undo"></i>
                                                        </span>
                                                        <div [hidden]="!(editForm.controls.payment?.dirty && editForm.controls.payment?.invalid)">
                                                            <small class="form-text text-danger" [hidden]="!editForm.controls.payment?.errors?.required" jhiTranslate="message.error.required">
                                                            </small>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.companyHeader" for="field_companyHeader"></label>
                                                    <input type="text" class="form-control" name="companyHeader" id="field_companyHeader" [(ngModel)]="supplier.header" required/>
                                                    <div [hidden]="!(editForm.controls.companyHeader?.dirty && editForm.controls.companyHeader?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.companyHeader?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.reference" for="field_reference"></label>
                                                    <input type="text" class="form-control" name="reference" id="field_reference" [(ngModel)]="supplier.reference" pattern="^[a-zA-Z0-12-_\. ]{0,100}$"
                                                    />
                                                    <div [hidden]="!(editForm.controls.reference?.dirty && editForm.controls.reference?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.reference?.errors?.pattern" jhiTranslate="message.error.reference"
                                                            translateValues="{ max: 100 }">
                                                        </small>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.isDefault"></label>
                                                    <div class="input-group w-100 mt-0">
                                                        <div class="form-radio m-l-30">
                                                            <div class="radio radio-matrial radio-success radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" [(ngModel)]="isDefault" (click)= "defaultChange('yes')" value="yes">
                                                                    <i class="helper"></i>
                                                                    <span jhiTranslate="prep.yes"></span>
                                                                </label>
                                                            </div>
                                                            <div class="radio radio-matrial radio-danger radio-inline">
                                                                <label>
                                                                    <input type="radio" name="radio" [(ngModel)]="isDefault" (click)="defaultChange('no')" value="no">
                                                                    <i class="helper"></i>
                                                                    <span jhiTranslate="prep.no"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset [hidden]="step!=2" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.startValidation" for="field_startValidation"></label>
                                                    <div class="d-flex">
                                                        <input id="field_startValidation" type="datetime-local" class="form-control" name="startValidation" [(ngModel)]="supplier.startValidation"
                                                            step="1" required/>
                                                    </div>
                                                    <div [hidden]="!(editForm.controls.startValidation?.dirty && editForm.controls.startValidation?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.startValidation?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.billingRequirement" for="field_billingRequirement"></label>
                                                    <input type="text" class="form-control" name="billingRequirement" id="field_billingRequirement" [(ngModel)]="supplier.billingRequirement"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.endValidation" for="field_endValidation"></label>
                                                    <div class="d-flex">
                                                        <input id="field_endValidation" type="datetime-local" class="form-control" name="endValidation" [(ngModel)]="supplier.endValidation"
                                                            step="1" required/>
                                                    </div>
                                                    <div [hidden]="!(editForm.controls.endValidation?.dirty && editForm.controls.endValidation?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.endValidation?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.discountRequirement" for="field_discountRequirement"></label>
                                                    <input type="number" class="form-control" name="discountRequirement" id="field_discountRequirement" [(ngModel)]="supplier.discountRequirement"
                                                    />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <h2 class="f-w-100">{{'entity.address.default' | translate}}</h2>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.zipCode" for="field_zipCode"></label>
                                                    <input type="text" class="form-control" name="zipCode" id="field_zipCode" [ngModel]="supplier.address?.zipCode" (ngModelChange)="supplier.address.zipCode=$event"
                                                        required pattern="[0-9]{1,}" />
                                                    <div [hidden]="!(editForm.controls.zipCode?.dirty && editForm.controls.zipCode?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.zipCode?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.zipCode?.errors?.pattern" jhiTranslate="message.error.number">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.city" for="field_city"></label>
                                                    <input type="text" class="form-control" name="city" id="field_city" [ngModel]="supplier.address?.city" (ngModelChange)="supplier.address.city=$event"
                                                        required />
                                                    <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.city?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.street" for="field_street"></label>
                                                    <input type="text" class="form-control" name="street" id="field_street" [ngModel]="supplier.address?.street" (ngModelChange)="supplier.address.street=$event"
                                                        required />
                                                    <div [hidden]="!(editForm.controls.street?.dirty && editForm.controls.street?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.street?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="entity.common.state" for="field_state"></label>
                                                    <input type="text" class="form-control" name="state" id="field_state" [ngModel]="supplier.address?.state" (ngModelChange)="supplier.address.state=$event"
                                                        required />
                                                    <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                                                        <small class="form-text text-danger" [hidden]="!editForm.controls.state?.errors?.required" jhiTranslate="message.error.required">
                                                        </small>
                                                     </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-actions clearfix">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                    <span class="fa fa-ban"></span>&nbsp;
                    <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;
                    <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.supplier.min' | translate) } }}"></span>
                </button>
            </div>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'tvaCodeModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.tvaCode.select"></h3>
        <jhi-filter *ngIf="tvaCodeModal" [entity]="'tvaCode'" [path]="'tva-codes'" [headers]="['code', 'description']" (onSelect)="assignTvaCode($event)"></jhi-filter>
        <button (click)="closeModal('closeTvaCodeBtn')" aria-label="Close" class="md-close-btn" id="closeTvaCodeBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start (disabled)="true" disabled="disabled"-->
    <app-modal-animation [modalID]="'paymentModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
        <h3 jhiTranslate="entity.payment.select"></h3>
        <jhi-filter *ngIf="paymentModal" [entity]="'payment'" [path]="'payments'" [headers]="['code', 'description']" (onSelect)="assignPayment($event)"></jhi-filter>
        <button (click)="closeModal('closePaymentBtn')" aria-label="Close" class="md-close-btn" id="closePaymentBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>
<!--(disabled)="true" disabled="disabled"-->