<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="supplier">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.companyName"></span></th>
                    <td><span>{{supplier.companyName}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.phoneNumber"></span></th>
                    <td><span>{{supplier.phoneNumber}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.email"></span></th>
                    <td><span>{{supplier.email}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.discount"></span></th>
                    <td><span>{{supplier.discount}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.transportationCharge"></span></th>
                    <td><span>{{supplier.transportationCharge}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.discountRequirement"></span></th>
                    <td><span>{{supplier.discountRequirement}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.billingRequirement"></span></th>
                    <td><span>{{supplier.billingRequirement}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.reference"></span></th>
                    <td><span>{{supplier.reference}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.startValidation"></span></th>
                    <td><span>{{supplier.startValidation | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.endValidation"></span></th>
                    <td><span>{{supplier.endValidation | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.tvaNumber"></span></th>
                    <td><span>{{supplier.tvaNumber}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.tvaCode.default"></span></th>
                    <td> 
                        <div *ngIf="supplier.tvaCode" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/tva-code', supplier.tvaCode?.id]">{{supplier.tvaCode?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}}: </span></th>
                                    <td>{{supplier.tvaCode?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.payment.default"></span></th>
                    <td> 
                        <div *ngIf="supplier.payment" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/payment', supplier.payment?.id]">{{supplier.payment?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}}: </span></th>
                                    <td>{{supplier.payment?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'supplier/'+ supplier.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.supplier.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>