<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="company">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{company.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.name">Name</span></th>
                    <td><span>{{company.name}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description">Description</span></th>
                    <td><span>{{company.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.storeCode">Store Code</span></th>
                    <td><span>{{company.storeCode}}</span></td>
                </tr>
            </table>
        </div>
               
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.company.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>