<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="productType">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{productType.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{productType.description}}</span></td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'product-type/'+ productType.id + '/edit'} }]" replaceUrl="true"
            queryParamsHandling="merge" class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.productType.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>