<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 col-xl-6 f-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.short.companyName' | translate }}, {{ 'entity.common.email' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive" *ngIf="clients">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="companyName" style="width: 18%">
                        <span jhiTranslate="entity.client.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="email" style="width: 18%">
                        <span jhiTranslate="entity.short.email"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="phoneNumber" style="width: 10%">
                        <span jhiTranslate="entity.short.phoneNumber"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="tvaCode.id" style="width: 10%">
                        <span jhiTranslate="entity.tvaCode.short.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="tvaNumber" style="width: 10%">
                        <span jhiTranslate="entity.short.tvaNumber"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="startValidation" style="width: 12%">
                        <span jhiTranslate="entity.short.startValidation"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="endValidation" style="width: 12%">
                        <span jhiTranslate="entity.short.endValidation"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['client-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients ;trackBy: trackId">
                    <td>{{client.companyName}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td>
                        <div *ngIf="client.tvaCode">
                            <a [routerLink]="['../tva-code', client.tvaCode?.id ]">{{client.tvaCode?.description}}</a>
                        </div>
                    </td>
                    <td>{{client.tvaNumber}}</td>
                    <td>{{client.startValidation | date:'mediumDate'}}</td>
                    <td>{{client.endValidation | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../client', client.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                            class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(clients && clients.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>