<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="client">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.companyName"></span></th>
                    <td><span>{{client.companyName}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.phoneNumber"></span></th>
                    <td><span>{{client.phoneNumber}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.email"></span></th>
                    <td><span>{{client.email}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.discount"></span></th>
                    <td><span>{{client.discount}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.transportationCharge"></span></th>
                    <td><span>{{client.transportationCharge}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.discountRequirement"></span></th>
                    <td><span>{{client.discountRequirement}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.billingRequirement"></span></th>
                    <td><span>{{client.billingRequirement}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.reference"></span></th>
                    <td><span>{{client.reference}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.startValidation"></span></th>
                    <td><span>{{client.startValidation | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.endValidation"></span></th>
                    <td><span>{{client.endValidation | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.tvaNumber"></span></th>
                    <td><span>{{client.tvaNumber}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.publicId"></span></th>
                    <td><span>{{client.publicId}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.tvaCode.default"></span></th>
                    <td>
                        <div *ngIf="client.tvaCode" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/tva-code', client.tvaCode?.id]">{{client.tvaCode?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{client.tvaCode?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.payment.default"></span></th>
                    <td>
                        <div *ngIf="client.payment" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/payment', client.payment?.id]">{{client.payment?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{client.payment?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.client.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>