<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="shelvingUnit">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{shelvingUnit.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.name"></span></th>
                    <td><span>{{shelvingUnit.name}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{shelvingUnit.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.isActive"></span></th>
                    <td><span>{{shelvingUnit.isActive}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.headquarter.default"></span></th>
                    <td>
                        <div *ngIf="shelvingUnit.headquarter" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/headquarter', shelvingUnit.headquarter?.id]">{{shelvingUnit.headquarter?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{shelvingUnit.headquarter?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.company.default"></span></th>
                    <td> 
                        <div *ngIf="shelvingUnit.headquarter.company" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/company', shelvingUnit.headquarter.company?.id]">{{shelvingUnit.headquarter.company?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}} </span></th>
                                    <td>{{shelvingUnit.headquarter.company?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'shelving-unit/'+ shelvingUnit.id + '/edit'} }]" replaceUrl="true"
            queryParamsHandling="merge" class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.shelvingUnit.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>