<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="orderCondition">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.orderCondition.field.deliveryAddress"></span></th>
                    <td><span>{{orderCondition.deliveryAddress}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.orderCondition.field.deliveryTerm"></span></th>
                    <td><span>{{orderCondition.deliveryTerm}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.orderCondition.field.indicationForDelivery"></span></th>
                    <td><span>{{orderCondition.indicationForDelivery}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.orderCondition.field.installation"></span></th>
                    <td><span>{{orderCondition.installation}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.orderCondition.field.methodOfPayment"></span></th>
                    <td><span>{{orderCondition.methodOfPayment}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.orderCondition.field.guaranty"></span></th>
                    <td><span>{{orderCondition.guaranty}}</span></td>
                </tr>       
            </table>
        </div>
        
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'order-condition/'+ orderCondition.id + '/edit'} }]" replaceUrl="true"
            queryParamsHandling="merge" class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.orderCondition.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>