<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderConditionLabel" jhiTranslate="action.createOrEdit.label"
        translateValues="{prep1: '{{'prep.unknown_fem_min_cons' | translate}}', prep2: '{{'prep.nouvelle' | translate}}', entity: '{{'entity.orderCondition.min' | translate}}'}"
        placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_fem_min_cons' | translate), prep2:('prep.nouvelle' | translate), entity:('entity.orderCondition.min' | translate) } }}"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.orderCondition.field.deliveryAddress" for="field_deliveryAddress"></label>
            <input type="text" class="form-control" name="deliveryAddress" id="field_deliveryAddress"
                [(ngModel)]="orderCondition.deliveryAddress" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.orderCondition.field.deliveryTerm" for="field_deliveryTerm"></label>
            <input type="text" class="form-control" name="deliveryTerm" id="field_deliveryTerm"
                [(ngModel)]="orderCondition.deliveryTerm" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.orderCondition.field.indicationForDelivery" for="field_indicationForDelivery"></label>
            <input type="text" class="form-control" name="indicationForDelivery" id="field_indicationForDelivery"
                [(ngModel)]="orderCondition.indicationForDelivery" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.orderCondition.field.installation" for="field_installation"></label>
            <input type="text" class="form-control" name="installation" id="field_installation"
                [(ngModel)]="orderCondition.installation" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.orderCondition.field.methodOfPayment" for="field_methodOfPayment"></label>
            <input type="text" class="form-control" name="methodOfPayment" id="field_methodOfPayment"
                [(ngModel)]="orderCondition.methodOfPayment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.orderCondition.field.guaranty" for="field_guaranty"></label>
            <input type="text" class="form-control" name="guaranty" id="field_guaranty"
                [(ngModel)]="orderCondition.guaranty" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="action.cancel.label"
            placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="action.save.label"
            placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.orderCondition.min' | translate) } }}"></span>
        </button>
    </div>
</form>
