<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 col-xl-6 f-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderConditions">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="deliveryAddress" style="width: 16%">
                        <span jhiTranslate="entity.orderCondition.field.deliveryAddress"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="deliveryTerm" style="width: 16%">
                        <span jhiTranslate="entity.orderCondition.field.deliveryTerm"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="indicationForDelivery" style="width: 20%">
                        <span jhiTranslate="entity.orderCondition.field.indicationForDelivery"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="installation" style="width: 12%">
                        <span jhiTranslate="entity.orderCondition.field.installation"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="methodOfPayment" style="width: 16%">
                        <span jhiTranslate="entity.orderCondition.field.methodOfPayment"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="guaranty" style="width: 10%">
                        <span jhiTranslate="entity.orderCondition.field.guaranty"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">
                        <button type="submit" [routerLink]="['/', { outlets: { popup: ['order-condition-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderCondition of orderConditions ;trackBy: trackId">
                    <td>{{orderCondition.deliveryAddress}}</td>
                    <td>{{orderCondition.deliveryTerm}}</td>
                    <td>{{orderCondition.indicationForDelivery}}</td>
                    <td>{{orderCondition.installation}}</td>
                    <td>{{orderCondition.methodOfPayment}}</td>
                    <td>{{orderCondition.guaranty}}</td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['../order-condition', orderCondition.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'order-condition/'+ orderCondition.id + '/edit'} }]" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'order-condition/'+ orderCondition.id + '/delete'} }]" replaceUrl="true"
                            queryParamsHandling="merge" class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(orderConditions && orderConditions.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>