<form name="deleteForm" (ngSubmit)="confirmDelete(orderCondition.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="action.delete.title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="action.delete.question" translateValues="{prep: '{{'prep.known_min_voy' | translate}}', entity: '{{'entity.orderCondition.min' | translate}}', name: '{{orderCondition.code}}'}"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="action.cancel.label"
            placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="action.delete.label"
            placement="bottom" ngbTooltip="{{ 'action.delete.confirm.tooltip' | translate:{ prep:('prep.known_fem_min' | translate), entity:('entity.orderCondition.min' | translate) } }}"></span>
        </button>
    </div>
</form>
