<div class="animation-model">
    <div class="modal-header">
        <h4 class="modal-title" id="myKitNormalisationLabel" jhiTranslate="action.configureNorm"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <div class="table-responsive">
                    <table class="table table-striped table-scrolled">
                        <thead>
                            <tr>
                                <th style="width: 40%">
                                    <span jhiTranslate="entity.product.default"></span>
                                </th>
                                <th style="width: 20%">
                                    <span jhiTranslate="entity.short.normalisationUnit"></span>
                                </th>
                                <th style="width: 20%">
                                    <span jhiTranslate="entity.short.conversionUnit"></span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="kitNormalisations && kitNormalisations.length != 0; else nothing">
                            <tr *ngFor="let kitNormalisation of kitNormalisations ;trackBy: trackId">
                                <td style="width: 40%">
                                    <div *ngIf="kitNormalisation.product">
                                        <a>{{kitNormalisation.product?.code}}</a>
                                    </div>
                                </td>
                                <td style="width: 20%">{{kitNormalisation.normalisationUnit}}</td>
                                <td style="width: 20%">{{kitNormalisation.conversionUnit}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" (click)="showForm(kitNormalisation)" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="submit" (click)="openConfirmsSwal(kitNormalisation.id)" class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #nothing>
                            <div>
                                <span>{{'message.info.emptytab' | translate}}</span>
                            </div>
                        </ng-template>
                    </table>
                </div>
            </div>
            <div class="col-md-4 col-xs 4">
                <h3 class="text-center f-24 f-w-400">{{'action.save.label.more' | translate}}</h3>
                <br>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <div *ngIf="!edit">
                        <div class="form-group col-md-12">
                            <label class="form-control-label" jhiTranslate="entity.product.default" for="field_product"></label>
                            <div class="input-group w-200">
                                <input type="text" [ngModel]="kitNormalisation.product?.code" (ngModelChange)="kitNormalisation.product.code=$event" class="form-control ng-pristine ng-untouched ng-valid"
                                    [readonly]="true" placeholder="{{'entity.product.select' | translate}}" name="product" required>
                                <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('productModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                    <i class="fa fa-th"></i>
                                </span>
                            </div>
                        </div>
                        <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.product?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-control-label" jhiTranslate="entity.common.normalisationUnit" for="field_normalisationUnit"></label>
                        <input type="number" class="form-control" name="normalisationUnit" id="field_normalisationUnit" [(ngModel)]="kitNormalisation.normalisationUnit"
                            required />
                    </div>
                    <div [hidden]="!(editForm.controls.normalisationUnit?.dirty && editForm.controls.normalisationUnit?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.normalisationUnit?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div *ngIf="kitNormalisation?.product && kit?.measureUnit?.type != kitNormalisation?.product?.measureUnit?.type">
                        <div class="form-group col-md-12">
                            <label class="form-control-label" jhiTranslate="entity.common.conversionUnit" for="field_conversionUnit"></label>
                            <input type="number" class="form-control" name="conversionUnit" id="field_conversionUnit" [(ngModel)]="kitNormalisation.conversionUnit"
                                required />
                        </div>
                        <div [hidden]="!(editForm.controls.conversionUnit?.dirty && editForm.controls.conversionUnit?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.conversionUnit?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;
                            <span jhiTranslate="action.cancel.label"></span>
                        </button>
                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;
                            <span jhiTranslate="action.save.label"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'productModal'" [backDrop]="true" [modalClass]="'md-effect-1'">
        <h3 jhiTranslate="entity.product.select"></h3>
        <div class="p-10" *ngIf="productModal">
            <div class="card-block">
                <div class="col-sm-12 col-xl-12">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="productSearch" id="productSearch" name="productSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                            <button class="input-group-addon btn btn-info" (click)="loadProducts(productSearch)">
                                <span class="fa fa-search"></span>
                            </button>
                            <button class="input-group-addon btn btn-danger" (click)="productSearch='';loadProducts()" *ngIf="productSearch" placement="bottom"
                                ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive" *ngIf="products">
                <table class="table table-striped table-xs table-modal">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="loadProducts.bind(this)">
                            <th jhiSortBy="code">
                                <span>{{ 'entity.common.code' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th jhiSortBy="description">
                                <span>{{ 'entity.common.description' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th jhiSortBy="measureUnit">
                                <span>{{ 'entity.measureUnit.default' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products" (click)="assignProduct(product)" style="cursor: pointer;">
                            <td>{{ product.code }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.measureUnit.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="(products && products.length != 0); else nothing">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                        (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
            <ng-template #nothing>
                <div>
                    <span>{{'message.info.emptytab' | translate}}</span>
                </div>
            </ng-template>
        </div>
        <button (click)="closeModal('closeProductBtn')" aria-label="Close" class="md-close-btn" id="closeProductBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>