<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="mykitNormalisationLabel" jhiTranslate="action.configureNorm"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body row">
            <jhi-alert-error></jhi-alert-error>
            
            <div class="col-xl-12" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.kit.default" for="field_kit"></label>
                <div class="input-group">
                    <input type="text" [ngModel]="kitNormalisation.kit?.code" (ngModelChange)="kitNormalisation.kit.code=$event"
                        class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.kit.select' | translate}}"
                        name="kit" required>
                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('kitModal')" ng-style="toBeClicked" style="cursor: pointer;">
                        <i class="fa fa-th"></i>
                    </span>
                    <span *ngIf="kitNormalisation.id" class="input-group-addon pointer blue-tooltip" (click)="openConfirmsSwal()" ng-style="toBeClicked"
                        style="cursor: pointer;">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>

           <div [hidden]="!(editForm.controls.kit?.dirty && editForm.controls.kit?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.kit?.errors?.required" jhiTranslate="entity.validation.required">
                </small>
            </div>
            <div class="col-xl-12" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.common.normalisationUnit" for="field_normalisationUnit"></label>
                <input type="number" class="form-control" name="normalisationUnit" id="field_normalisationUnit" [(ngModel)]="kitNormalisation.normalisationUnit"
                    required />
                <div [hidden]="!(editForm.controls.normalisationUnit?.dirty && editForm.controls.normalisationUnit?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.normalisationUnit?.errors?.required" jhiTranslate="entity.validation.required">
                    </small>
                </div>
            </div>
            <div class="col-xl-12" *ngIf="hasSameType" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.common.conversionUnit" for="field_conversionUnit"></label>
                <input type="number" class="form-control" name="conversionUnit" id="field_conversionUnit" [(ngModel)]="kitNormalisation.conversionUnit"
                    required />
                <div [hidden]="!(editForm.controls.conversionUnit?.dirty && editForm.controls.conversionUnit?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.conversionUnit?.errors?.required" jhiTranslate="entity.validation.required">
                    </small>
                </div>
            </div>
            <div class="col-xl-12" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.shelf.default" for="field_shelf"></label>
                <div class="input-group ">
                    <input type="text" [ngModel]="shelf.code" (ngModelChange)="shelf.code=$event"
                        class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.shelf.select' | translate}}"
                        name="shelf" required>
                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('shelfModal')" ng-style="toBeClicked" style="cursor: pointer;">
                        <i class="fa fa-th"></i>
                    </span>
                </div>
            </div>
            <div class="col-xl-12" style="margin: 0 auto">
                <label class="form-control-label" jhiTranslate="entity.short.quantity" for="field_quantity"></label>
                <input type="number" class="form-control" name="quantity" id="field_quantity" [(ngModel)]="quantity"
                    required />
                <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                    </small>
                </div>
             
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.kitNormalisation.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'shelfModal'" [backDrop]="true" [modalClass]="'md-effect-1 modal-big'">
        <h3 jhiTranslate="entity.shelf.select"></h3>
        <jhi-filter *ngIf="shelfModal" [entity]="'shelf'" [path]="'shelves/active'" [sorted]="'description'" [reversed]="true" [headers]="['code', 'name', 'shelvingUnit', 'headquarter', 'company']"
            [context]="'stockMovement'" (onSelect)="assignShelf($event)"></jhi-filter>
        <button (click)="closeModal('closeShelfBtn')" aria-label="Close" class="md-close-btn" id="closeShelfBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'kitModal'" [backDrop]="true" [modalClass]="'md-effect-1 modal-big'">
        <h3 jhiTranslate="entity.kit.select"></h3>
        <div class="p-10" *ngIf="kitModal">
            <div class="card-block">
                <div class="col-sm-12 col-xl-12">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="kitSearch" id="kitSearch" name="kitSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                            <button class="input-group-addon btn btn-info" (click)="loadKitSearchs()">
                                <span class="fa fa-search"></span>
                            </button>
                            <button class="input-group-addon btn btn-danger" (click)="kitSearch='';loadkitsAll()" *ngIf="kitSearch" placement="bottom"
                                ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive" *ngIf="kits">
                <table class="table table-striped table-xs table-modal">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="loadKits.bind(this)" >
                            <th jhiSortBy="code">
                                <span>{{ 'entity.common.code' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th jhiSortBy="description">
                                <span>{{ 'entity.common.description' | translate }}</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let kit of kits" (click)="assignkit(kit)" style="cursor: pointer;">
                            <td>{{ kit.code }}</td>
                            <td>{{ kit.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="(kits && kits.length != 0); else nothing">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                        (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
            <ng-template #nothing>
                <div>
                    <span>{{'message.info.emptytab' | translate}}</span>
                </div>
            </ng-template>
        </div>
        <button (click)="closeModal('closeKitBtn')" aria-label="Close" class="md-close-btn" id="closeKitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>