<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <div class="col-sm-12 card">
        <div class="widgettitle row">
            <ul class="col-sm-4">
                <li class="active ng-binding">
                    <span jhiTranslate="entity.product.default"></span> : {{product?.description}}
                </li>
            </ul>
            <ul class="col-sm-4">
                <li class="active ng-binding text-center">
                    <span jhiTranslate="entity.kit.plural"></span>
                </li>
            </ul>
            <ul class="col-sm-4">
                <li class="clickable text-right">
                    <span class="fa fa-arrow-left fa-16 tenRMargin" [routerLink]="['../../../product']"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive" *ngIf="kits">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 10%">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 25%">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="supplier.id" style="width: 20%">
                        <span jhiTranslate="entity.supplier.short"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="packagingMethod.id" style="width: 15%">
                        <span jhiTranslate="entity.packagingMethod.short.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="measureUnit.id" style="width: 15%">
                        <span jhiTranslate="entity.measureUnit.short.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th>
                        <span jhiTranslate="entity.common.barCode"></span>
                    </th>
                    <th *ngIf="(kits.length == 0); else nothing"  class="text-right">
                        <button type="submit"  (click)="assignedFuction(product)" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kit of kits ;trackBy: trackId">
                    <td>{{kit.code}}</td>
                    <td>{{kit.description}}</td>
                    <td>
                        <div *ngIf="kit.supplier">
                            <a [routerLink]="['../supplier', kit.supplier?.id ]">{{kit.supplier?.companyName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="kit.packagingMethod">
                            <a [routerLink]="['/packaging-method', kit.packagingMethod?.id ]">{{kit.packagingMethod?.code}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="kit.measureUnit">
                            <a [routerLink]="['/measure-unit', kit.measureUnit?.id ]">{{kit.measureUnit?.code}}</a>
                        </div>
                    </td>
                    <td>{{kit.norm}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(kits && kits.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div *ngIf="(kits && kits.length == 0) ">
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>