<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="kit">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{kit.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{kit.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.minPackagingOrder"></span></th>
                    <td><span>{{kit.minPackagingOrder}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.discount"></span></th>
                    <td><span>{{kit.discount}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.quantityPerPackage"></span></th>
                    <td><span>{{kit.quantityPerPackage}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.unitPrice"></span></th>
                    <td><span>{{kit.unitPrice}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.isExpired"></span></th>
                    <td><span>{{kit.isExpired}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.numberOfDaysToExpired"></span></th>
                    <td><span>{{kit.numberOfDaysToExpired}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.expirationDate"></span></th>
                    <td><span>{{kit.expirationDate | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.startValidation"></span></th>
                    <td><span>{{kit.startValidation | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.endValidation"></span></th>
                    <td><span>{{kit.endValidation | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.isNew"></span></th>
                    <td><span>{{kit.isNew}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.note"></span></th>
                    <td><span>{{kit.note}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.isNormalised"></span></th>
                    <td><span>{{kit.isNormalised}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.packagingMethod.default"></span></th>
                    <td>
                        <div *ngIf="kit.packagingMethod" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/packaging-method', kit.packagingMethod?.id]">{{kit.packagingMethod?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}}: </span></th>
                                    <td>{{kit.packagingMethod?.description}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.measureUnit.default"></span></th>
                    <td>
                        <div *ngIf="kit.measureUnit" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/measure-unit', kit.measureUnit?.id]">{{kit.measureUnit?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}}: </span></th>
                                    <td>{{kit.measureUnit?.description}}</td>
                                </tr>
                            </table>
                       </div>
                    </td>
                </tr>

                <tr>
                    <th><span jhiTranslate="entity.supplier.default"></span></th>
                    <td>
                        <div *ngIf="kit.supplier" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.companyName' | translate}} </span></th>
                                    <td><a [routerLink]="['/supplier', kit.supplier?.id]">{{kit.supplier?.companyName}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.email' | translate}} </span></th>
                                    <td>{{kit.supplier?.email}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'kit/'+ kit.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.kit.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>