<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper" style="padding: 0px;">
             <!-- Page-header start -->
            <div class="page-header card">
                <div style="padding: 0px;">
                    <div class="row">
                        <div class="col-sm-12 col-xl-4">
                            <span>{{'entity.analysis.home.execute' | translate}}</span>
                            <button class="btn btn-primary btn-outline-primary btn-grand" title="{{'entity.analysis.home.execute' | translate}}" (click)="executeArticlesAnalysis()">
                                <span class="fa fa-play"></span>
                            </button>
                        </div>
                        <div class="col-sm-12 col-xl-4">
                            <div class="input-group w-100 mt-3">
                                <input class="form-control" type="date" [(ngModel)]="endDate" />
                            </div>
                        </div>
                        <!--<div class="col-sm-12 col-xl-4">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{'entity.common.description' | translate }}">
                                </div>
                            </form>
                        </div>-->
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-xs table-font-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="sort.bind(this)">
                    <th jhiSortBy="itemCode" style="width: 8%;">
                        <span>{{ 'entity.common.code' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 10%;">
                        <span>{{ 'entity.common.description' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.id" style="width: 10%;">
                        <span>{{ 'entity.shelf.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.shelvingUnit.id" style="width: 10%;">
                        <span>{{ 'entity.shelvingUnit.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.shelvingUnit.headquarter.id" style="width: 10%;">
                        <span>{{ 'entity.headquarter.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelf.shelvingUnit.headquarter.company.id" style="width: 10%;">
                        <span>{{ 'entity.company.default' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="quantity" style="width: 8%;">
                        <span>{{ 'entity.common.quantity' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="expirationDate" style="width: 8%;">
                        <span>{{ 'entity.common.expirationDate' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="productionBatch" style="width: 10%;">
                        <span>{{ 'entity.short.productionBatch' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="numberOfDaysToExpired" style="width: 12%;" (click) = "sort()">
                        <span>{{ 'entity.short.numberOfDaysToExpired' | translate }}</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">                      
                        <button  type="submit"
                            (click)="loadArticlesPdf()" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                            <i class="fa fa-print"></i>
                        </button>                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" *ngFor="let it of stockMovements
                | filter: {description: currentSearch}
                | orderBy: predicate: !reverse
                | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
                    <td>{{it.product.code}}</td>
                    <td *ngIf="it.kit">{{it.product.description}}</td>
                    <td *ngIf="it.article">{{it.article.description}}</td>
                    <td>
                        <div *ngIf="it.shelf">
                            <a [routerLink]="['../shelf', it.shelf.id ]">{{it.shelf?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="it.shelf?.shelvingUnit">
                            <a [routerLink]="['../shelving-unit', it.shelf.shelvingUnit?.id ]">{{it.shelf?.shelvingUnit?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="it.shelf?.shelvingUnit?.headquarter">
                            <a [routerLink]="['../headquarter', it.shelf.shelvingUnit?.headquarter?.id ]">{{it.shelf?.shelvingUnit?.headquarter?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="it.shelf?.shelvingUnit?.headquarter?.company">
                            <a [routerLink]="['../company', it.shelf.shelvingUnit?.headquarter?.company?.id ]">{{it.shelf?.shelvingUnit?.headquarter?.company?.name}}</a>
                        </div>
                    </td>
                    <td>{{it.quantity}}</td>
                    <td>{{it.deliveredEquipement.expirationDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{it.deliveredEquipement.productionBatch}}</td>
                    <td>{{dayDiff(it.deliveredEquipement.expirationDate)-1}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    <div *ngIf="(stockMovements && stockMovements.length != 0); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>-->
    <div *ngIf="(stockMovements && stockMovements.length != 0); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="page = $event"></ngb-pagination>
        </div>
    </div>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>