<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="user">
        <h2>
            <span jhiTranslate="entity.user.default"></span> [
            <b>{{user.login}}</b>]
        </h2>
        <div class="table-responsive">
                <table class="table table-striped table-de table-xs table-font-sm">
                    <tr>
                        <th><span jhiTranslate="entity.user.field.login"></span></th>
                        <td><span>{{user.login}}</span>
                            <jhi-boolean [value]="user.activated" [textTrue]="'entity.user.field.activated' | translate" [textFalse]="'entity.user.field.deactivated' | translate">
                            </jhi-boolean></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.user.field.firstName"></span></th>
                        <td><span>{{user.firstName}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.user.field.lastName"></span></th>
                        <td><span>{{user.lastName}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.common.email"></span></th>
                        <td><span>{{user.email}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.user.field.langKey"></span></th>
                        <td><span>{{user.langKey}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.common.createdBy"></span></th>
                        <td><span>{{user.createdBy}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.common.createdDate"></span></th>
                        <td><span>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.common.lastModifiedBy"></span></th>
                        <td><span>{{user.lastModifiedBy}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.common.lastModifiedDate"></span></th>
                        <td><span>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</span></td>
                    </tr>
                    <tr>
                        <th><span jhiTranslate="entity.user.field.profiles"></span></th>
                        <td><ul class="list-unstyled">
                            <li *ngFor="let authority of user.authorities">
                                <span class="badge badge-info">{{authority}}</span>
                            </li>
                        </ul></td>
                    </tr>
                </table>
            </div>
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" data-toggle="tooltip" data-placement="bottom" title="{{'action.back.tooltip' | translate}}"></span>
        </button>
    </div>
</app-card>