<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel" jhiTranslate="action.createOrEdit.label"
        translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouvel' | translate}}', entity: '{{'entity.user.min' | translate}}'}"
        data-toggle="tooltip" data-placement="bottom" title="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouvel' | translate), entity:('entity.user.min' | translate) } }}"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert-error></jhi-alert-error>
        <div class="alerts" role="alert">
            <div *ngFor="let alert of alerts">
                <ngb-alert *ngIf="alert && alert.type && alert.msg" [type]="alert.type" (close)="alert.close(alerts)">
                    <pre [innerHTML]="alert.msg"></pre>
                </ngb-alert>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.user.field.login"></label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel"
                   [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="loginInput.errors.required" jhiTranslate="message.error.required">
                </small>

                <small class="form-text text-danger"
                   *ngIf="loginInput.errors.maxlength" jhiTranslate="message.error.maxlength"
                   translateValues="{max: 50}">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.user.field.firstName"></label>
            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                   [(ngModel)]="user.firstName" maxlength="50">

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="firstNameInput.errors.maxlength" jhiTranslate="message.error.maxlength"
                   translateValues="{max: 50}">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="entity.user.field.lastName"></label>
            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                   [(ngModel)]="user.lastName" maxlength="50">

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="lastNameInput.errors.maxlength" jhiTranslate="message.error.maxlength"
                   translateValues="{max: 50}">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="entity.common.email"></label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="user.email" minlength="5" required maxlength="100" email>

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.required" jhiTranslate="message.error.required">
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.maxlength" jhiTranslate="message.error.maxlength"
                   translateValues="{max: 100}">
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.minlength" jhiTranslate="message.error.minlength"
                   translateValues="{min: 5}">
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.email" jhiTranslate="message.error.invalid">
                 </small>
            </div>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="activated">
                <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
                <span jhiTranslate="entity.user.field.activated"></span>
            </label>
        </div>

        <div class="form-group" *ngIf="languages && languages.length > 0">
            <label jhiTranslate="entity.user.field.langKey"></label>
            <select class="form-control" id="langKey" name="langKey" [(ngModel)]="user.langKey">
                <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="entity.user.field.profiles"></label>
            <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="action.cancel.label"
            data-toggle="tooltip" data-placement="bottom" title="{{ 'action.cancel.tooltip' | translate }}"></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="action.save.label"
            data-toggle="tooltip" data-placement="bottom" title="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_min_voy' | translate), entity:('entity.user.min' | translate) } }}"></span>
        </button>
    </div>
</form>
