
<form name="editForm" role="form" novalidate #editForm="ngForm" name="editForm" (ngSubmit)="confirmEdit()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="action.edit.title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">
            <i class="material-icons"></i>
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="action.edit.question" ></p>
        <div class="text-right">
            <input type="number" class="form-control" [range]="[0, 1000000]" required name="shelvesContainsProductQt" id="field_shelvesContainsProductQt" [(ngModel)]="shelvesContainsProducts.qt"          
            />
        </div>
        <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="message.error.required">
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.quantity?.errors?.range" jhiTranslate="message.error.between"
                translateValues=" {min: {{0}}, max: {{1000000}}}">
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"  ></span>&nbsp;
            <span jhiTranslate="action.cancel.label" ></span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-danger">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" ></span>
        </button>
    </div>
  </form>