<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper" style="padding: 0px;">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div style="padding: 0px;">
                        <div class="row">
                            <!--<div class="col-sm-12 col-xl-6 pl-50">
                                <div class="form-radio">
                                    <div class="input-group w-100 mt-3">
                                        <form>
                                            <div class="radio radio-matrial radio-default radio-inline">
                                                <label>
                                                    <input type="radio" name="radio" [(ngModel)]="nullqt" value="all" (ngModelChange)="filterByNullQuantity()">
                                                    <i class="helper"></i>
                                                    <span jhiTranslate="prep.all"></span>
                                                </label>
                                            </div>
                                            <div class="radio radio-matrial radio-danger radio-inline">
                                                <label>
                                                    <input type="radio" name="radio" [(ngModel)]="nullqt" value="notNull" (ngModelChange)="filterByNullQuantity()">
                                                    <i class="helper"></i>
                                                    <span jhiTranslate="entity.inventory.nullqt"></span>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>-->
                             <!-- <div class="col-sm-12 col-xl-6">
                                <form name="searchForm" class="form-inline">
                                    <div class="input-group w-100 mt-3">
                                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{'entity.common.description' | translate }}">
                                    </div>
                                </form>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-xs table-font-sm">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="sort.bind(this)">
                        <th jhiSortBy="itemCode" style="width: 10%;">
                            <span>{{ 'entity.common.code' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="description" style="width: 13%;">
                            <span>{{ 'entity.common.description' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="shelf.id" style="width: 10%;">
                            <span>{{ 'entity.shelf.default' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="shelf.shelvingUnit.id" style="width: 10%;">
                            <span>{{ 'entity.shelvingUnit.default' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="shelf.shelvingUnit.headquarter.id" style="width: 10%;">
                            <span>{{ 'entity.headquarter.default' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="shelf.shelvingUnit.headquarter.company.id" style="width: 10%;">
                            <span>{{ 'entity.company.default' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="presume" style="width: 10%;">
                            <span>{{ 'entity.stockMovement.field.presume' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="effective" style="width:10%;">
                            <span>{{ 'entity.stockMovement.field.effective' | translate }}</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th [hidden]="stockMovementsByShelf.length==0" class="text-right">
                            <button type="submit" title="{{'action.printInventories' | translate}}" (click)="printLastInventoriesReport('pdf')" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-print"></i>
                            </button>
                            <button   type="submit"
                                (click)="printLastInventoriesReport('word')" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                <i class="fa fa-file-word-o"></i>
                        </button>
                            <button type="submit" title="{{'action.saveAllInventories' | translate}}" (click)="confirmSaveAll()" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </th>
                    </tr>
                </thead> 
                
                <tbody style="cursor: pointer;" *ngFor="let it of stockMovementsByShelfMain ; let i = index">
                    <tr >
                        <td> 
                            <span *ngIf="(!showDetail[i]||selectedRow!=it) && (it.stockMovements.length>1)" class="text-success" (click)="displayNestedList(it,i)">
                                <i class="fa fa-plus-square"></i> &nbsp;
                            </span>
                            <span *ngIf="(showDetail[i] && selectedRow==it) && (it.stockMovements.length>1)" class="text-danger" (click)="displayNestedList(it,i)">
                                <i class="fa fa-minus-square"></i> &nbsp;
                            </span>
                            {{it.itemCode}}
                        </td>
                        <td>{{it.description}}</td>
                        <td>
                            <div *ngIf="it.shelf">
                                <a [routerLink]="['../shelf', it.shelf.id ]">{{it.shelf?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="it.shelf?.shelvingUnit">
                                <a [routerLink]="['../shelving-unit', it.shelf.shelvingUnit?.id ]">{{it.shelf?.shelvingUnit?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="it.shelf?.shelvingUnit?.headquarter">
                                <a [routerLink]="['../headquarter', it.shelf.shelvingUnit?.headquarter?.id ]">{{it.shelf?.shelvingUnit?.headquarter?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="it.shelf?.shelvingUnit?.headquarter?.company">
                                <a [routerLink]="['../company', it.shelf.shelvingUnit?.headquarter?.company?.id ]">{{it.shelf?.shelvingUnit?.headquarter?.company?.name}}</a>
                            </div>
                        </td>
                        <td>{{it.stockMovements.length==1?it.stockMovements[0].presume:it.presume}}</td>
                        <td class="text-center">
                            <div class="input-group text-right">
                                <span [hidden]="it.stockMovements.length>1">
                                    <input type="text" name="effective" [(ngModel)]="it.stockMovements[0].effective" class="form-control" style="width: 100%;height: 30px;"
                                        (blur)="updateInventory(it.stockMovements[0],this.stockMovementList)">
                                </span>
                                <span [hidden]="it.stockMovements.length==1">
                                    {{it.effective}}
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                        </td>
                    </tr>
                    <tr *ngIf="showDetail[i] && selectedRow==it">
                        <td></td>
                        <td colspan="4">
                            <table class="table table-striped table-xs table-font-sm">
                                <tr>
                                    <th class="text-center">
                                        <span>{{ 'entity.common.expirationDate' | translate }}</span>
                                    </th>
                                    <th class="text-center">
                                        <span>{{ 'entity.stockMovement.field.presume' | translate }}</span>
                                    </th>
                                    <th class="text-center">
                                        <span>{{ 'entity.common.code' | translate }}</span>
                                    </th>
                                    <th class="text-center">
                                        <span>{{ 'entity.stockMovement.field.effective' | translate }}</span>
                                    </th>
                                    
                                </tr> 
                                    <tr *ngFor="let stock of selectedRow.stockMovements" style="margin-bottom: 2px;">
                                        <td class="text-center">{{stock.deliveredEquipement?.deliveryDate?stock.deliveredEquipement.expirationDate:'-'}}</td>
                                        <td class="text-center">
                                            <div>{{stock.presume}}</div>
                                        </td>
                                        <td class="text-center">
                                            <div>{{stock.product['code']}}</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="col-md-12 text-right">
                                                <div class="input-group text-right">
                                                    <input type="text" name="effective" [(ngModel)]="stock.effective" class="form-control" style="width: 100%;height: 30px;"
                                                        (blur)="updateInventory(stock,this.stockMovementList)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
              </div>
            </table>
        </div>
        <!-- Page-header start 
        <div *ngIf="(stockMovementsByShelfMain && stockMovementsByShelfMain.length != 0); else nothing">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>-->
        <div *ngIf="(stockMovementsByShelfMain && stockMovementsByShelfMain.length != 0); else nothing">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
        <ng-template #nothing>
            <div>
                <span>{{'message.info.emptytab' | translate}}</span>
            </div>
        </ng-template>
    
        <div class="animation-model">
            <form name="editForm" role="form" novalidate (ngSubmit)="executeInventory()" #editForm="ngForm" style="width: 50%; margin: 0 auto">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.headquarter.default" for="field_headquarter"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="selectedHeadquarter?.name" (ngModelChange)="selectedHeadquarter.name=$event" id="field_headquarter"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.headquarter.select' | translate}}"
                                name="headquarter" required>
                            <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('headquarterModal')" ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!selectedHeadquarter && selectedHeadquarter == null" class="input-group-addon pointer" (click)="selectedHeadquarter = null"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                        <div *ngIf="selectedHeadquarter" class="collapsed">
                            <span>
                                <small>
                                    <strong>{{'entity.common.description' | translate}} :</strong> {{selectedHeadquarter?.description}}</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.shelvingUnit.default" for="field_shelvingUnit"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="selectedShelvingUnit?.name" (ngModelChange)="selectedShelvingUnit.name=$event" id="field_shelvingUnit"
                                class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.shelvingUnit.select' | translate}}"
                                name="shelvingUnit">
                            <span class="input-group-addon pointer blue-tooltip" (click)="selectedHeadquarter?openMyModal('shelvingUnitModal'):openBasicSwal('headquarter')"
                                ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!selectedShelvingUnit && selectedShelvingUnit == null" class="input-group-addon pointer" (click)="selectedShelvingUnit = null"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                        <div *ngIf="selectedShelvingUnit" class="collapsed">
                            <span>
                                <small>
                                    <strong>{{'entity.common.description' | translate}} :</strong> {{selectedShelvingUnit?.description}}</small>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.shelf.default" for="field_shelf"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="selectedShelf?.name" (ngModelChange)="selectedShelf.name=$event" id="field_shelf" class="form-control ng-pristine ng-untouched ng-valid"
                                [readOnly]="true" placeholder="{{'entity.shelf.select' | translate}}" name="shelf">
                            <span class="input-group-addon pointer blue-tooltip" (click)="selectedShelvingUnit?openMyModal('shelfModal'):openBasicSwal('shelvingUnit')"
                                ng-style="toBeClicked" style="cursor: pointer;">
                                <i class="fa fa-th"></i>
                            </span>
                            <span [hidden]="!selectedShelf && selectedShelf == null" class="input-group-addon pointer" (click)="selectedShelf = null"
                                ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                        <div *ngIf="selectedShelf" class="collapsed">
                            <span>
                                <small>
                                    <strong>{{'entity.common.description' | translate}} :</strong> {{selectedShelf?.description}}</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                        <span class="fa fa-play"></span>&nbsp;
                        <span jhiTranslate="action.start.label"></span>
                    </button>
                </div>
            </form>
            <!-- animation modal Dialogs start -->
            <app-modal-animation [modalID]="'headquarterModal'" [modalClass]="'md-effect-1'" [backDrop]="true" [modalWidth]="700">
                <h3 jhiTranslate="entity.headquarter.select"></h3>
                <jhi-filter *ngIf="headquarterModal" [entity]="'headquarter'" [path]="'headquarters'" [headers]="['code', 'name', 'description']"
                    (onSelect)="assignHeadquarter($event)"></jhi-filter>
                <button (click)="closeModal('closeHeadquarterBtn')" aria-label="Close" class="md-close-btn" id="closeHeadquarterBtn">
                    <i class="icofont icofont-ui-close"></i>
                </button>
            </app-modal-animation>
            <!-- animation modal Dialogs start -->
            <app-modal-animation [modalID]="'shelvingUnitModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
                <h3 jhiTranslate="entity.shelvingUnit.select"></h3>
                <jhi-filter *ngIf="shelvingUnitModal" [entity]="'shelvingUnit'" [path]="'shelving-units/getShelvingUnitsOfGivenHeadquarter?code=' + selectedHeadquarter.code"
                    [headers]="['code', 'name', 'description']" (onSelect)="assignShelvingUnit($event)"></jhi-filter>
                <button (click)="closeModal('closeShelvingUnitBtn')" aria-label="Close" class="md-close-btn" id="closeShelvingUnitBtn">
                    <i class="icofont icofont-ui-close"></i>
                </button>
            </app-modal-animation>
            <!-- animation modal Dialogs start -->
            <app-modal-animation [modalID]="'shelfModal'" [backDrop]="true" [modalClass]="'md-effect-1'" [modalWidth]="700">
                <h3 jhiTranslate="entity.shelf.select"></h3>
                <jhi-filter *ngIf="shelfModal" [entity]="'shelf'" [path]="'shelves/getShelvesOfGivenShelvingUnit?code=' + selectedShelvingUnit.code"
                    [headers]="['code', 'name', 'description']" (onSelect)="assignShelf($event)"></jhi-filter>
                <button (click)="closeModal('closeShelfBtn')" aria-label="Close" class="md-close-btn" id="closeShelfBtn">
                    <i class="icofont icofont-ui-close"></i>
                </button>
            </app-modal-animation>
        </div>
    </app-card>
    
    <div #inventoryReport style="display: none">
        <div style="width: 800px; margin: 0 auto;font-family: 'Arial';">
            <!-- *ngFor="let printDoc of printQueue; let last=last"> -->
            <div id="page1">
                <div style="position: relative;margin-top: 20px;height: 70px;">
                    <img style="position: absolute;width: 320px;height: 70px;left: 240px" src="../../../content/assets/images/rsz_logo.png" />
                </div>
                <div style="padding: 20px;">
                    <div style="height: 60px; margin-bottom: 20px;font-size: 9pt;">
                        <div style="width: 250px;float: right; padding: 5px; padding-top: 20px">
                            <span style="font-size: 16pt; font-family: 'Times New Roman'; font-weight: bold; line-height: 1.4">Inventory list</span>
                            <br>
                            <span style="font-size: 12pt; font-family: 'Times New Roman'; font-weight: bold; line-height: 1.4">Generation date: &nbsp;&nbsp;{{today | date:'dd/mm/yyyy hh:MM'}}</span>
                        </div>
                    </div>
                  <div *ngFor="let t of tab; let j = index">
                    <div class="page-break" >
                    <div *ngFor="let item of tab[j]; let i = index">
                        <div>
                            <div style="width: 100%; padding: 5px;">
                                <table style="width: 100%;">
                                    <tr *ngIf="i==0 && j==0" style="height: 30px; font-family: 'Arial'; font-size: 11pt">
                                        <td style="text-align: left;padding-left: 10px;padding-top: 5px;vertical-align: top;width: 30%;">
                                            Company name :
                                        </td>
                                        <td style="text-align: left;padding-left: 10px;padding-top: 5px;vertical-align: top;width: 70%;">
                                            {{item.shelf?.shelvingUnit?.headquarter.name}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="(i==0 || tab[j][i-1].shelf?.shelvingUnit?.id != item.shelf?.shelvingUnit?.id) && j==0"
                                        style="height: 30px; font-family: 'Arial'; font-size: 11pt; background-color: rgb(204, 204, 204)">
                                        <td style="text-align: left;padding-left: 10px;padding-top: 5px;vertical-align: top;width: 30%;">
                                            Shelving unit name :
                                        </td>
                                        <td style="text-align: left;padding-left: 10px;padding-top: 5px;vertical-align: top;width: 70%;">
                                            {{item.shelf?.shelvingUnit?.name}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="(i==0 || tab[j][i-1].shelf?.id != item.shelf?.id) && j==0" style="height: 30px; font-family: 'Arial'; font-size: 11pt; color: #ffffff; background-color: rgb(102, 102, 102)">
                                        <td style="text-align: left;padding-left: 10px;padding-top: 5px;vertical-align: top;width: 30%;">
                                            Shelf name :
                                        </td>
                                        <td style="text-align: left;padding-left: 10px;padding-top: 5px;vertical-align: top;width: 70%;">
                                            {{item.shelf?.name}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div >
                            <strong >Product : {{ this.itemPerPageBreak*j + i }}</strong>
                            <table >
                                <tr style="background-color: rgb(204, 204, 204)">
                                    <th style="width: 18%;border: 1px solid gray;text-align: center;">Product</th>
                                    <th style="width: 18%;border: 1px solid gray;text-align: center;">Minimum level</th>
                                    <th style="width: 10%;border: 1px solid gray;text-align: center;">Code</th>
                                    <th style="width: 30%;border: 1px solid gray;text-align: center;">Description</th>
                                    <th style="width: 12%;border: 1px solid gray;text-align: center;">Effective</th>
                                    <th style="width: 12%;border: 1px solid gray;text-align: center;">Presume</th>
                                </tr>
                                <tr style="height: 35px;font-size: 11pt; font-family: 'Times New Roman'; font-weight: 100;">
                                    <td style="border: 1px solid gray;text-align: center;padding-left: 15px;padding-top: 5px;vertical-align: top;">
                                        {{item.stockMovements[0]?.product?.code}}
                                    </td>
                                    <td style="border: 1px solid gray;text-align: center;padding-top: 5px;vertical-align: top;">
                                        {{item.stockMovements[0]?.product?.minimumLevel}}
                                    </td>
                                    <td style="border: 1px solid gray;text-align: center;padding-top: 5px;vertical-align: top;">
                                        {{item.itemCode}}
                                    </td>
                                    <td style="border: 1px solid gray;text-align: center;padding-top: 5px;vertical-align: top;">
                                        {{item.description}}
                                    </td>
                                    <td style="border: 1px solid gray;text-align: center;padding-top: 5px;vertical-align: top;">
                                        {{item.effective}}
                                    </td>
                                    <td style="border: 1px solid gray;text-align: center;padding-top: 5px;vertical-align: top;">
                                        {{item.presume}}
                                    </td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="break-container" *ngIf="item.stockMovements.length>1" style="margin-bottom: 20px;font-size: 11pt;">
                            <div style="width: 450px;float: right; padding: 5px;">
                                <table class="page-break" style="width: 100%;border-collapse: collapse;border: 1px solid gray;">
                                    <tr style="height: 20px;font-weight: bold; font-family: 'Arial'; font-size: 12pt; color: #ffffff; background-color: rgb(102, 102, 102)">
                                        <th style="width: 50%;border: 1px solid gray;text-align: center;">Expiration date</th>
                                        <th style="width: 25%;border: 1px solid gray;text-align: center;">Effective</th>
                                        <th style="width: 25%;border: 1px solid gray;text-align: center;">Presume</th>
                                    </tr>
                                    <tr *ngFor="let stock of item.stockMovements" style="height: 20px;font-size: 11pt; font-family: 'Times New Roman'; font-weight: 100;">
                                        <td style="border: 1px solid gray;text-align: center;padding-top: 2px;vertical-align: top;">
                                            {{stock.deliveredEquipement.expirationDate}}
                                        </td>
                                        <td style="border: 1px solid gray;text-align: center;padding-top: 2px;vertical-align: top;">
                                            {{stock.effective}}
                                        </td>
                                        <td style="border: 1px solid gray;text-align: center;padding-top: 2px;vertical-align: top;">
                                            {{stock.presume}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>