<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 col-xl-6 f-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="shelvingUnits">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 10%">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="name" style="width: 15%">
                        <span jhiTranslate="entity.common.name"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 25%">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="headquarter.name" style="width: 20%">
                        <span jhiTranslate="entity.headquarter.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="headquarter.company.name" style="width: 20%">
                        <span jhiTranslate="entity.company.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shelvingUnit of shelvingUnits ;trackBy: trackId">
                    <td>{{shelvingUnit.code}}</td>
                    <td>{{shelvingUnit.name}}</td>
                    <td>{{shelvingUnit.description}}</td>
                    <td>
                        <div *ngIf="shelvingUnit.headquarter">
                            <a [routerLink]="['../headquarter', shelvingUnit.headquarter?.id ]">{{shelvingUnit.headquarter?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shelvingUnit.headquarter.company">
                            <a [routerLink]="['../company', shelvingUnit.headquarter.company?.id ]">{{shelvingUnit.headquarter.company?.name}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <button data-toggle="tooltip" data-placement="top" title="{{'entity.shelf.plural' | translate}}" type="submit" [routerLink]="['/inventory/shelfunit/', shelvingUnit.id ,'product']" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(shelvingUnits && shelvingUnits.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
    </button>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>