<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-sm-12 col-xl-6 f-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="shelvesContainsProducts">
        <table class="table table-striped table-xs">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="code" style="width: 5%">
                        <span jhiTranslate="entity.common.code"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="name" style="width: 10%">
                        <span jhiTranslate="entity.common.name"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="description" style="width: 10%">
                        <span jhiTranslate="entity.common.description"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="barCode" style="width: 15%">
                        <span jhiTranslate="entity.common.barCode"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.name" style="width: 10%">
                        <span jhiTranslate="entity.shelvingUnit.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="shelvingUnit.headquarter.name" style="width: 15%">
                        <span jhiTranslate="entity.headquarter.default"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="quantity" style="width: 10%">
                        <span jhiTranslate="entity.common.quantity"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shelvesContainsProduct of shelvesContainsProducts">
                    <td>{{shelvesContainsProduct.code}}</td>
                    <td>{{shelvesContainsProduct.name}}</td>
                    <td>{{shelvesContainsProduct.description}}</td>
                    <td>{{shelvesContainsProduct.barCode}}</td>
                    
                    <td>
                        <div *ngIf="shelvesContainsProduct.shelvingUnit">
                            <a [routerLink]="['/shelving-unit', shelvesContainsProduct.shelvingUnit?.id ]">{{shelvesContainsProduct.shelvingUnit?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shelvesContainsProduct.shelvingUnit.headquarter">
                            <a [routerLink]="['/headquarter', shelvesContainsProduct.shelvingUnit.headquarter?.id ]">{{shelvesContainsProduct.shelvingUnit.headquarter?.name}}</a>
                        </div>
                    </td>
                     
                    <td><span [hidden]="showQtBtn" >{{shelvesContainsProduct.qt}}</span>
                        <div class="text-right">
                            <input [hidden]="!showQtBtn" type="number" class="form-control" name="shelvesContainsProductQt" id="field_shelvesContainsProductQt" [(ngModel)]="shelvesContainsProduct.qt"
                            
                            />
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="submit" [routerLink]="['/product', shelvesContainsProduct.product ]"  class="btn btn-info btn-outline-info btn-icon btn-table-action">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="submit" (click) = "openEdit(shelvesContainsProduct)" replaceUrl="true"  class="btn btn-info btn-outline-info btn-icon btn-table-action">
                             <i class="fa fa-pencil"></i>
                        </button>
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(shelvesContainsProducts && shelvesContainsProducts.length); else nothing">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{'action.back.tooltip' | translate}}"></span>
    </button>
    <ng-template #nothing>
        <div>
            <span>{{'message.info.emptytab' | translate}}</span>
        </div>
    </ng-template>
</app-card>