<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="myHeadquarterLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.headquarter.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.headquarter.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.code" for="field_code"></label>
                <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="headquarter.code" required maxlength="32"
                />
                <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="message.error.required">
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                        translateValues="{ max: 32 }">
                    </small>
                </div>
                <small class="form-text text-danger" [hidden]="!existCode"> 
                    {{ 'message.error.codeExist' | translate}}
                </small>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.name" for="field_name"></label>
                <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="headquarter.name" required />
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="message.error.required">
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
                <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="headquarter.description" maxlength="256"
                />
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                        translateValues="{ max: 256 }">
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="entity.company.default" for="field_company"></label>
                <div class="input-group w-100 mt-0 mb-0">
                    <input type="text" [ngModel]="descriptionCompany" (ngModelChange)="headquarter.company.code=$event" id="field_company"
                        class="form-control ng-pristine ng-untouched ng-valid" [readOnly]="true" placeholder="{{'entity.company.select' | translate}}"
                        name="company" required>
                    <span class="input-group-addon pointer blue-tooltip" (click)="openMyModal('companyModal')" ng-style="toBeClicked" style="cursor: pointer;">
                        <i class="fa fa-th"></i>
                    </span>
                    <span [hidden]="!headquarter.company && headquarter.company == null" class="input-group-addon pointer" (click)="headquarter.company = null;descriptionCompany=''"
                        ng-style="toBeClicked" style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                        <i class="fa fa-undo"></i>
                    </span>
                </div>
                
            </div>
            <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="message.error.required">
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.headquarter.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'companyModal'" [modalClass]="'md-effect-1'" [modalWidth]="700" [backDrop]="true">
        <h3 jhiTranslate="entity.company.select"></h3>
        <jhi-filter *ngIf="companyModal" [entity]="'company'" [path]="'companies'" [headers]="['code', 'description']" (onSelect)="assignCompany($event)"></jhi-filter>
        <button (click)="closeModal('closeCompanyBtn')" aria-label="Close" class="md-close-btn" id="closeCompanyBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>