.md-modal{
    width:100%;
    max-width:700px;
    height:600px !important;
}
.md-dialog-container {  
    background-color: #000;    
    width: 600px;     
    height: 600px;
    }
.red{
    color: red;
    background-color: red;
}
.dot {
    height: 25px;
    width: 25px;
    background-color:  red;
    border-radius: 50%;
    display: inline-block;
  }
