<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
    <div *ngIf="product">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="table table-striped table-de table-xs table-font-sm">
                <tr>
                    <th><span jhiTranslate="entity.common.code"></span></th>
                    <td><span>{{product.code}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.common.description"></span></th>
                    <td><span>{{product.description}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.product.field.lastAnalyse"></span></th>
                    <td><span>{{product.lastAnalyse | date:'medium'}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.product.field.actualQuantity"></span></th>
                    <td><span>{{product.actualQuantity}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.product.field.minimumLevel"></span></th>
                    <td><span>{{product.minimumLevel}}</span></td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.measureUnit.default"></span></th>
                    <td>
                        <div *ngIf="product.measureUnit">
                            <small>{{'entity.common.code' | translate}}: </small>
                            <a [routerLink]="['/measure-unit', product.measureUnit?.id]">{{product.measureUnit?.code}}</a>
                            <p>
                                <small>{{'entity.common.description' | translate}}: </small>{{product.measureUnit?.description}}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><span jhiTranslate="entity.productType.default"></span></th>
                    <td>
                        <div *ngIf="product.productType" class="table-responsive">
                            <table class="table table-striped table-de table-xs table-font-sm">
                                <tr>
                                    <th><span>{{'entity.common.code' | translate}} </span></th>
                                    <td><a [routerLink]="['/product-type', product.productType?.id]">{{product.productType?.code}}</a></td>
                                </tr>
                                <tr>
                                    <th><span>{{'entity.common.description' | translate}}: </span></th>
                                    <td>{{product.productType?.description}}</td>
                                </tr>
                            </table>
                        </div> 
                    </td>
                </tr>
            </table>
        </div>
        
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span jhiTranslate="action.back.label" placement="bottom" ngbTooltip="{{ 'action.back.tooltip' | translate }}"></span>
        </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="action.edit.label" placement="bottom" ngbTooltip="{{ 'action.edit.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.product.min' | translate) } }}"></span>
        </button>
    </div>
</app-card>