<app-card [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper" style="padding: 0px;">
                <!-- Page-header start -->
                <div class="page-header">
                    <div style="padding: 0px;">
                        <div class="row">
                            <div class="col-sm-12 col-xl-4">
                                <div class="form-radio">
                                    <div class="input-group w-100 mt-3">
                                        <form>
                                            <div class="radio radio-matrial radio-default radio-inline">
                                                <label>
                                                    <input type="radio" name="radio" [(ngModel)]="supply" value="All" (ngModelChange)="search(currentSearch)">
                                                    <i class="helper"></i>
                                                    <span jhiTranslate="prep.all"></span>
                                                </label>
                                            </div>
                                            <div class="radio radio-matrial radio-danger radio-inline">
                                                <label>
                                                    <input type="radio" name="radio" [(ngModel)]="supply" value="US" (ngModelChange)="search(currentSearch)">
                                                    <i class="helper"></i>
                                                    <span jhiTranslate="entity.product.supply"></span>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xl-6">
                                <form name="searchForm" class="form-inline">
                                    <div class="input-group w-100 mt-3">
                                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'entity.common.code' | translate }}, {{ 'entity.common.description' | translate }}">
                                        <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                            <span class="fa fa-search"></span>
                                        </button>
                                        <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch" placement="bottom" ngbTooltip="{{ 'action.search.clear.tooltip' | translate }}">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 col-xl-2">
                                <button class="btn btn-primary btn-outline-primary btn-grand pull-right" title="{{'action.underSupply' | translate}}" (click)="executeUnderSupply()">
                                    <span class="fa fa-play"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
            </div>
        </div>
        <div class="table-responsive" *ngIf="products">
            <table class="table table-striped table-de table-xs table-font-sm">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th style="width: 13%">
                            <span jhiTranslate="entity.short.detail"></span>
                            <i class="fa fa-adjust" aria-hidden="true"></i>
                        </th>
                        <th jhiSortBy="code" style="width: 10%">
                            <span jhiTranslate="entity.short.code"></span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="description" style="width: 20%">
                            <span jhiTranslate="entity.short.description"></span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="minimumLevel" style="width: 8%">
                            <span jhiTranslate="entity.product.short.minimumLevel"></span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="actualQuantity" style="width: 8%">
                            <span jhiTranslate="entity.product.short.actualQuantity"></span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="productType.id" style="width: 8%">
                            <span jhiTranslate="entity.productType.short.default"></span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="measureUnit.id" style="width: 8%">
                            <span jhiTranslate="entity.measureUnit.short.default"></span>
                            <span class="fa fa-sort"></span>
                        </th>
                        
                        <th class="text-right">
                            <button type="submit" [routerLink]="['/', { outlets: { popup: ['product-new'] } }]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-plus"></i>
                            </button>
                             
                            <button   type="submit"
                                (click)="loadProductsPdf('pdf')" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                <i class="fa fa-print"></i>
                            </button>
                            <button   type="submit"
                                (click)="loadProductsWord('word')" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                <i class="fa fa-file-word-o"></i>
                            </button>
                            <button   type="submit"
                            (click)="open()" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                 <i class="fa fa-upload" aria-hidden="true"></i>
                            </button>
                            <!--<div class="btn-group">
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  print
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" (click)="loadProductsPdf('pdf')">Pdf</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" (click)="loadProductsPdf('word')">Word</a>
                                </div>
                              </div>
                            <button   type="submit"
                            (click)="open()" class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                 <i class="fa fa-upload" aria-hidden="true"></i>
                            </button> 
                            -->                              
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products ;trackBy: trackId">
                        <td class="text-right">
                            <button data-toggle="tooltip" data-placement="top" title="{{'entity.shelf.plural' | translate}}" type="submit" [routerLink]="['../product/shelf', product.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <button type="submit" data-toggle="tooltip" data-placement="top" title="{{'entity.commande.short.default' | translate}}" [routerLink]="['../product/commande', product.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </button>
                            <button type="submit"  data-toggle="tooltip" data-placement="top" title="{{'entity.article.plural' | translate}}" [routerLink]="['../product/article', product.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-book" aria-hidden="true" ></i>
                            </button>
                            <button type="submit" data-toggle="tooltip" data-placement="top" title="{{'entity.kit.plural' | translate}}" [routerLink]="['../product/kit', product.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>{{product.code}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.minimumLevel}}</td>
                        <td>{{product.actualQuantity}}</td>
                        <td>
                            <div *ngIf="product.productType">
                                <a [routerLink]="['../product-type', product.productType?.id ]">{{product.productType?.code}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="product.measureUnit">
                                <a [routerLink]="['../measure-unit', product.measureUnit?.id ]">{{product.measureUnit?.code}}</a>
                            </div>
                        </td>
                        
                        <td class="text-right">
                            <button type="submit" [routerLink]="['../product', product.id ]" class="btn btn-info btn-outline-info btn-icon btn-table-action">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                                class="btn btn-primary btn-outline-primary btn-icon btn-table-action">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                                class="btn btn-danger btn-outline-danger btn-icon btn-table-action">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="(products && products.length); else nothing">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
        <ng-template #nothing>
            <div>
                <span>{{'message.info.emptytab' | translate}}</span>
            </div>
        </ng-template>
 </app-card>