<div class="animation-model">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="myProductLabel" jhiTranslate="action.createOrEdit.label" translateValues="{prep1: '{{'prep.unknown_mas_min_cons' | translate}}', prep2: '{{'prep.nouveau' | translate}}', entity: '{{'entity.product.min' | translate}}'}"
                placement="bottom" ngbTooltip="{{ 'action.createOrEdit.tooltip' | translate:{ prep1:('prep.unknown_mas_min_cons' | translate), prep2:('prep.nouveau' | translate), entity:('entity.product.min' | translate) } }}"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group" *ngIf = "codeShow">
                        <label class="form-control-label" jhiTranslate="entity.common.code" for="field_code"></label>
                        <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="product.code" required maxlength="32" [disabled]="true" />
                        <!--<div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                translateValues="{ max: 32 }">
                            </small>  
                        </div>
                        <small class="form-text text-danger" [hidden]="!existCode"> 
                            {{ 'message.error.codeExist' | translate}}
                        </small>-->
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.product.field.minimumLevel" for="field_minimumLevel"></label>
                        <input type="number" class="form-control" name="minimumLevel" id="field_minimumLevel" [(ngModel)]="product.minimumLevel"
                            min="5" required pattern="^[5-9]$|[0-9]{2,}$" />
                        <div [hidden]="!(editForm.controls.minimumLevel?.dirty && editForm.controls.minimumLevel?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.minimumLevel?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.controls.minimumLevel?.errors?.pattern" jhiTranslate="message.error.min"
                                translateValues="{ min: 5 }">
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.common.description" for="field_description"></label>
                        <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="product.description" maxlength="256"
                       required />
                        <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="message.error.required">
                            </small>
                            <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="message.error.maxlength"
                                translateValues="{ max: 256 }">
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label"  jhiTranslate="entity.product.field.actualQuantity" for="field_actualQuantity"></label>
                        <input type="number" [readonly]="true" class="form-control" name="actualQuantity" id="field_actualQuantity" [(ngModel)]="product.actualQuantity"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.productType.default" for="field_productType"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text"   [ngModel]="descriptionType"  (ngModelChange)="product.productType.code=$event" id="field_productType"
                                class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.productType.select' | translate}}"
                                name="productType" required>
                            <span class="input-group-addon pointer" (click)="openMyModal('productTypeModal')" ng-style="toBeClicked" style="cursor: pointer;"
                                title="{{'entity.productType.select' | translate}}">
                                <i class="fa fa-th"></i> 
                            </span>
                            <span *ngIf="product.productType" class="input-group-addon pointer" (click)="onNullType()" ng-style="toBeClicked"
                                style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                        
                    </div>
                    <div [hidden]="!(editForm.controls.productType?.dirty && editForm.controls.productType?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.productType?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.product.field.lastAnalyse" for="field_lastAnalyse"></label>
                        <div class="d-flex">
                            <input id="field_lastAnalyse" type="datetime-local" class="form-control" name="lastAnalyse" [(ngModel)]="product.lastAnalyse"
                                step="1" [disabled]="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.measureUnit.default" for="field_measureUnit"></label>
                        <div class="input-group w-100 mt-0 mb-0">
                            <input type="text" [ngModel]="descriptionUnit" (ngModelChange)="product.measureUnit.code=$event" id="field_measureUnit"
                                class="form-control ng-pristine ng-untouched ng-valid" [readonly]="true" placeholder="{{'entity.measureUnit.select' | translate}}"
                                name="measureUnit" required>
                            <span class="input-group-addon pointer" (click)="openMyModal('measureUnitModal')" ng-style="toBeClicked" style="cursor: pointer;"
                                title="{{'entity.measureUnit.select' | translate}}">
                                <i class="fa fa-th"></i>
                            </span>
                            <span *ngIf="product.measureUnit" class="input-group-addon pointer" (click)="onNullMeasureUnit()" ng-style="toBeClicked"
                                style="cursor: pointer;" title="{{'action.cancel.label' | translate}}">
                                <i class="fa fa-undo"></i>
                            </span>
                        </div>
                    </div>
                    <div [hidden]="!(editForm.controls.measureUnit?.dirty && editForm.controls.measureUnit?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.measureUnit?.errors?.required" jhiTranslate="message.error.required">
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="action.cancel.label" placement="bottom" ngbTooltip="{{ 'action.cancel.tooltip' | translate }}"></span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="action.save.label" placement="bottom" ngbTooltip="{{ 'action.save.tooltip' | translate:{ prep:('prep.known_mas_min' | translate), entity:('entity.product.min' | translate) } }}"></span>
            </button>
        </div>
    </form>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'measureUnitModal'" [backDrop]="true"  [modalHeight]="2000" [modalWidth]="2000">
        <h3 jhiTranslate="entity.measureUnit.select"></h3>
        <jhi-filter [entity]="'measureUnit'" [path]="'measure-units'" [headers]="['code', 'description']" (onSelect)="assignMeasureUnit($event)">

        </jhi-filter>
        <button (click)="closeModal('closeMeasureUnitBtn')" aria-label="Close" class="md-close-btn" id="closeMeasureUnitBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
    <!-- animation modal Dialogs start -->
    <app-modal-animation [modalID]="'productTypeModal'" [backDrop]="true" [modalClass]="'md-effect'" [modalWidth]="2000">
        <h3 jhiTranslate="entity.productType.select"></h3>
        <jhi-filter *ngIf="productTypeModal"  [entity]="'productType'" [path]="'product-types'" [headers]="['code', 'description']" (onSelect)="assignProductType($event)"></jhi-filter>
        <button (click)="closeModal('closeProductTypeBtn')" aria-label="Close" class="md-close-btn" id="closeProductTypeBtn">
            <i class="icofont icofont-ui-close"></i>
        </button>
    </app-modal-animation>
</div>