.table-scrolled tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}
.table-scrolled {
  height: 300px;
}
.table-scrolled tbody {
  overflow-y: scroll;
  height: 222px;
  position: absolute;
}