/* after changing this file run 'yarn run webpack:build' */
$fa-font-path: '~font-awesome/fonts';

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
// Override Boostrap variables
@import "bootstrap-variables";
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

/* jhipster-needle-scss-add-vendor JHipster will add new css style */

.table.table-xs td, .table.table-xs th {
  padding: 0.4rem 0.5rem !important;
}

.table-font-sm {
  font-size: 0.825em !important;
}

.table-font-sm a {
  font-size: 0.925em !important;
}

.table-modal th {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  border-top: 0;
  background: #333;
  color: #fff;
}

.table-modal td {
  font-weight: normal;
  font-size: 12px;
  border-top: 0;
  max-height: 20px;
  background: #333;
  color: #fff;
}

.swal2-container {
  z-index: 9999999999999999 !important;
}

.wizard {
  min-height: 20em !important;
}

table {
  table-layout: fixed;
}

.table > thead:first-child > tr:first-child > th:nth-child(n) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > tbody > tr > td:nth-child(n) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > tbody > tr > td:nth-child(n):hover {
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
}

.modal-norm > div:first-child {
    max-width: 1100px;
    min-width: 971px;
}
.modal-medium {
  margin: 0 auto;
  width: 60%;
}
.modal-dialog {
  margin-top: 100px !important;
  max-height:1000px !important;
  height:100%;
}
.modal-big {
  width: 140% !important;
  max-width: 1020px !important;
}

.collapsed {
  display: inline-block;
  max-width: 250px;
  background: green;
  box-shadow: 2px 2px 3px #aaaaaa;
  font-size: 1em;
  padding: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  color: #fff;
}

.collapsed:hover {
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
}



  .widgettitle {
    background: #337ab7;
    color: #fff;
    padding: 12px 15px;
    font-size: 14px;
    white-space: normal;
    height: auto;
}
.clickable {
  font-size: 14px;
  cursor: pointer;
}
.fa-16 {
  font-size: 16px;
}
.tenRMargin {
  margin-right: 10px;
}
  /* Ensure that the demo table scrolls */
  th, td { white-space: nowrap; }
  div.dataTables_wrapper {
      width: 800px;
      margin: 0 auto;
  }

  a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}

.btn-grand {
font-size: 30px !important;
border: none !important;
}
.modal-lg {
  width:100%;
  max-width: 1000px !important;
  max-height:1000px !important;
  height:100%;
}

.md-modal{
  width:100%;
  max-width:800px !important;
  max-height:800px !important;
  height:100%;
}

/*.ng-star-inserted td:active {
  background-color: rgb(253, 255, 220);
  color:#660000;
}
.ng-star-inserted td:focus {
  background-color: rgb(253, 255, 220);
  color:#660000;
}*/

.md-content .ng-star-inserted td:hover {
  background-color: rgba(0, 115, 170, 0.93) !important;
}

.table-modal th {
  background-color:rgb(7, 7, 7);
  color:#ffffff;
}
.table-modal td {
  background-color:#ccc;
  color:#000000;
}
/*html.no-js body.modal-open 
ngb-modal-window.modal.fade.show 
div.modal-dialog.modal-lg 
div.modal-content jhi-product-dialog 
div.animation-model app-modal-animation 
div#productTypeModal.md-modal.md-effect.md-show div.md-content 
jhi-filter.ng-star-inserted div.p-10 div.table-responsive.ng-star-inserted*/ 
.ng-star-inserted .table-responsive.ng-star-inserted 
 table.table.table-striped.table-xs.table-modal.ng-star-inserted .ng-star-inserted 
 tr.ng-star-inserted:hover{
  background-color: rgba(0, 115, 170, 0.93) !important;
}
.mvtClass:hover {
  background-color: rgba(0, 115, 170, 0.93) !important;
}
.mvtClassSelcted {
  background-color: rgba(170, 0, 0, 0.93) !important;
}
/*tr.ng-star-inserted:hover{
  background-color: rgba(0, 115, 170, 0.93) !important;
}
.md-content tr.ng-star-inserted:hover{
  background-color: rgba(0, 115, 170, 0.93) !important;
}
.md-content .ng-star-inserted tr:hover {
  background-color: rgba(0, 115, 170, 0.93) !important;
  //color:#660016;
}*/
 
.ticket-font :hover{
  color: white;
}